﻿@{
	ViewData["Title"] = "Access denied";
}
<section class=" bg-green-500 body-font relative">
	<div class="container px-5 py-24 mx-auto">
		<div class="flex flex-col text-center w-full mb-12">
			<h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">@ViewData["Title"]</h1>
			<p class="lg:w-2/3 mx-auto leading-relaxed text-base">
				You do not have access to this resource.
			</p>
		</div>
	</div>
</section>
