﻿@{
    ViewData["Title"] = "Confirm email";
    Layout = "/Views/Shared/_Landing_Layout.cshtml";
}
<br /><br />
<section style="text-align:center;">
    <div class="container" style="text-align:center;">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4" style="text-align:center;">
                <div class="card">
                    <div class="card-body">
                        <h1>@ViewData["Title"]</h1>
                        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
                            Thank you for confirming your email.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-block btn-primary" asp-action="Login">Continue to Login</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
	
	
</section>
