﻿
@model AbnApplicationPortal.Core.Models.DashboardVm.DashboardViewModel

@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Dashboard";
}

<div class="page-head">
    <h4 class="mt-2 mb-2">Dashboard</h4>
</div>
<div class="row">
    <div class="col-lg-12 col-sm-12">
        <div class="row">
            <div class="col-lg-3 col-sm-3">
                <div class="widget-box bg-white m-b-30">
                    <div class="row d-flex align-items-center">
                        <div class="col-6">
                            <div class="text-center"><i class="ti ti-eye"></i></div>
                        </div>
                        <div class="col-6">
                            <h2 class="m-0 counter">@Model.ApplicationCount</h2>
                            <p>Total Applications</p>
                        </div>
                        <div class="col-6 offset-6">
                            <div class="dynamicbar">Loading..</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="widget-box bg-white m-b-30">
                    <div class="row d-flex align-items-center text-center">
                        <div class="col-6">
                            <div class="text-center"><i class="ti ti-user"></i></div>
                        </div>
                        <div class="col-6">
                            <h2 class="m-0 counter">@Model.ApprovedCount</h2>
                            <p>Total Appproved Applications</p>
                        </div>
                        <div class="col-12">
                            <div class="inlinesparkline">Loading..</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="widget-box bg-white m-b-30">
                    <div class="row d-flex align-items-center">
                        <div class="col-6">
                            <div class="text-center"><i class="fa fa-user-plus"></i></div>
                        </div>
                        <div class="col-6">
                            <h2 class="m-0 counter">@Model.PendingCount</h2>
                            <p>Pending Applications</p>
                        </div>
                        <div class="col-6 offset-6">
                            <div class="dynamicbar">Loading..</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="widget-box bg-white m-b-30">
                    <div class="row d-flex align-items-center">
                        <div class="col-6">
                            <div class="text-center"><i class="fa fa-users"></i></div>
                        </div>
                        <div class="col-6">
                            <h2 class="m-0 counter">@Model.DefermentCount</h2>
                            <p>Total Deferments</p>
                        </div>
                        <div class="col-12">
                            <div class="inlinesparkline">Loading..</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-4 col-sm-12">
        <div class="card m-b-30">
            <div class="card-body">
                <h5 class="header-title pb-3">Applications 2020/2021</h5>
                <div id="morris-donut-chart"></div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-sm-12">
        <div class="card m-b-30">
            <div class="card-body">
                <h5 class="header-title pb-3">Annual applications</h5>
                <div id="extra-area-chart"></div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-sm-12">
        <div class="card m-b-30">
            <div class="card-body">
                <h5 class="header-title pb-3">Payment overview</h5>
                <div id="morris-line-chart"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-sm-12">
        <div class="card m-b-30">
            <div class="card-body">
                <h5 class="header-title pb-3">Top Programmes type Applied</h5>
                <div id="morris-bar-chart" style="height: 360px;"></div>
            </div>
        </div>
    </div>

</div>
