﻿@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "/Views/Shared/_Auth_Layout.cshtml";
    }
    <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" role="form" class="text-center contact-form">
        <div class="alert alert-info alert-dismissable mt-4">
            <button type="button" class="close text-white" data-dismiss="alert" aria-hidden="true">×</button>
            Enter your <b>Email</b> and instructions will be sent to you!
        </div>
        <div class="form-group mt-5">
            <div class="input-group">
                <input type="email" class="form-control" asp-for="Email" placeholder="Enter Email" required="required">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 mt-3 px-0">
                <button class="btn btn-primary btn-block btn-rounded" type="submit">Reset</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="offset-4">
            <a class="btn btn-danger btn-rounded" asp-controller="Home" asp-action="Login">Back To Login</a>
        </div>
    </div>