﻿@{
	ViewData["Title"] = "Locked out";
}
<header>
	<h4 class="text-danger">@ViewData["Title"]</h4>
	<p class="text-danger">This account has been locked out, please try again later.</p>
	<hr />
	<p class="text-center">
		<a asp-controller="Home" asp-action="Login">Back to Login</a>
	</p>
</header>
