﻿@model LoginViewModel
@inject IClientSettingsService settings;
@{
    var client = settings.Read().Data;
    ViewData["Title"] = "Log in";
    Layout = "/Views/Shared/_Auth_Layout.cshtml";
}

    <div class="card-title text-center">
        <img src="~/@client.LogoUrl" width="128px" alt="@client.ClientName" class="">
        <h5 class="mt-3"><b>Welcome to @client.ClientName</b></h5>
    </div>
    <form class="form mt-5 contact-form" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
        <div asp-validation-summary="All"></div>
        <div class="form-group ">
            <div class="col-sm-12">
                <input asp-for="Email" class="form-control form-control-line" type="text" placeholder="Username" required="required">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group ">
            <div class="col-sm-12">
                <input asp-for="Password" class="form-control form-control-line" type="password" placeholder="Password" required="required">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-12">
                <label class="cr-styled">
                    <input type="checkbox" checked>
                    <i class="fa"></i>
                    Remember me
                </label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12 mt-4">
                <button class="btn btn-primary btn-block btn-rounded" type="submit">Log In</button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12 mt-4 text-center">
                <a asp-action="ForgotPassword"><i class="fa fa-lock m-r-5"></i> Forgot password?</a>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12 mt-4 text-center">
                <a asp-action="Register"><i class="fa fa-sign-in m-r-5"></i> I dont have an account</a>
            </div>
        </div>
    </form>
    