﻿@model RegisterViewModel
@inject IClientSettingsService settings;
@inject IDropDownService _dropDownService;
@{
    var client = settings.Read().Data;
    ViewData["Title"] = "Register";
    Layout = "/Views/Shared/_Auth_Layout.cshtml";
}

<div class="card-title text-center">
    <img src="~/@client.LogoUrl" width="128px" alt="" class="">
    <h5 class="mt-3"><b>Register</b></h5>
</div>
<form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal form-material">
    <input type="hidden" asp-for="Role" value="@PrimaryRole.Applicant" />
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <div class="col-lg-12">
            <input asp-for="SurName" class="form-control form-control-line" type="text" placeholder="Surname" required="required">
            <span asp-validation-for="SurName" class="text-white text-sm"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-12">
            <input asp-for="OtherNames" class="form-control form-control-line" type="text" placeholder="Other names" required="required">
            <span asp-validation-for="OtherNames" class="text-white text-sm"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-12">
            <input asp-for="Email" class="form-control form-control-line" type="email" placeholder="Email address" required="required">
            <span asp-validation-for="Email" class="text-white text-sm"></span>
        </div>
    </div>
    @if (!client.IsSaga)
    {
        <div class="form-group ">
            <div class="col-lg-12">
                <input asp-for="KcseIndexNo" class="form-control form-control-line" required="required" type="text" placeholder="KCSE Index No">
            </div>
        </div>
    }
    @if (!client.SimpleProfile)
    {
        <div class="form-group ">
            <div class="col-lg-12">
                <select asp-for="IdDocumentName" class="form-control form-control-line" required="required">
                    <option value="">Select Identification document</option>
                    @foreach (var item in await _dropDownService.IdDocuments())
                    {
                        <option value="@item.Name" title="@item.Description">@item.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group ">
            <div class="col-lg-12">
                <input required asp-for="IdDocumentNumber" class="form-control form-control-line" type="text" placeholder="Identification document number">
                <span asp-validation-for="IdDocumentNumber" class="text-danger"></span>
            </div>
        </div>
    }

        <div class="form-group ">
            <div class="col-lg-12">
                <input asp-for="Password" class="form-control form-control-line" id="password" type="password" placeholder="Password" required="required">
                @*<i class="fa fa-eye-slash" id="togglePassword"></i>*@
                <span asp-validation-for="Password" class="text-white text-sm"></span>
            </div>
        </div>

        <div class="form-group ">
            <div class="col-lg-12">
                <input asp-for="ConfirmPassword" class="form-control form-control-line" type="password" placeholder="Confirm Password" required="required">
                <span asp-validation-for="ConfirmPassword" class="text-white text-sm"></span>
            </div>
        </div>


        <div class="form-group ">
            <div class="col-lg-12 mt-4">
                <button class="btn btn-success btn-block btn-rounded" type="submit">Sign Up</button>
            </div>
        </div>
    </form>
<div style="text-align:center;">
    <span>Already have an account?</span>
</div>

<div class="form-group">
    <div class="col-sm-12 mt-4 text-center">
        <a asp-action="Login"><i class="fa fa-sign-in m-r-5"></i> I have an account</a>
    </div>
</div>

@section Scripts {
    <script>
        //const togglePassword = document.querySelector('#togglePassword');
        //const password = document.querySelector('#password');

        //togglePassword.addEventListener('click', function (e) {
        //    // toggle the type attribute
        //    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        //    password.setAttribute('type', type);
        //    // toggle the eye / eye slash icon
        //    this.classList.toggle('fa-eye');
        //});
    </script>
}