﻿@{
	ViewData["Title"] = "Reset password confirmation";
}

<section class=" bg-green-500 body-font relative">
	<div class="container px-5 py-24 mx-auto">
		<div class="flex flex-col text-center w-full mb-12">
			<h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">@ViewData["Title"]</h1>
			<p class="lg:w-2/3 mx-auto leading-relaxed text-base">
				Your password has been reset.
			</p>
		</div>
		<div class="p-2 w-full pt-8 mt-8 border-t border-gray-200 text-center">
			<a class="text-white" asp-action="Login">Back to Login</a>
		</div>
	</div>
</section>
