﻿
@inject IClientSettingsService _clientSettings
@{
    var settings = _clientSettings.Read().Data;
    var layout = _clientSettings.Layout().Data;


}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Abno University">
    <meta name="keyword" content="">

    <title>@settings.AppName @settings.AppVersion - @ViewData["Title"]</title>

    <!-- Theme icon -->
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">

    <!--Form Wizard-->
    <link href="~/assets/plugins/form-wizard/jquery.steps.css" rel="stylesheet" type="text/css" />

    <!-- Theme Css -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/css/slidebars.min.css" rel="stylesheet">
    <link href="~/assets/css/icons.css" rel="stylesheet">
    <link href="~/assets/css/menu.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/css/inputShowPwd.css" rel="stylesheet">
    <style>
        form i {
            margin-left: -30px;
            cursor: pointer;
        }
    </style>
</head>

<body class="sticky-header">
    <section class="bg-login">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="wrapper-page">
                        <div class="account-pages">
                            <div class="card m-b-30 mt-4">
                                <div class="card-body row">

                                    <div class="col-lg-6 col-sm-12 ">
                                        @{ var path = string.IsNullOrEmpty(layout.CurrentIntakeImage) ? "assets/images/file-image3.jpg" : layout.CurrentIntakeImage;}

                                        <img src="~/@path" width="100%" alt="@settings.ClientName">
                                    </div>
                                    <div class="col-lg-6 col-sm-12">
                                        @RenderBody()
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- jQuery -->
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery-migrate.js"></script>
    <script src="~/assets/js/modernizr.min.js"></script>
    <script src="~/assets/js/jquery.slimscroll.min.js"></script>
    <script src="~/assets/js/slidebars.min.js"></script>

    <script src="~/assets/plugins/form-wizard/jquery.steps.min.js"></script>
    <script src="~/assets/plugins/jquery.validate/jquery.validate.min.js"></script>
    <script src="~/assets/pages/jquery.wizard.init.js"></script>

    <!--app js-->
    <script src="~/assets/js/jquery.app.js"></script>
    @RenderSection("Scripts", false);
</body>
</html>
