﻿@using Microsoft.AspNetCore.Identity
@inject IClientSettingsService _clientSettings
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IDropDownService _dropDownService;
@{
    var isSignedIn = SignInManager.IsSignedIn(User);
    var user = await UserManager.GetUserAsync(User);
    var settings = _clientSettings.Read().Data;
    var layout = _clientSettings.Layout().Data;
    var paid = settings.AllowPartialPayments ? "Yes" : "";
    var titleHeader = settings.ClientName;

    string[] titleArray = titleHeader.ToString().Split(' ');
    int titleLength = titleArray.Count();
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>@settings.AppName @settings.AppVersion - @ViewData["Title"]</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <!--Font awesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/css/card.css" rel="stylesheet">

    <link href="~/assets/css/hover-min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/stylez.css">

    <style>
        .services .icon-box:hover::before {
            background: @settings.PrimaryColor;
        }
        .services .icon i {
            color: @settings.PrimaryColor;
        }
        .back-to-top i {
            background: @settings.PrimaryColor;
        }

        button {
            background: @settings.PrimaryColor;
        }

        .section-title h2 {
            color: @settings.SecondaryColor;
            border-left: 5px solid @settings.PrimaryColor;
        }
         .section-title h2::before,
         .section-title h2::after {
	        background: @settings.SecondaryColor;
        }


    </style>
</head>

<body>
    <input type="hidden" id="primary-color" value=@settings.PrimaryColor />
    <input type="hidden" id="secondary-color" value=@settings.SecondaryColor />
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center">

            <div class="row col-lg-12 mb-3">
                <div class="col-lg-6">
                    <h2>
                        <a href="@Url.Action("Index","Home")" class="text-dark font-weight-bold">
                            <span>@titleHeader</span>
                        </a>
                    </h2>
                    <!-- Uncomment below if you prefer to use an image logo -->
                    <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

                </div>
                <div class="col-lg-6">
                    <nav class="nav-menu d-none d-lg-block border-1 ml-auto">
                        <ul>
                            <li class="active hvr-underline-from-center "><a asp-controller="Home" asp-action="PublicProgrammes" id="findCourses">Find Courses</a></li>


                            <li class="get-started "><a asp-controller="Home" asp-action="Login" asp-route-returnUrl="@ViewData["ReturnUrl"]" id="loginMain">Log In</a></li>
                            <li class="get-started"><a asp-controller="Home" asp-action="Register" asp-route-returnUrl="@ViewData["ReturnUrl"]" id="createAccountMain">Create Account</a></li>
                        </ul>
                    </nav><!-- .nav-menu -->

                </div>

            </div>


        </div>
    </header><!-- End Header -->
    <main>
        @RenderBody()
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="section-title" data-aos="fade-up">
                    <h2>Contact Us</h2>
                </div>

                <div class="row">

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="contact-about">
                            <h3>@titleHeader</h3>
                            <p>@settings.TagLine</p>
                            @*<div class="social-links">
                                    <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
                                    <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
                                    <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
                                    <a href="#" class="linkedin"><i class="icofont-linkedin"></i></a>
                                </div>*@
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
                        <div class="info">
                            <div>
                                <i class="ri-map-pin-line"></i>
                                <p>
                                    @layout.ContactUs
                                </p>
                            </div>

                            <div>
                                <i class="ri-mail-send-line"></i>
                                <p>@settings.ContactEmail</p>
                            </div>


                        </div>
                    </div>

                    <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
                        <form method="post" asp-action="SaveEnquiry" asp-controller="Enquiry" role="form" class="php-email-form">
                            <div class="form-group">
                                <input type="text" name="Name" class="form-control" id="Name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validate"></div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="Email" id="Email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validate"></div>
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" name="Phone" id="Phone" placeholder="Your Phone number" data-rule="minlen:10" data-msg="Please enter a valid phone" />
                                <div class="validate"></div>
                            </div>
                            <div class="form-group">
                                <label>Required</label>
                                <select class="select2 form-control mb-3 custom-select" style="width: 100%; height:36px;" id="CategoryId" name="CategoryId">
                                    <option value="">--select category--</option>
                                    @foreach (var cat in _dropDownService.EnquiryCategories().Result) { 
                                        <option value="@cat.Id">@cat.Name</option>
                                    }
                                    
                                </select>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="Message" id="Message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                <div class="validate"></div>
                            </div>
                            <div class="mb-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center"><button type="submit" id="sendMessage">Send Message</button></div>
                        </form>
                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->
    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-lg-6 text-lg-left text-center">
                    <div class="copyright">

                        &copy;@DateTime.Now.Year @settings.ClientName. Powered by ABNO Softwares International All Rights Reserved

                    </div>

                </div>

            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/assets/vendor/counterup/counterup.min.js"></script>
    <script src="~/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/venobox/venobox.min.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>

    <script>
    $(document).ready(function () {
    var opt = "@ViewData["ActiveLink"]";
		$("." + opt + "-link").addClass("bottom-links-active");
		var isOpen = false;
		$("#userButton").click(function () {
			isOpen = !isOpen;
			if (isOpen) {
				$("#userMenu").removeClass("hidden");
			}
			else
				$("#userMenu").addClass("hidden");
        });

        changeColor();
	});
    </script>

    <script>
        function changeColor() {
            var pcolor = $('#primary-color').val();
            var scolor = $('#secondary-color').val();


            $('.services .icon-box::before').css('background-color', pcolor);
            $('#createAccountMain').css('background-color', pcolor);
            $('#loginMain').css('background-color', pcolor);
            $('#findCourses').css('color', pcolor);


            $('.btn-info').css('background-color', pcolor);
            $('.btn-success').css('background-color', scolor);
            $('.btn-dark').css('background-color', scolor);

            $('.icon-box:hover').css('background-color', pcolor);
            $('.badge-primary').css('background-color', pcolor);
            $('.ri-mail-send-line').css('color', pcolor);
            $('.ri-map-pin-line').css('color', pcolor);
            $('.text-inf').css('color', scolor);

        }


    </script>

    @RenderSection("Scripts", false);

</body>

</html>

