﻿@using Microsoft.AspNetCore.Identity
@inject IClientSettingsService _clientSettings
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IDropDownService _dropDownService;
@{
    var isSignedIn = SignInManager.IsSignedIn(User);
    var user = await UserManager.GetUserAsync(User);
    var settings = _clientSettings.Read().Data;
    var layout = _clientSettings.Layout().Data;
    var paid = settings.AllowPartialPayments ? "Yes" : "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Abno">
    <meta name="keyword" content="">

    <title>@settings.AppName @settings.AppVersion - @ViewData["Title"]</title>

    <!-- Theme icon -->
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">

    <link href="~/assets/plugins/morris-chart/morris.css" rel="stylesheet">
    <!-- Theme Css -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/css/slidebars.min.css" rel="stylesheet">
    <link href="~/assets/css/icons.css" rel="stylesheet">
    <link href="~/assets/css/menu.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/css/card.css" rel="stylesheet">
    <!-- Responsive and DataTables -->
    <link href="~/assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

</head>
<body class="sticky-header">
    <input type="hidden" id="primary-color" value=@settings.PrimaryColor />
    <input type="hidden" id="secondary-color" value=@settings.SecondaryColor />
    <section>
        <!-- sidebar left start-->
        <div class="sidebar-left">
            <div class="sidebar-left-info">

                <!--sidebar nav start-->
                <ul class="side-navigation">
                    @if (isSignedIn)
                    {
                        if (User.IsInRole(PrimaryRole.Applicant))
                        {
                            <li class="">
                                <a asp-controller="Home" asp-action="Programmes"><i class="ti-search"></i> <span>Find courses</span></a>
                            </li>

                            <li class="">
                                <a asp-controller="ApplicationProfile" asp-action="Profile"><i class="mdi mdi-account-card-details"></i> <span>Application profile</span></a>
                            </li>
                            <li class="">
                                <a asp-controller="IntakeApplications" asp-action="Mine"><i class="ti-desktop"></i> <span>Applications</span></a>
                            </li>
                            @if (!settings.IsSaga)
                            {
                                <li class="">
                                    <a asp-controller="ApplicationKcseScores" asp-action="Index"><i class="mdi mdi-check-all"></i> <span>KCSE|Alt Scores</span></a>
                                </li>
                            }
                            <li class="">
                                <a asp-controller="ApplicationPayments" asp-action="Mine"><i class="ti-money"></i> <span>Payments</span></a>
                            </li>
                        }
                        if (User.IsInRole(PrimaryRole.Admin))
                        {
                            <li class="">
                                <a asp-controller="Home" asp-action="Dashboard"><i class="mdi mdi-gauge"></i> <span>Dashboard</span></a>
                            </li>
                            <li class="">
                                <a asp-controller="Home" asp-action="Programmes"><i class="ti-search"></i> <span>Find courses</span></a>
                            </li>
                            <li class="menu-list">
                                <a href=""><i class="mdi mdi-buffer"></i> <span>Intakes</span></a>
                                <ul class="child-list">
                                    <li><a asp-controller="ApplicationIntakes" asp-action="Index"> Summary</a></li>
                                    <li><a asp-controller="ApplicationIntakes" asp-action="ViewAll" asp-route-status="Active"> Active Intakes</a></li>
                                    <li><a asp-controller="ApplicationIntakes" asp-action="ViewAll" asp-route-status="Inactive"> Inactive Intakes</a></li>
                                </ul>
                            </li>
                            <li class="">
                                <a asp-controller="IntakeApplications" asp-action="All" asp-route-paid="@paid"><i class="ti-desktop"></i> <span>Applications</span></a>
                            </li>
                            <li class="">
                                <a asp-controller="IntakeApplications" asp-action="Deferments"><i class="fa fa-warning"></i> <span>Defer Applications</span></a>
                            </li>
                            <li class="">
                                <a asp-controller="ApplicationPayments" asp-action="Index"><i class="ti-money"></i> <span>Payments</span></a>
                            </li>
                            <li class="">
                                <a asp-controller="Enquiry" asp-action="Index"><i class="fa fa-question"></i> <span>Enquiries</span></a>
                            </li>
                            <li class="menu-list">
                                <a href=""><i class="ti-pulse"></i> <span>Utilities</span></a>
                                <ul class="child-list">
                                    <li><a asp-controller="IntakeSettings" asp-action="Index"> Summary</a></li>
                                    <li><a asp-controller="IntakeSettings" asp-action="Documents"> Documents</a></li>
                                    <li><a asp-controller="IntakeSettings" asp-action="Categories"> Categories</a></li>
                                    <li><a asp-controller="IntakeSettings" asp-action="ClassTypes"> Study modes</a></li>
                                    <li><a asp-controller="IntakeSettings" asp-action="GradeTypes"> Grade types</a></li>
                                    <li><a asp-controller="IntakeSettings" asp-action="Programmes">Programmes</a></li>
                                    <li><a asp-controller="IntakeSettings" asp-action="Campuses"> Campuses</a></li>
                                    <li><a asp-controller="IntakeSettings" asp-action="Subjects"> KCSE Subjects</a></li>
                                    <li><a asp-controller="IntakeSettings" asp-action="DeferPeriods">Defer Periods</a></li>

                                </ul>
                            </li>

                            <li class="menu-list">
                                <a href=""><i class="fa fa-bank"></i> <span>Accounts</span></a>
                                <ul class="child-list">
                                    <li><a asp-controller="UserAccount" asp-action="Index"> Summary</a></li>
                                    <li><a asp-controller="UserAccount" asp-action="Accounts" asp-route-type="@PrimaryRole.Staff"> Staffs</a></li>
                                    <li><a asp-controller="UserAccount" asp-action="Accounts" asp-route-type="@PrimaryRole.Applicant"> Applicants</a></li>
                                    @if (User.IsInRole(PrimaryRole.SuperAdmin))
                                    {
                                        <li><a asp-controller="UserAccount" asp-action="Accounts" asp-route-type="@PrimaryRole.Admin"> Administrators</a></li>
                                    }
                                </ul>
                            </li>

                            <li class="menu-list">
                                <a href=""><i class="ti-settings"></i> <span>Settings</span></a>
                                <ul class="child-list">
                                    <li><a asp-controller="SystemSettings" asp-action="Index"> Instance</a></li>
                                    <li><a asp-controller="SystemSettings" asp-action="Email"> Email</a></li>
                                    <li><a asp-controller="SystemSettings" asp-action="Sms"> Sms</a></li>
                                    <li><a asp-controller="SystemSettings" asp-action="Mpesa"> Mpesa</a></li>
                                    <li><a asp-controller="SystemSettings" asp-action="Soap"> SOAP</a></li>
                                    <li><a asp-controller="SystemSettings" asp-action="Layouts"> Layout</a></li>
                                </ul>
                            </li>
                        }
                    }
                </ul>
            </div><!--sidebar nav end-->
        </div><!-- sidebar left end-->
        <!-- body content start-->
        <div class="body-content">
            <!-- header section start-->
            <div class="header-section">
                <!--logo and logo icon start-->
                <div class="logo">
                    <a asp-controller="Home" asp-action="Index">
                        <span class="logo-img">
                            <img src="~/@settings.LogoUrl" alt="" width="60">
                        </span>

                        <span class="brand-name font-weight-bold mt-2">@settings.ClientCode</span>
                    </a>
                </div>
                <!--toggle button start-->
                <a class="toggle-btn"><i class="ti ti-menu"></i></a>
                <!--toggle button end-->

                <div class="notification-wrap">
                    <!--right notification start-->
                    @{ 

                        var notifications = await _dropDownService.Notifications(user.Id);
                    }
                    <div class="right-notification">
                        <ul class="notification-menu">
                            <li>
                                <a href="javascript:;" class="notification" data-toggle="dropdown">
                                    <i class="mdi mdi-bell-outline"></i>
                                    <span class="badge badge-success">@notifications.Count</span>
                                </a>
                                <ul class="dropdown-menu mailbox dropdown-menu-right">
                                    <li>
                                        <div class="drop-title">Notifications</div>
                                    </li>
                                    <li class="notification-scroll">
                                        <div class="message-center">
                                            @foreach (var item in notifications.Take(10)) { 
                                            <a asp-controller="Notifications" asp-action="Index">
                                                <div class="user-img">
                                                    <i class="ti ti-star"></i>
                                                </div>
                                                <div class="mail-contnet">
                                                    <h6>@item.StatusStr</h6>
                                                    <span class="mail-desc">@item.Message</span>
                                                </div>
                                            </a>
                                            }
                                            
                                        </div>
                                    </li>
                                    <li>
                                        <a class="text-center bg-light" asp-controller="Notifications" asp-action="Index">
                                            <strong>See all notifications</strong>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="javascript:;" data-toggle="dropdown">
                                    @if (!string.IsNullOrEmpty(user.ImageUrl))
                                    {
                                        <img src="~/@user.ImageUrl" alt="@user.RefNo">
                                        <i class="fa fa-angle-down fa-1x"></i>
                                    }
                                    else
                                    {
                                        <h1>@user.Email.Substring(0, 1).ToUpper() <i class="fa fa-angle-down fa-1x"></i></h1>

                                    }


                                </a>
                                <div class="dropdown-menu dropdown-menu-right profile-menu">
                                    <a class="dropdown-item" asp-controller="Manage" asp-action="Index"><i class="mdi mdi-account-circle m-r-5 text-muted"></i> My Account</a>
                                    <a class="dropdown-item" asp-controller="Home" asp-action="Logout"><i class="mdi mdi-logout m-r-5 text-muted"></i> Logout</a>
                                </div>

                            </li>

                        </ul>
                    </div><!--right notification end-->
                </div>
            </div>
            <!-- header section end-->
            <div class="container-fluid">

                @RenderBody()

                <!--footer section start-->
                <footer class="footer">
                    @DateTime.Now.Year &copy; AbnoSoftwares.
                </footer>
                <!--footer section end-->

            </div><!--end container-->
        </div>




    </section>
    <!-- jQuery -->
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery-migrate.js"></script>
    <script src="~/assets/js/modernizr.min.js"></script>
    <script src="~/assets/js/jquery.slimscroll.min.js"></script>
    <script src="~/assets/js/slidebars.min.js"></script>

    <!--plugins js-->
    <script src="~/assets/plugins/counter/jquery.counterup.min.js"></script>
    <script src="~/assets/plugins/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/assets/plugins/sparkline-chart/jquery.sparkline.min.js"></script>
    <script src="~/assets/pages/jquery.sparkline.init.js"></script>

    <script src="~/assets/plugins/chart-js/Chart.bundle.js"></script>
    <script src="~/assets/plugins/morris-chart/raphael-min.js"></script>
    <script src="~/assets/plugins/morris-chart/morris.js"></script>
    <script src="~/assets/pages/dashboard-init.js"></script>

    <!--  Chart js -->
    <script src="~/assets/plugins/chart-js/Chart.bundle.js"></script>
    <script src="~/assets/pages/chartjs-init.js"></script>

    <!--app js-->
    <script src="~/assets/js/jquery.app.js"></script>
    <!-- Responsive and datatable js -->
    <script src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="~/assets/plugins/datatables/responsive.bootstrap4.min.js"></script>
    <script src="~/assets/site-js.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable').DataTable();
        });
    </script>
    <script>
        jQuery(document).ready(function ($) {
            $('.counter').counterUp({
                delay: 100,
                time: 1200
            });
        });

    </script>
    <script>
    $(document).ready(function () {
    var opt = "@ViewData["ActiveLink"]";
		$("." + opt + "-link").addClass("bottom-links-active");
		var isOpen = false;
		$("#userButton").click(function () {
			isOpen = !isOpen;
			if (isOpen) {
				$("#userMenu").removeClass("hidden");
			}
			else
				$("#userMenu").addClass("hidden");
        });

        changeColor();
	});
    </script>
    <script>
        function changeColor() {
            var pcolor = $('#primary-color').val();
            var scolor = $('#secondary-color').val();

            $('body').css('background-color', pcolor);
            $('.side-left').css('color', "#fff");
            $('.btn-primary').css('background-color', pcolor);


            $('.btn-info').css('background-color', scolor);
            $('.btn-success').css('background-color', scolor);
            $('.btn-dark').css('background-color', scolor);
        }


    </script>



</body>
</html>