﻿<div class="page-head">
    <ul id="nav-activate" class="nav nav-pills nav-fill" style="font-size: 18px;">
        <li class="nav-item">
            <a class="nav-link " >Personal Details</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="Nav.html">Location</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Next Of Kin</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Emergency Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Education Background</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Work Background</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Confirmation</a>
        </li>

    </ul>
</div>
<script>
    const currentLocation = location.href;
    const navLink = document.getElementById("nav-activate")
    const menuItem = navLink.querySelectorAll('a')
    const menuLength = menuItem.length
    for (let i = 0; i < menuLength; i++) {
        if (menuItem[i].href === currentLocation) {
            menuItem[i].className += " active";
        }
    }
</script>