﻿@model IntakeListViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Active Intakes";
}





<div class="page-head">
    <h4 class="shadow-lg mt-2 mb-2 bg-light col-2 rounded p-2 text-success">@ViewData["Title"]</h4>
</div>
@if (!Model.Intakes.Any())
{
    <div class="  h-full flex justify-center items-center flex-col">
        <p class="font-bold text-white mb-8 text-lg">There are no active intakes at the moment.</p>
        <div>
            Kidly check regularly for active intakes you can apply.
        </div>
    </div>

}
else
{
    foreach (var application in Model.Intakes)
    {
        <div class="row">
            <div class="col-lg-12">
                <div class="shadow card m-b-30">
                    <div class="card-body">
                        <b style="font-size: 18px;">  @application.Intake.Name</b>&nbsp;&nbsp;  @application.Intake.StartDateStr - @application.Intake.EndDateStr

                        <p>September</p>
                        <a asp-controller="IntakeApplications" asp-action="ApplyIntake" asp-route-intId="@application.Intake.Id">View Intake <i class="mdi mdi-arrow-right"></i> </a>

                    </div>
                </div>
            </div>
        </div>
    }
}



