﻿@model PaginatedList<Application>
@inject IDropDownService _dropDownService;
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Applications";
    var grId = ViewData["GradeTypeId"]?.ToString();
    var programmeId = ViewData["ProgrammeId"]?.ToString();
    var clId = ViewData["ClassTypeId"]?.ToString();
    var intId = ViewData["IntakeId"]?.ToString();
    var status = ViewData["Status"]?.ToString();
    var pushed = ViewData["Pushed"]?.ToString();
    var paid = ViewData["Paid"]?.ToString();
    var disability = ViewData["Disability"]?.ToString();
    var gender = ViewData["Gender"]?.ToString();
    var pushPayStatuses = new List<string> { "Yes", "No" };
    var genders = new List<string> { "Male", "Female", "Other" };
}

    <div class="page-head">
        <h4 class="mt-2 mb-2 bg-light col-2 rounded p-2 text-success">@ViewData["Title"] <span>[@Model.TotalItems]</span></h4>
    </div>

    <div class="row">
        <div class="col-lg-12">


            <!-- Modal -->
            <div class="modal fade" id="exampleModalform" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelform" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-primary" id="exampleModalLabel">Filter Data</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form asp-action="All" method="get" autocomplete="off" class="form-horizontal form-material">
                                <div class="row">
                                    <div class="form-group col-lg-4 col-sm-12">
                                        <label>Search</label>
                                        <input type="text" class="form-control"  placeholder="Search"  value="@ViewData["CurrentFilter"]" />
                                    </div>
                                    <div class="form-group col-lg-4 col-sm-12">
                                        <label>Intake</label>
                                        <select class="select2 form-control mb-3 custom-select" style="width: 100%; height:36px;">
                                            <option>Select</option>
                                            @foreach (var item in await _dropDownService.Intakes())
                                            {
                                                var inId = $"{item.Id}";
                                                if (inId.Equals(intId, StringComparison.OrdinalIgnoreCase))
                                                {
                                                    <option selected="selected" value="@item.Id" title="@item.Text">@item.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Id" title="@item.Text">@item.Text</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group col-lg-4 col-sm-12">
                                        <label>Programme</label>
                                        <select class="select2 form-control mb-3 custom-select" style="width: 100%; height:36px;">
                                            <option>Select</option>
                                            @foreach (var item in await _dropDownService.Programmes())
                                            {
                                                var progId = $"{item.Id}";
                                                if (progId.Equals(programmeId, StringComparison.OrdinalIgnoreCase))
                                                {
                                                    <option selected="selected" value="@item.Id" title="@item.Name">@item.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Id" title="@item.Name">@item.Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group col-lg-4 col-sm-12">
                                        <label>Start date</label>
                                        <input type="text" class="form-control" placeholder="2017-06-04" id="mdate" value="@ViewData["StartDate"]">
                                    </div>
                                    <div class="form-group col-lg-4 col-sm-12">
                                        <label>End date</label>
                                        <input type="text" class="form-control" placeholder="2017-06-04" id="mdate" value="@ViewData["EndDate"]" >
                                    </div>
                                    <div class="form-group col-lg-4 col-sm-12">
                                        <label>Level</label>
                                        <select class="select2 form-control mb-3 custom-select" style="width: 100%; height:36px;">
                                            <option>Select level</option>
                                            @foreach (var item in await _dropDownService.GradeCertificateTypes())
                                            {
                                                var id = $"{item.Id}";
                                                if (id.Equals(grId))
                                                {
                                                    <option selected="selected" value="@item.Id" title="@item.CertType">@item.GradeType</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Id" title="@item.CertType">@item.GradeType</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group col-lg-4 col-sm-12">
                                        <label>Study mode</label>
                                        <select class="select2 form-control mb-3 custom-select" style="width: 100%; height:36px;">
                                            <option>Select level</option>
                                            @foreach (var item in await _dropDownService.ClassTypes())
                                            {
                                                var cId = $"{item.Id}";
                                                if (cId.Equals(clId))
                                                {
                                                    <option selected="selected" value="@item.Id" title="@item.Description">@item.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Id" title="@item.Description">@item.Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group col-lg-4 col-sm-12">
                                        <label>Status</label>
                                        <select class="select2 form-control mb-3 custom-select" style="width: 100%; height:36px;">
                                            <option>Select Status</option>
                                            @foreach (var item in _dropDownService.Statuses())
                                            {
                                                if (item.Id.Equals(status))
                                                {
                                                    <option selected="selected" value="@item.Id" title="@item.Text">@item.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Id" title="@item.Text">@item.Text</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group col-lg-4 col-sm-12">
                                        <label>Disability</label>
                                        <select class="select2 form-control mb-3 custom-select" style="width: 100%; height:36px;">
                                            <option>Select option</option>
                                            @foreach (var item in await _dropDownService.DisabilityConditions())
                                            {
                                                if (item.Name.Equals(disability))
                                                {
                                                    <option selected="selected" value="@item.Name" title="@item.Description">@item.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Name" title="@item.Description">@item.Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group col-lg-4 col-sm-12">
                                        <label>Gender</label>
                                        <select class="select2 form-control mb-3 custom-select" style="width: 100%; height:36px;">
                                            <option>Select Gender</option>
                                            @foreach (var item in genders)
                                            {
                                                if (item.Equals(gender))
                                                {
                                                    <option selected="selected" value="@item" title="@item">@item</option>
                                                }
                                                else
                                                {
                                                    <option value="@item" title="@item">@item</option>
                                                }
                                            }n>
                                        </select>
                                    </div>
                                    <div class="form-group col-lg-4 col-sm-12">
                                        <label>Pushed to Unisol</label>
                                        <select class="select2 form-control mb-3 custom-select" style="width: 100%; height:36px;">
                                            <option>Select</option>
                                            @foreach (var item in pushPayStatuses)
                                            {
                                                if (item.Equals(pushed))
                                                {
                                                    <option selected="selected" value="@item" title="@item">@item</option>
                                                }
                                                else
                                                {
                                                    <option value="@item" title="@item">@item</option>
                                                }
                                            }

                                        </select>
                                    </div>
                                    <div class="form-group col-lg-4 col-sm-12">
                                        <label>Paid</label>
                                        <select class="select2 form-control mb-3 custom-select" style="width: 100%; height:36px;">
                                            <option>select option</option>
                                            @foreach (var item in pushPayStatuses)
                                            {
                                                if (item.Equals(paid))
                                                {
                                                    <option selected="selected" value="@item" title="@item">@item</option>
                                                }
                                                else
                                                {
                                                    <option value="@item" title="@item">@item</option>
                                                }
                                            }

                                        </select>
                                    </div>
                                    <div class="col-lg-12"> <hr></div>

                                    <div class="col-lg-3 col-sm-12 offset-3">
                                        <button type="submit" class="btn btn-rounded btn-success"><i class="fa fa-filter"></i>Apply Filter </button>
                                    </div>
                                    <div class="col-lg-2 col-sm-12">
                                        <a asp-action="Export" class="btn btn-rounded btn-outline-success"><i class="fa fa-file-export"></i>Export excel</a>
                                    </div>
                                    <div class="col-lg-2 col-sm-12">
                                        <a asp-action="ExportPdf" class="btn btn-rounded btn-dark "><i class="fa fa-file-export"></i>Export pdf</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of modal -->
        </div>

        <div class="col-lg-12">

            <div class="data-table mt-4">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="card m-b-30 pt-4">
                            <div class="card-body table-responsive">

                                <div class="col-lg-2">
                                    <button type="button" class="btn btn-rounded btn-info mb-4" data-toggle="modal" data-target="#exampleModalform">
                                        <i class="fa fa-filter"></i> Filter
                                    </button>
                                </div>

                                <div class="table-odd">
                                    <table id="datatable" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th><a asp-action="All" asp-route-sortOrder="@ViewData["CodeSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Ref No</a></th>
                                                <th><a asp-action="All" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Names</a></th>
                                                <th><a asp-action="All" asp-route-sortOrder="@ViewData["TelSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Tel No</a></th>
                                                <th><a asp-action="All" asp-route-sortOrder="@ViewData["EmailSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Email</a></th>
                                                <th><a asp-action="All" asp-route-sortOrder="@ViewData["IdSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">ID No</a></th>
                                                <th>Level</th>
                                                <th>Date added</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @if (!Model.Any())
                                            {
                                                <tr>
                                                    <td class="px-6 py-16 whitespace-no-wrap text-center  text-md text-gray-500" colspan="9" rowspan="6">
                                                        No applications Found
                                                    </td>
                                                </tr>
                                            }
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td><a title="view application" class="underline text-blue-500" asp-action="ViewApplication" asp-route-id="@item.Id">@item.Code</a></td>
                                                    <td>@item.Names</td>
                                                    <td>@item.TelNo</td>
                                                    <td>@item.Email</td>
                                                    <td>@item.NationalId</td>
                                                    <td>@item.GradeType</td>
                                                    <td>@item.DateCreatedStr</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    @{
                                        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                                        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                                    }
                                    @if (Model.HasPreviousPage)
                                    {
                                        <a asp-action="All"
                                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                                           asp-route-intakeId="@ViewData["IntakeId"]"
                                           asp-route-startDate="@ViewData["StartDate"]"
                                           asp-route-endDate="@ViewData["EndDate"]"
                                           asp-route-pageNumber="@(Model.PageIndex - 1)"
                                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                           asp-route-gradeTypeId="@ViewData["GradeTypeId"]"
                                           asp-route-classTypeId="@ViewData["ClassTypeId"]"
                                           asp-route-status="@ViewData["Status"]"
                                           asp-route-disability="@ViewData["Disability"]"
                                           asp-route-paid="@ViewData["Paid"]"
                                           asp-route-pushed="@ViewData["Pushed"]"
                                           asp-route-gender="@ViewData["Gender"]"
                                           class="text-green-500 inline-flex items-center underline @prevDisabled">
                                            Previous Page
                                        </a>}
                                    @if (Model.HasNextPage)
                                    {
                                        <a asp-action="All"
                                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                                           asp-route-intakeId="@ViewData["IntakeId"]"
                                           asp-route-startDate="@ViewData["StartDate"]"
                                           asp-route-endDate="@ViewData["EndDate"]"
                                           asp-route-pageNumber="@(Model.PageIndex + 1)"
                                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                           asp-route-gradeTypeId="@ViewData["GradeTypeId"]"
                                           asp-route-classTypeId="@ViewData["ClassTypeId"]"
                                           asp-route-status="@ViewData["Status"]"
                                           asp-route-disability="@ViewData["Disability"]"
                                           asp-route-paid="@ViewData["Paid"]"
                                           asp-route-pushed="@ViewData["Pushed"]"
                                           asp-route-gender="@ViewData["Gender"]"
                                           class="text-green-500 inline-flex items-center underline @nextDisabled">
                                            Next Page
                                        </a>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

