﻿@model IntakeSetupViewModel
@{
    ViewData["Title"] = "Add Application";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="page-head">
    <h4 class="mt-2 mb-2 bg-light text-success col-2 rounded p-2">@ViewData["Title"] </h4>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card m-b-30">
            <div class="card-body">
                <div class="col-lg-12">
                        @if (Model.Success)
                        {
                            <div class="container">
                                <div class="bg-gray-200  rounded-lg flex flex-wrap mt-6">

                                    @if (Model.IntakeGradeTypes.Any())
                                    {
                                        var i = 0;
                                        foreach (var grade in Model.IntakeGradeTypes)
                                        {
                                            i++;
                                            <section class="mt-10 p-5 ml-2">
                                                <input asp-for="@grade.IntakeId" class="form-control" type="hidden" />
                                                <input asp-for="@grade.GradeTypeId" class="form-control" type="hidden" />
                                                <input asp-for="@grade.IsAdded" class="form-control" type="hidden" />
                                                <h5>@grade.CertType</h5>
                                                <p>@grade.CertType |   @Model.Intake.StartDateStr - @Model.Intake.EndDateStr</p>
                                                <p style="font-size: 16px;">Application Fee: <em>[  @grade.ApplicationFee]</em></p>
                                                <a asp-action="ApplyProgrammes" asp-route-intId="@grade.IntakeId" asp-route-grtId="@grade.GradeTypeId"
                                                   asp-route-appId="@Model.ApplicationId" class="btn btn-primary btn-rounded">Apply Now</a>
                                                <hr />
                                            </section>

                                        }
                                    }
                                    else
                                    {
                                        <p>
                                            No grade types Found.
                                        </p>
                                    }
                                </div>
                            </div>
                        }
                        else
                        {
                            <div>
                                <p>
                                    <i class="fa fa-info-circle fa-2x"></i> <br />	Error getting Intake. @Model.Message
                                </p>
                            </div>
                        }

                </div>
            </div>
        </div>
    </div>
</div>