﻿@model IntakeGradeTypeViewModel
@{
    ViewData["Title"] = "Application Documents";
    Layout = "/Views/Shared/_Layout.cshtml";
    var uploaded = Model.Documents.Count(d => d.IsAdded);
    var remaining = Model.Documents.Count - uploaded;
    var suffix = remaining > 1 ? "Documents" : "Document";
}


<div class="page-head">
    <h4 class="mt-2 mb-2 bg-light text-success col-2 rounded p-2">@ViewData["Title"] </h4>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card m-b-30">
            <div class="card-body">
                <div class="col-lg-12">
                    @if (Model.Success)
                    {
                        <div class="container">
                            <div class="flex justify-between mb-6">
                                <div>
                                    <div class="text-2xl font-bold">
                                        Upload Documents
                                    </div>
                                    <p>
                                        Only Images & PDF documents allowed. Below 9Mbs
                                    </p>
                                </div>

                                @if (uploaded < Model.Documents.Count)
                                {
                                    <span class="p-4 bg-red-200 text-red-800 rounded-full blink_text"><i class="fa fa-times-circle"></i> You have <b>NOT</b> uploaded @remaining @suffix </span>
                                }
                            </div>

                                <form method="post" enctype="multipart/form-data" class="form-horizontal form-material" asp-action="Upload">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="Type"></label>
                                                <select name="DocumentId" id="DocumentId" class="select-basic form-control">
                                                    <option value="">--select document type--</option>
                                                    @foreach (var type in ViewBag.Types)
                                                    {
                                                        <option value="@type.Id">@type.Name</option>
                                                    }

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input type="hidden" name="ApplicationId" value="@Model.ApplicationId" />
                                                <input type="hidden" name="IsEditMode" value="" />
                                                <input name="File" type="file" accept="application/pdf,.png,.jpg" class="form-control" required="required" />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <button type="submit" class="btn btn-primary btn-rounded">
                                                Upload Document
                                            </button>
                                        </div>
                                    </div>
                                </form>
                        </div>
                        <div class="col-lg-12 col-sm-12 mt-4">
                            <table id="datatable" class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            Uploaded File  Name
                                        </th>
                                        <th>
                                            Document Type
                                        </th>
                                        <th>
                                            Document Category
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.UploadDocuments)
                                    {
                                        <tr>
                                            <td>
                                                @item.Upload.Name
                                            </td>
                                            <td>
                                                @item.Document.Name
                                            </td>
                                            <td>
                                                @item.Document.Category
                                            </td>


                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                        <div style="text-align:center;">
                            <a asp-action="ApplyProgrammes" asp-route-intId="@Model.IntakeId" asp-route-grtId="@Model.GradeTypeId" asp-route-appId="@Model.ApplicationId"
                               class="btn btn-danger btn-rounded"><i class="fa fa-arrow-left"></i> Back</a>

                            @if (uploaded < Model.Documents.Count)
                            {
                                <a href="javascript:void(0)" class="btn btn-primary btn-rounded">
                                    Submit Application <i class="fa fa-check"></i>
                                </a>
                            }
                            else
                            {
                                <a asp-action="ViewApplication" asp-route-id="@Model.ApplicationId" asp-route-isInit="True" class="btn btn-primary btn-rounded">
                                    Submit Your Application <i class="fa fa-check"></i>
                                </a>
                            }
                        </div>

                    }
                    else
                    {
                        <p>
                            Error getting Intake Grade Type. @Model.Message
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>