﻿@model AbnApplicationPortal.Core.Models.ApplicationVm.DefermentViewModel

@inject IDropDownService _dropDownService;
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Apply for a defer";
}
    <div class="page-head">
        <h4 class="mt-2 mb-2 bg-light col-2 rounded p-2 text-success">@ViewData["Title"]</h4>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card m-b-30">
                <div class="card-body">

                    <form class="form-horizontal form-material" method="post">
                        <div class="row">
                            <input asp-for="IsEditMode" type="hidden">
                            <input asp-for="ApplicationId" />
                            <div class="form-group col-lg-4 col-sm-12">
                                <label>Select Defer Semester or Academic Year</label>
                                <select asp-for="Unit" class="form-control">
                                    <option value="">Select option</option>
                                    <option value="Semester">Semester</option>
                                    <option value="Academic Year">Academic Year</option>
                                </select>
                                <span asp-validation-for="Unit" class="text-danger"></span>
                            </div>

                            <div class="form-group col-lg-4 col-sm-12">
                                <label>How Many</label>
                                <select asp-for="Count" class="form-control">
                                    <option value="">select defer academic/semester count</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                </select>
                                <span asp-validation-for="Count" class="text-danger"></span>
                            </div>

                            <div class="form-group col-lg-4 col-sm-12">
                                <label>Reason for Defering</label>
                                <select asp-for="Reason" class="form-control">
                                    <option value="">Select option</option>
                                    @foreach (var item in await _dropDownService.DeferReasons())
                                    {
                                        <option value="@item.Id" title="@item.Description">@item.Description</option>
                                    }
                                </select>
                                <span asp-validation-for="Reason" class="text-danger"></span>
                            </div>

                            <div class="form-group mt-4 offset-5 mb-0 col-lg-2 col-sm-12">
                                <button type="submit" class="btn btn-primary btn-block waves-effect waves-light">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

   