﻿@model IntakeGradeTypeViewModel
@inject IDropDownService _dropDownService;
@inject IClientSettingsService _clientSettings;
@{
    ViewData["Title"] = "Select Programmes";
    Layout = "/Views/Shared/_Layout.cshtml";
    var client = _clientSettings.Read().Data;
}
<div class="page-head">
    <h4 class="mt-2 mb-2 bg-white text-success col-3 rounded p-2">@ViewData["Title"] </h4>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card m-b-30">
            <div class="card-body">

                @if (Model.Success)
                {
                    <form method="post" autocomplete="off" class="form-horizontal form-material">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="portlet">
                                    <div class="portlet-heading bg-primary">
                                        <h3 class="portlet-title text-white">
                                            Choose Programme 
                                        </h3>
                                        <div class="portlet-widgets">
                                            <a data-toggle="collapse" data-parent="#accordion1" href="#program"><i class="fa fa-minus"></i></a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>


                                    <div id="program" class="panel-collapse collapse in show">
                                        <div class="portlet-body">
                                            <div class="form-group row p-2">
                                                <div class="form-group col-lg-4 col-sm-12">
                                                    <span class="p-4 bg-blue-100 text-blue-800 rounded-full">
                                                        <i class="fa fa-info-circle"></i>&nbsp;
                                                        Maximum selection is @Model.MaxUnits
                                                    </span>
                                                </div>



                                                <input type="hidden" asp-for="ApplicationId" />
                                                <input type="hidden" asp-for="IsEditMode" />
                                                <input type="hidden" asp-for="IntakeId" />
                                                <input type="hidden" asp-for="GradeTypeId" />
                                                <input type="hidden" asp-for="MaxUnits" />
                                                <input type="hidden" asp-for="Name" />

                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="CampusId">Campus</label>
                                                            <select asp-for="CampusId" class="form-control">
                                                                <option value="">--select campus--</option>
                                                                @foreach (var item in Model.Campuses)
                                                                {
                                                                    if (item.IsAdded)
                                                                    {
                                                                        <option selected="selected" value="@item.CampusId" title="@item.Name">@item.Name</option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option value="@item.CampusId" title="@item.Name">@item.Name</option>
                                                                    }
                                                                }
                                                            </select>
                                                            <span asp-validation-for="CampusId" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="ClassTypeId">Study Mode</label>
                                                            <select asp-for="ClassTypeId" class="form-control">
                                                                <option value="">--select study mode--</option>
                                                                @foreach (var item in Model.ClassTypes)
                                                                {
                                                                    if (item.IsAdded)
                                                                    {
                                                                        <option selected="selected" value="@item.ClassTypeId" title="@item.Name">@item.Name</option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option value="@item.ClassTypeId" title="@item.Name">@item.Name</option>
                                                                    }
                                                                }
                                                            </select>
                                                            <span asp-validation-for="ClassTypeId" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="">Source <small>(How did you hear about @client.ClientCode?)</small></label>
                                                            <select required asp-for="Source" class="form-control">
                                                                <option value="">--select source--</option>
                                                                @foreach (var item in await _dropDownService.UnisolStudentSources())
                                                                {
                                                                    <option value="@item" title="@item">@item</option>
                                                                }

                                                            </select>
                                                            <span asp-validation-for="Source" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            @if (Model.Programmes.Any())
                            {


                                <div class="col-lg-12 mt-2 p-2 ml-3  alert-primary font-weight-bold">

                                    Select [Max @Model.MaxUnits]
                                </div>
                                <div class="col-3">
                                    <div class="tab-7 m-b-30">
                                        <ul class="nav flex-column">
                                            @foreach (var programme in Model.Programmes)
                                            {
                                                <li class="nav-item">
                                                    <a href="#gt-@programme.Code" class="nav-link" data-toggle="tab" aria-expanded="false">@programme.Name</a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-9">
                                    <div class="tab-7 m-b-30">
                                        <div class="tab-content">

                                            @{ var pi = 0;}
                                            @foreach (var programme in Model.Programmes)
                                            {
                                                <div class="tab-pane row" id="gt-@programme.Code">

                                                    <div class="portlet">
                                                        <div class="portlet-heading bg-primary p-2">
                                                            <span>@programme.Code</span>
                                                            <span class="mx-4">@programme.Name</span>
                                                            <div class="portlet-widgets">
                                                                <span class="mr-4">
                                                                    <input type="hidden" asp-for="@Model.Programmes[@pi].ProgrammeId" />
                                                                    <input type="hidden" asp-for="@Model.Programmes[@pi].GradeTypeId" />
                                                                    <input style="outline: 1px solid #fff" asp-for="@Model.Programmes[@pi].IsAdded">
                                                                </span>
                                                                <a data-toggle="collapse" data-parent="#accordion1" href="#@programme.Code-p"><i class="fa fa-minus"></i></a>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </div>
                                                    <div id="@programme.Code-p" class="panel-collapse collapse in show">
                                                        <div class="portlet-body row">
                                                            <div class="col-lg-4">
                                                                <ul class="list-group list-group-flush">

                                                                    <li class="list-group-item">
                                                                        <div class="row p-2">
                                                                            <div class="col-5">Grade Type</div>
                                                                            <div class="col-7">: @programme.CertType</div>
                                                                        </div>
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <div class="row p-2">
                                                                            <div class="col-5">Period</div>
                                                                            <div class="col-7">: <small>@programme.Period</small> </div>
                                                                        </div>
                                                                    </li>
                                                                </ul>

                                                            </div>
                                                            <div class="col-lg-8 border-l">
                                                                <h4>Requirements</h4>
                                                                @programme.Requirements
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                pi++;
                                            }

                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            { <div class="col-lg-12">
                                    <p>
                                        No programmes found for this Grade.
                                    </p>
                                </div>

                            }
                            <div class="col-lg-12" style="text-align:center;">
                                <a asp-action="ApplyIntake" asp-route-intId="@Model.IntakeId" asp-route-grtId="@Model.GradeTypeId"
                                   asp-route-appId="@Model.ApplicationId" class="btn btn-danger btn-rounded"><i class="fa fa-arrow-left"></i> Back</a>
                                @if (!client.SimpleProfile)
                                {
                                    <button type="submit" class="btn btn-primary btn-rounded">
                                        Proceed to Upload Documents <i class="fa fa-arrow-right"></i>
                                    </button>
                                }
                                else { 
                                    <button type="submit" class="btn btn-primary btn-rounded">
                                        Submit Your Application <i class="fa fa-check"></i>
                                    </button>
                                }
                            </div>
                        </div>
                    </form>

                }
                else
                {
                    <div>
                        <p>
                            <i class="fa fa-info-circle fa-2x"></i> <br />	Error getting Intake Grade Type. @Model.Message
                        </p>
                        <p>
                            <br />
                            <strong>More ..</strong>
                            <br />
                            @Html.Raw(ViewData["ResData"])
                        </p>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
