﻿@model AbnApplicationPortal.Core.Models.ApplicationVm.DeferLeterViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Cancellation Letter";
}

<section class="min-h-screen bg-green-600 text-gray-700 body-font">
    <div class="container flex justify-center items-centerflex-col w-full mx-auto mb-4">

        <h2 class="text-2xl font-bold text-white mt-8 ">Cancellation Letter</h2>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <button class="btn btn-primary" onclick="printDiv('pdf')">Print</button>
                </div>
                <div class="card-body" id="pdf">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row" style="text-align:center;">
                                <div class="col-md-3"></div>
                                <div class="col-md-6" style="text-align:center;">
                                    <div style="text-align:center;">
                                        <img src="~/@Model.Client.LogoUrl" alt="Client Logo" style="display: block; margin-left: auto; margin-right: auto; width: 50%;" /><br />
                                    </div>

                                    <h1>@Model.Client.ClientName.ToUpper()</h1><hr />
                                    <h4>OFFICE OF THE REGISTRAR</h4>
                                    <h4>(ACADEMICS, RESEARCH &amp; EXTENSION)</h4><hr />
                                </div>
                                <div class="col-md-3"></div>
                            </div>

                            <div class="offset-1">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h6>TEL: 076528878,0706528876</h6>
                                        <h6>WEBSITE: www.embuni.ac.ke</h6><hr />
                                        <h6>Our Ref: @Model.Deferment.Id.ToString().Split("-")[0].ToUpper()</h6>
                                    </div>
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <h6>P.O BOX 6-60100</h6>
                                        <h6>EMBU</h6><br />
                                        <h6>DATE: @DateTime.Now.ToString("dd MMMM yyyy")</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h6>@Model.Application.Names.ToUpper()</h6>
                                        <h6>@Model.UniApplicant.homeaddress</h6><br />
                                        <h6>@Model.UniApplicant.telno</h6><br />
                                        <h6>Dear @Model.Application.Names.Split(" ")[0],</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5>RE: CANCELLATION OF DEFERMENT OF STUDIES</h5><hr />
                                        <p>Reference is made to your request dated @Model.Deferment.DateCreated.ToString("dd MMMM yyyy") on the above subject.</p>

                                        <p>This is to inform you that your request to cancel your deferment of studies @Html.Raw(@Model.Message) </p>
                                        <p>
                                            However, in future you are advised to be more careful when making such requests.
                                        </p><br />

                                        <span>Thank you.</span><br /><br />
                                        <strong>@Model.Deferment.Personel</strong><br />
                                        <img src="~/@Model.SignaturePathUrl" width="100" height="30" />

                                        <strong>FOR: REGISTRAR (ARE)</strong><br />
                                        <span>----------------------------</span><br />
                                        <strong>Copies to:</strong> Dean, School of Business &amp; Economics Student Finance<br /><br />
                                        <hr style="height:5px;background:black;" />
                                        <div class="row">
                                            <div class="col-md-4">
                                                <img src="~/@Model.Client.ImageUrl" sizes="A4" />

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div><br />
        </div>
        <div class="col-md-2"></div>
    </div>


</section>



<script>
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;

    }
</script>