﻿@model PaginatedList<AbnApplicationPortal.Core.Models.ApplicationVm.DeferApplicationViewModel>

@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Defer Applications";
}

<div class="page-head">
    <h4 class="mt-2 mb-2 bg-light col-2 rounded p-2">@ViewData["Title"]<span>[@Model.Count]</span></h4>
</div>
<div class="data-table">
    <div class="row">
        <div class="col-lg-12 col-sm-12">

            <div class="card m-b-30 pt-4 ">
                <div class="card-body  table-responsive">
                    <form asp-action="All" method="get" autocomplete="off" class="form-horizontal form-material">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Start date</label>
                                    <input type="date" class="form-control" value="@ViewData["StartDate"]" required placeholder="Type something" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">

                                    <label>End date</label>
                                    <input type="date" value="@ViewData["EndDate"]" class="form-control" required placeholder="Type something" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <button type="submit" asp-action="Deferments" class="btn btn-block btn-outline-success btn-rounded"><i class="fa fa-filter"></i> Filter Data</button>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <button type="submit" asp-action="ExportDeferPdf" class="btn btn-info btn-block btn-rounded mx-2"><i class="fa fa-download"></i> Export Pdf</button>
                                </div>
                            </div>
                        </div>

                    </form>
                    <div class="table-odd">
                        <div class="row">

                            <div class="col-lg-12 col-sm-12 mt-4">
                                <table id="datatable" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>S/NO</th>
                                            <th>NAME</th>
                                            <th>ADMISSION NUMBER</th>
                                            <th>NATURE OF REQUEST</th>
                                            <th>SEMESTER/ACADEMIC<br>YEAR DEFERED</th>
                                            <th>REASON</th>
                                            <th>EXPECTED RESUMPTION DATE</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr><th colspan="8" class="text-center">School of Pure & Applied Sciences</th></tr>

                                        @if (!Model.Any())
                                        {
                                            <tr>
                                                <td class="px-6 py-16 whitespace-no-wrap text-center  text-md text-gray-500" colspan="9" rowspan="6">
                                                    No applications Found
                                                </td>
                                            </tr>
                                        }
                                        @{var i = 0; }
                                        @foreach (var item in Model)
                                        {
                                            i++;
                                            <tr>
                                                <td>@i</td>
                                                <td> @item.Application.Names</td>
                                                <td> @item.AdmNo</td>
                                                <td>Deferment of Studies</td>
                                                <td>@item.Deferment.Count @item.Deferment.Unit (s)</td>
                                                <td>@item.Deferment.ReasonString</td>
                                                <td> @item.Deferment.ExpectedDate.ToString("MMM-yyyy")</td>
                                                <td>
                                                    <div class="row p-1">
                                                        @if (item.Deferment.Approval == "Pending")
                                                        {
                                                            <a title="Approve" class="underline text-blue-500" href="@Url.Action("ApproveDeferment","IntakeApplications", new {id=@item.Deferment.Id, status="Approve" })">Approve</a>
                                                            <span>&nbsp;||&nbsp;</span>
                                                            <a title="Decline" class="underline text-red-500" href="@Url.Action("ApproveDeferment","IntakeApplications", new {id=@item.Deferment.Id, status="Cancel" })">Cancel</a>
                                                        }
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>