﻿@model AbnApplicationPortal.Core.Models.ApplicationVm.PdfPreviewViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Defer Letter";
}

<section class="min-h-screen bg-green-600 text-gray-700 body-font">
    @if (Model.Success)
    {
        <div class="container flex justify-center items-centerflex-col w-full mx-auto mb-4">
            <h2 class="text-2xl font-bold text-white mt-8 ">@Model.Programme.Name Applications</h2>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <button class="btn btn-primary" onclick="printDiv('pdf')">Print</button>
                    </div>
                    <div class="card-body min-h-screen" id="pdf">
                        <div class="row" style="text-align:center;">
                            <div class="col-md-12">
                                <h4>@Model.ClientSetting.ClientName.ToUpper()</h4>
                                @if (!Model.IsPostGrad)
                                {
                                    <h4>SPONSORED STUDENTS PROGRAME</h4>
                                }
                                <h4>APPLICATION FOR ADMISSION FOR @Model.Intake.AcademicYear ACADEMIC YEAR</h4>
                                <h5>@Model.Programme.Name</h5>

                                <h6 class="mt-1"><strong>PROGRAMME ADMISION REQUIREMENTS:</strong>@Model.Programme.Requirements</h6>
                                <h4 style="text-decoration: underline;">@Model.Intake.Name.ToUpper()</h4>
                            </div>
                        </div>
                        @if (Model.IsPostGrad)
                        {
                            <div class="row">
                                <div class="row">
                                    <div class="col-md-12 min-h-screen my-12 mx-auto px-4 md:px-12">
                                        <table class="table-auto table-bordered">
                                            <thead>
                                                <tr class="text-xs">
                                                    <th>S/No</th>
                                                    <th>Receipt<br /> No.</th>
                                                    <th>Name and Contact<br /> Address</th>
                                                    <th>Academic &amp;<br /> Profesional Qualifications</th>
                                                    <th>Post Qualification Work<br />Experience</th>
                                                    <th>CoD,s<br /> Comments</th>
                                                    <th>Dean,s<br /> Comments</th>
                                                    <th>Deans' Committee<br />Comments</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var application in Model.Applications)
                                                {
                                                    <tr>
                                                        <td>@application.Application.Id.ToString().Split("-")[0].ToUpper()</td>
                                                        <td></td>
                                                        <td>
                                                            @application.Application.Names<br />Tel:@application.Application.TelNo
                                                        </td>
                                                        <td>
                                                            @foreach (var edu in application.EducationExperiences)
                                                            {
                                                                @(edu.EndDate.Year + ": " + edu.CourseStudied + " - " + edu.Grade + " - " + edu.Institution)<hr />
                                                            }
                                                        </td>
                                                        <td>
                                                            @foreach (var wrk in application.WorkExperiences)
                                                            {
                                                                @(wrk.StartDate.Year + " to " + wrk.EndDate.Year + ": " + wrk.Designation + " - " + wrk.Employer)<hr />
                                                            }
                                                        </td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table><br />
                                        <div style="padding-left:30px;">
                                            <div class="row">
                                                <div class="col-md-11">
                                                    To Comment: Name__________________________________ Date____________________ Remarks_________________________________ Sign__________________
                                                </div>
                                            </div>
                                            <strong>Dean, School of Graduate Studies</strong>
                                        </div><br />

                                        <div style="padding-left:30px;">
                                            <div class="row">
                                                <div class="col-md-11">
                                                    Approved/Not approved: Name_________________________________________________ Date____________________________________ Sign_________________
                                                </div>
                                            </div>
                                            <strong>COD, @Model.Programme.Department</strong>
                                        </div><br />

                                        <div style="padding-left:30px;">
                                            <div class="row">
                                                <div class="col-md-11">
                                                    Approved/Not approved: Name_________________________________________________ Date____________________________________ Sign_________________
                                                </div>
                                            </div>
                                            <strong>Dean, @Model.School</strong>
                                        </div><br />

                                        <div style="padding-left:30px;">
                                            <div class="row">
                                                <div class="col-md-11">
                                                    Approved/Not approved: Name_________________________________________________ Date____________________________________ Sign_________________
                                                </div>
                                            </div>
                                            <strong>Chairman, Deans' Committee</strong>
                                        </div><br />

                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <table class="table-auto table-bordered">
                                <thead>
                                    <tr class="text-xs" style="text-align:center;">
                                        <th>S/N</th>
                                        <th>RECEIPT<br />NO.</th>
                                        <th>
                                            NAME AND CONTACT<br />ADDRESS
                                        </th>
                                        <th colspan="2">
                                            ACADEMIC QUALIFICATIONS<hr />
                                            <div class="row">
                                                <div class="col-md-4">
                                                    KCSE
                                                </div>
                                                <div class="col-md-8">
                                                    OTHER<br />QUALIFICATIONS
                                                </div>
                                            </div>
                                        </th>
                                        <th>
                                            WORK<br />EXPERIENCE<br />/<br />MODE OF<br />STUDIES
                                        </th>
                                        <th>
                                            SUBJECT<br />COMBINATION
                                        </th>
                                        <th>
                                            COD<br />COMM<br />ENTS
                                        </th>
                                        <th>
                                            DEAN'S<br />COMMEN<br />TS
                                        </th>
                                        <th>
                                            DEAN'S<br />COMMITT<br />EE<br />COMMENT<br />S
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var application in Model.Applications)
                                    {
                                        <tr>
                                            <td>@application.Application.Id.ToString().Split("-")[0].ToUpper()</td>
                                            <td></td>
                                            <td>
                                                @application.Application.Names<br />Tel:@application.Application.TelNo
                                            </td>
                                            <td>
                                                @foreach (var sub in application.KcseScores)
                                                {
                                                    <span>@sub.SubjectName @sub.Grade</span>
                                                }
                                            </td>
                                            <td>
                                                @foreach (var edu in application.EducationExperiences)
                                                {
                                                    @(edu.EndDate.Year + ": " + edu.CourseStudied + " - " + edu.Grade + " - " + edu.Institution)<hr />
                                                }
                                            </td>
                                            <td>
                                                @foreach (var wrk in application.WorkExperiences)
                                                {
                                                    @(wrk.StartDate.Year + " to " + wrk.EndDate.Year + ": " + wrk.Designation + " - " + wrk.Employer)<hr />
                                                }
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    }
                                </tbody>
                            </table><br />

                            <div style="padding-left:30px;">
                                <div class="row">
                                    <div class="col-md-11">
                                        Approved COD: _________________________________________________ Sign____________________________________ Date_________________
                                    </div>
                                </div>
                                <strong>COD, @Model.Programme.Department</strong>
                            </div><br />

                            <div style="padding-left:30px;">
                                <div class="row">
                                    <div class="col-md-11">
                                        Approved Dean: _________________________________________________ Sign____________________________________ Date_________________
                                    </div>
                                </div>
                                <strong>Dean, @Model.School</strong>
                            </div><br />

                            <div style="padding-left:30px;">
                                <div class="row">
                                    <div class="col-md-11">
                                        Approved: Name _________________________________________________ Sign____________________________________ Date_________________
                                    </div>
                                </div>
                                <strong>Chairman, Deans' Committee</strong>
                            </div><br />
                        }


                    </div>
                </div><br />
            </div>
            <div class="col-md-2"></div>
        </div>
    }
    @if (!Model.Success)
    {
        <div class="alert alert-danger">@Model.Message</div>
    }
</section>


<script>
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;

    }
</script>