﻿

@model AbnApplicationPortal.Core.Models.ApplicationVm.DeferPdfApplicationViewModel

@{
    ViewData["Title"] = "Export Defer Pdf";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<section class="min-h-screen bg-green-600 text-gray-700 body-font">

    @*<div class="container flex justify-center items-centerflex-col w-full mx-auto mb-4">
            <h2 class="text-2xl font-bold text-white mt-8 ">@Model.Programme.Name Applications</h2>
        </div>*@
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <button class="btn btn-primary" onclick="printDiv('pdf')">Print</button>
                </div>
                <div class="card-body min-h-screen" id="pdf">
                    <div class="row" style="text-align:center;">
                        <div class="col-md-12 mt-5">
                            <div style="text-align:center;">
                                <img src="~/@Model.ClientSetting.LogoUrl" alt="Client Logo" style="display: block; margin-left: auto; margin-right: auto; width: 10%;" /><br />
                            </div>
                            <h4><strong> @Model.ClientSetting.ClientName.ToUpper() </strong></h4>


                        </div>
                    </div>
                    @if (Model.DeferApplications.Count() > 0)
                    {

                        <table class="container-fluid table-auto table-bordered w-full mt-5">
                            <thead>
                                <tr class="text-xs p-2" style="text-align:center;">
                                    <th>S/NO</th>
                                    <th>
                                        NAME
                                    </th>
                                    <th>ADMISSION NO</th>
                                    <th>NATURE OF REQUEST</th>
                                    <th>SEMESTER/ACADEMIC<br>YEAR DEFERED</th>
                                    <th>
                                        REASON
                                    </th>
                                    <th>
                                        EXPECTED<br /> RESUMPTION<br /> DATE
                                    </th>
                                    <th>
                                        DEAN'S<br />COMMENTS
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr><th colspan="8" class="text-center">School of Pure & Applied Sciences</th></tr>
                                @{var i = 0; }
                                @foreach (var application in Model.DeferApplications)
                                {
                                    i++;
                                    <tr class="p-5 text-center">
                                        <td>@i</td>
                                        <td>
                                            @application.Application.Names
                                        </td>
                                        <td>@application.AdmNo</td>
                                        <td>Deferment of Studies</td>
                                        <td>

                                            @application.Deferment.Count @application.Deferment.Unit
                                        </td>
                                        <td>
                                            @application.Deferment.ReasonString
                                        </td>

                                        <td>@application.Deferment.ExpectedDate.ToString("MMM-yyyy")</td>
                                        <td></td>

                                    </tr>
                                }

                            </tbody>
                        </table><br />
                    }
                    else
                    {
                        <p>no records</p>
                    }

                    <div class="mt-10">
                        <div class="row">
                            <div class="col-md-11 center">
                                <strong> Prepared By: &nbsp;</strong> @Model.ApplicationUser.Names <br /> <br /><br />
                                <strong class="inline-block">Signature:&nbsp;&nbsp;&nbsp;&nbsp; </strong> <img class="inline-block" src="~/@Model.SignaturePathUrl" width="100" height="30" /> <strong class="inline-block">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Date:&nbsp;&nbsp;&nbsp;&nbsp; </strong>@DateTime.Now.ToString("dddd, dd MMMM yyyy")
                            </div>
                        </div>
                        @*<strong>Dean, @Model.School</strong>*@
                    </div><br />

                    <div class="mt-10">
                        <div class="row">
                            <div class="col-md-11 center">
                                <strong> Deans' Committee Chairman</strong><br /><br /><br />

                                <strong>Signature:</strong>____________________________________ <strong>Date:</strong>_________________
                            </div>
                        </div>
                    </div><br />



                </div>
            </div><br />
        </div>
        <div class="col-md-2"></div>
    </div>

</section>


<script>
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;

    }
</script>

