﻿@model List<AbnApplicationPortal.Core.Models.ApplicationVm.ApplicationMiniViewModel>


@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "My Applications";

}
<section>


    <div class="page-head">
        <h4 class="mt-2 mb-2 bg-white text-success col-2 rounded p-2">@ViewData["Title"]</h4>
    </div>

    <div id="accordion" class="accordion">
        @if (!Model.Any())
        {
            <div class=" card p-5 h-full flex justify-center items-center flex-col">
                <p class="font-weight-bold text-black-50 mb-5 text-info">You dont have any application at the moment, click on the "add application" button below to apply.</p>
                <div>
                    <a asp-controller="IntakeApplications" asp-action="ApplyIntake" class="flex btn mx-auto text-black-50 border py-2 px-8 focus:outline-none hover:bg-yellow-600 rounded text-lg">Add Application</a>
                </div>
            </div>
        }
        else
        {
            foreach (var application in Model)
            {

                var colorClass = "";
                var bgcolor = "";

                if (application.IntakeStatus == "Pending")
                {
                    colorClass = "bg-info";
                    bgcolor = "";
                }
                if (application.IntakeStatus == "Inactive")
                {
                    colorClass = "bg-dark";
                    bgcolor = "";
                }
                if (application.IntakeStatus == "Active")
                {
                    colorClass = "bg-success";
                    bgcolor = "";
                }
                if (application.IntakeStatus == "Approved")
                {
                    colorClass = "bg-primary";
                    bgcolor = "";
                }
                if (application.IntakeStatus == "Declined")
                {
                    colorClass = "bg-danger";
                    bgcolor = "";
                }
                if (application.IntakeStatus == "Accepted")
                {
                    colorClass = "bg-success";
                    bgcolor = "";
                }
                if (application.IntakeStatus == "Defered")
                {
                    colorClass = "bg-warning";
                    bgcolor = "";
                }
                if (application.IntakeStatus == "DeferDeclined")
                {
                    colorClass = "bg-warning";
                    bgcolor = "bg-warning";
                }

                <div class="portlet" data-toggle="collapse" href="#@application.Id" >
                    <div class="portlet-heading @colorClass">
                        <h3 class="portlet-title text-white">
                            REF: @application.RefNo [@application.GradeCertTypeName]
                        </h3>
                        <div class="portlet-widgets">

                            <a  data-parent="#accordion1"  class="" aria-expanded="true"><i class="fa fa-minus"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="@application.Id" class="panel-collapse in collapse" style="">
                        <div class="portlet-body @bgcolor">
                            <span class="badge badge-info bg-danger">
                                @if (!application.IsFullyPaid)
                                {
                                    <span>Not Fully Paid</span>
                                }

                            </span>
                            [@application.Status]
                            <br><br> 
                            @{ var i = 0;}
                            @foreach (var item in application.Programmes)
                            {
                                i++;

                                <div class="col-lg-12">
                                    <h5>@i . @item.Code @item.Name</h5>
                                    <p>
                                        @item.Requirements
                                    </p>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <a class="btn btn-rounded btn-primary" asp-controller="IntakeApplications" asp-action="ViewApplication" asp-route-id="@application.Id"><i class="fa fa-eye"></i> View Application</a>
                                    </div>
                                    <div class="col-md-6">
                                        @if (!application.IsFullyPaid)
                                        {

                                            <a class="btn btn-rounded btn-success" asp-controller="IntakeApplications" asp-action="PayApplication" asp-route-id="@application.Id"><i class="fa fa-mobile"></i> Pay via Mpesa</a>
                                        }
                                    </div>
                                </div>
                            }
                        </div>

                    </div>

                </div>
            }<br />
            <div style="text-align:center;">
                <a asp-controller="IntakeApplications" asp-action="ActiveIntakes" class="btn btn-rounded btn-primary"><i class="fa fa-plus"></i> Apply for Intake</a>

            </div>
        }
    </div>

</section>