﻿@model AbnApplicationPortal.Core.Models.ApplicationVm.PaymentConfirmViewModel
@inject IClientSettingsService client
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Pay Application";
    var bal = Convert.ToInt32(Model.Balance);
    var settings = client.Read().Data;
}

<div class="page-head">
    <h4 class="mt-2 mb-2 bg-light text-success col-2 rounded p-2">@ViewData["Title"]</h4>
</div>

<div class="row">
    <div class="col-lg-6 offset-3 shadow">
        <div class="card ">
            <div class="card-body row ">
                <div class="col-lg-4 offset-2"><img src="../assets/images/newImage.png" alt=""></div>

                <div class="col-lg-12 row">
                   

                    <div class="col-lg-10 offset-1 ">

                        <h4>
                            @Model.RefNo &nbsp; <span class="text-green-500 hover:text-yellow-600 underline"><a asp-action="ViewApplication" asp-route-id="@Model.ApplicationId">Review/Edit Application Details</a></span>
                        </h4>
                        <hr>
                        <label>
                            Dear @Model.Names, pay for application via M-Pesa <br>
                            Pay a non - refundable application fee of
                        </label>
                        @if (Model.PaybillISelf)
                        {

                            <form method="post" autocomplete="off" class="form-horizontal form-material">
                                <div class="lg:w-1/2 md:w-2/3 mx-auto">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <input asp-for="ApplicationId" type="hidden" />
                                    <input asp-for="RefNo" type="hidden" /><br>
                                    @if (settings.AllowPartialPayments)
                                    {
                                        <input class="form-control"
                                               name="Balance" value="@bal">
                                    }
                                    else
                                    {
                                        <input class="form-control"
                                               name="Balance" value="@bal" readonly="readonly">
                                    }
                                    <div class="p-2 w-1/2">
                                        <label>Phone Number (+2547xxxxxxxx)</label>
                                        <input class="form-control"
                                               asp-for="PhoneNumber" placeholder="2547xxxxxxxx" />
                                    </div>
                                    <div class="p-2 w-1/2">
                                        <input type="checkbox" id="ChkPayConfirm"> &nbsp;<span>Accept Terms and Conditions </span>
                                    </div>
                                    <div class="p-2 w-full">
                                        <span style="display:none" id="ShowPay">
                                            <button type="submit" class="btn btn-success btn-lg btn-rounded" >
                                                Submit
                                            </button>
                                        </span>
                                        <span id="HidePay">
                                            <a href="javascript:void(0)" class="disabled inline-flex text-white bg-yellow-300 border-0 py-2 px-8 focus:outline-none hover:bg-gray-100 rounded text-lg">
                                                Submit
                                            </a>
                                        </span>
                                    </div>
                                </div>

                            </form>
                        }
                        else
                        {
                            <p>
                                <br />
                                Pay a non-refundable application fee of <b>@Model.Balance</b> .<br />
                                Paybill business number is <b>@Model.Paybill</b> <br />
                                Account number is your application reference number <b>@Model.RefNo</b> <br />
                                After paying click "Confirm Payment" button to Finish
                                <br />
                                <br />
                                <a asp-action="SyncUnisolPayment" asp-route-id="@Model.ApplicationId" asp-route-code="@Model.RefNo"
                                   class="ml-4 inline-flex text-gray-700 bg-gray-200 border-0 py-2 px-6 focus:outline-none hover:bg-gray-300 rounded text-lg">
                                    Confirm Payment
                                </a>
                            </p>
                        }



                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>