﻿@{
    AbnApplicationPortal.Core.Models.ApplicationVm.PaymentConfirmViewModel payModel;
    var tempData = TempData["StkResponse"]?.ToString();
    if (string.IsNullOrEmpty(tempData))
    {
        payModel = new AbnApplicationPortal.Core.Models.ApplicationVm.PaymentConfirmViewModel();
    }
    payModel = Newtonsoft.Json.JsonConvert.DeserializeObject<AbnApplicationPortal.Core.Models.ApplicationVm.PaymentConfirmViewModel>(tempData);

    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Pay Confirmation";
}
<section class="min-h-screen bg-green-600 text-gray-700 body-font">
    <div class="container flex justify-center items-centerflex-col w-full mx-auto mb-4">
        <h2 class="text-2xl font-bold text-white mt-8 ">@ViewData["Title"]</h2>
    </div>
    <div class="container w-full   px-5 py-8 mx-auto mb-2">
        <div class=" p-6 rounded-lg bg-white relative  ">
            <div class="flex justify-between mb-6">
                <div class="text-2xl font-bold">
                    @ViewData["Title"]
                </div>
                <div>
                    <img src="~/assets/images/safaricom-logo.png" />
                </div>
            </div>
            <div class="w-full ">
                <h4>
                    @payModel.RefNo
                </h4>
                <p>
                    @if (payModel.Success)
                    {
                        <span class="fa fa-check-circle fa-2x"></span>
                    }
                    else
                    {
                        <span class="fa fa-times-circle fa-2x"></span>
                    }
                    &nbsp; @payModel.Message
                </p>
                <br />
                <p class="text-center">
                    <a title="view application" class="underline text-blue-500" asp-action="ViewApplication" asp-route-id="@payModel.ApplicationId"> View Application @payModel.RefNo</a>
                </p>
            </div>
        </div>
    </div>
</section>

