﻿@model AbnApplicationPortal.Core.Models.ApplicationVm.ApplicationViewModel
@inject IClientSettingsService _clientService
@inject UserManager<ApplicationUser> UserManager
@using AbnApplicationPortal.Shared.Models
@{
    ViewData["Title"] = "Application";
    Layout = "/Views/Shared/_Layout.cshtml";
    var application = Model.Application;
    var isApplicant = User.IsInRole(PrimaryRole.Applicant);
    var client = _clientService.Read().Data;
    var hasAllowed = client.AllowPartialPayments || Model.Balance <= 0;
    var balance = Model.Balance <= 0 ? 0 : Model.Balance;
    var user = await UserManager.GetUserAsync(User);
}

<div class="page-head"></div>
<div class="row">
    <div class="col-lg-4 col-sm-12">
        <div class="card m-b-30 border-0">

            <div class="card-body pro-img mx-auto text-center">

                <h1>@application.Email.Substring(0, 1).ToUpper()</h1>


            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4"><strong>Names</strong></div>
                        <div class="col-md-8">@application.Names</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4"><strong>Gender</strong></div>
                        <div class="col-md-8">@application.Gender</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4"><strong>Phone</strong></div>
                        <div class="col-md-8">@application.TelNo</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4"><strong>Email</strong></div>
                        <div class="col-md-8">@application.Email</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4"><strong>@application.IdDocument</strong></div>
                        <div class="col-md-8">@application.NationalId</div>
                    </div>
                </li>

            </ul>
            @if (isApplicant)
            {
                <div class="row text-center profile-block">
                    <div class="col-12 align-self-center py-3 border-right">
                        <a class="btn btn-rounded btn-outline-primary" asp-controller="ApplicationProfile" asp-action="PersonalDetails">Update Info</a>
                    </div>
                </div>
            }


        </div>
        @if (!client.IsSaga)
        {
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="card  m-b-30">
                        <div class="card-body">
                            <h6 class="header-title pb-3">KCPE/KCSE Information</h6>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-4"><strong>KCSE Index No.</strong></div>
                                        <div class="col-md-8">@application.IndexNo</div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-4"><strong>KCSE Year</strong></div>
                                        <div class="col-md-8">@application.KcseYear</div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-4"><strong>KCSE Qualification</strong></div>
                                        <div class="col-md-8">@application.KcseQualification</div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-4"><strong>KCPE Index No</strong></div>
                                        <div class="col-md-8">@application.KcpeIndexNo</div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-4"><strong>KCPE Year</strong></div>
                                        <div class="col-md-8">@application.KcpeYear</div>
                                    </div>
                                </li>
                            </ul>
                            @if (isApplicant)
                            {
                                <div class="row text-center profile-block">
                                    <div class="col-12 align-self-center py-3 border-right">
                                        <a class="btn btn-rounded btn-outline-primary" asp-controller="ApplicationProfile" asp-action="PersonalDetails">Update Info</a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (!client.SimpleProfile)
        {
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="card m-b-30 contact">
                        <div class="card-body">
                            <h6 class="header-title pb-3">More Details</h6>
                            <ul class="list-group list-group-flush">

                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-4"><strong>Date Of Birth</strong></div>
                                        <div class="col-md-8">@application.Dob</div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-4"><strong>Marital Status</strong></div>
                                        <div class="col-md-8">@application.Marital</div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-4"><strong>Nationality</strong></div>
                                        <div class="col-md-8">@application.Nationality</div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-4"><strong>Religion</strong></div>
                                        <div class="col-md-8">@application.Religion</div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-4"><strong>Official Language(s)</strong></div>
                                        <div class="col-md-8">@application.Language</div>
                                    </div>
                                </li>
                            </ul>
                            @if (isApplicant)
                            {
                                <div class="row text-center profile-block">
                                    <div class="col-12 align-self-center py-3 border-right">
                                        <a class="btn btn-rounded btn-outline-primary" asp-controller="ApplicationProfile" asp-action="PersonalDetails">Update Info</a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="card m-b-30 contact">
                        <div class="card-body">
                            <h6 class="header-title pb-3">Medical</h6>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-4"><strong>Disability Condition</strong></div>
                                        <div class="col-md-8">@application.Disability</div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-4"><strong>Medical Info</strong></div>
                                        <div class="col-md-8">@application.Special</div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-4"><strong>Co-curriculum Activities</strong></div>
                                        <div class="col-md-8">@application.Activity</div>
                                    </div>
                                </li>
                            </ul>
                            @if (isApplicant)
                            {
                                <div class="row text-center profile-block">
                                    <div class="col-12 align-self-center py-3 border-right">
                                        <a class="btn btn-rounded btn-outline-primary" asp-controller="ApplicationProfile" asp-action="PersonalDetails">Update Info</a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="card m-b-30">
                    <div class="card-body">
                        <h6 class="header-title pb-3">Location</h6>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-5"><strong>County</strong></div>
                                    <div class="col-md-7">@application.County</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-5"><strong>Sub-County</strong></div>
                                    <div class="col-md-7">@application.SubCounty</div>
                                </div>
                            </li>
                            @if (!client.SimpleProfile)
                            {
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-5"><strong>Constituency</strong></div>
                                        <div class="col-md-7">@application.Constituency</div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-5"><strong>Address</strong></div>
                                        <div class="col-md-7">@application.HomeAddress</div>
                                    </div>
                                </li>
                            }
                        </ul>
                        @if (isApplicant)
                        {
                            <div class="row text-center profile-block">
                                <div class="col-12 align-self-center py-3 border-right">
                                    <a class="btn btn-rounded btn-outline-primary" asp-controller="ApplicationProfile" asp-action="LocationDetails" asp-route-appId="@application.Id">Update Info</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
    @{
        var canApprove = !isApplicant && !application.IsUploaded;
        var hasAnyApproved = application.ApplicationProgrammes.Any(p => p.IsApproved);
    }
    <div class="col-lg-8 col-sm-12">
        <div class="card-title tab-2">
            <ul class="nav nav-tabs nav-justified">
                <li class="nav-item">
                    <a class="nav-link active" href="#app-detail" data-toggle="tab" aria-expanded="false"><i class="ti-user mr-2"></i>Application</a>
                </li>
                @if (!client.SimpleProfile)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="#about" data-toggle="tab" aria-expanded="false"><i class="ti-user mr-2"></i>Kin/Emergency Contacts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#photo" data-toggle="tab" aria-expanded="false"><i class="ti-image mr-2"></i>Programmes/Documents</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#settings" data-toggle="tab" aria-expanded="false"><i class="ti-settings mr-2"></i>Defer</a>
                    </li>
                }
            </ul>
            <div class="tab-content p-4 bg-white">

                <div class="tab-pane active p-4" id="app-detail">
                    <br />

                    @if (client.SimpleProfile)
                    {
                        <div class="row">
                            <div class="col-lg-12 col-sm-12">

                                <div class="card m-b-30">
                                    <div class="card-header">
                                        @if (!canApprove)
                                        {
                                            <a class="btn btn-rounded btn-outline-primary" asp-action="ApplyProgrammes"
                                               asp-route-intId="@application.IntakeId" asp-route-grtId="@application.GradeTypeId" asp-route-appId="@application.Id">Update Programmes</a>
                                        }
                                    </div>
                                    <div class="card-body">
                                        <h5 class="header-title pb-3">Applied Programmes </h5>
                                        <div id="user-activities" class="tab-pane">
                                            <div class="timeline-2">
                                                @foreach (var programme in Model.Programmes)
                                                {
                                                    <div class="time-item">
                                                        <div class="item-info">
                                                            <div class="text-muted">@programme.Code</div>
                                                            <p><strong><a href="#" class="text-info">@programme.Name</a></strong> @programme.CertType </p>
                                                            <p>
                                                                Accepted:
                                                                @if (programme.IsApproved)
                                                                {
                                                                    <em> <i class="fa fa-check-circle"></i> YES </em>
                                                                }
                                                                else
                                                                {
                                                                    if (canApprove)
                                                                    {
                                                                        if (hasAllowed)
                                                                        {
                                                                            <span> <a class="badge badge-primary" asp-action="ApproveProgramme" asp-route-id="@programme.ProgrammeId" asp-route-appId="@application.Id">Accept</a> </span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <em>--NOT PAID---</em>
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        <em> NO </em>
                                                                    }
                                                                }
                                                            </p>
                                                        </div>
                                                    </div>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--end row-->
                        <br />
                    }
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-5"><strong>Ref</strong></div>
                                <div class="col-md-7">@application.Code</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-5"><strong>Intake</strong></div>
                                <div class="col-md-7"> @Model.Intake?.Name</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-5"><strong>Status</strong></div>
                                <div class="col-md-7">@application.StatusStr</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-5"><strong>Payment</strong></div>
                                <div class="col-md-7">
                                    @if (Model.Balance > 0)
                                    {
                                        <span class="badge badge-danger"><i class="fa fa-times-circle"></i> Not Fully Paid</span>
                                        @if (isApplicant)
                                        {
                                            <a asp-action="PayApplication" asp-route-id="@application.Id" class="btn btn-rounded btn-primary">
                                                Pay Via M-Pesa
                                            </a>
                                        }

                                    }
                                    else
                                    {
                                        <span class="badge badge-primary"><i class="fa fa-check-circle"></i> Fully Paid</span>
                                    }
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-5"><strong>Expected Amount</strong></div>
                                <div class="col-md-7">@Model.TotalExpected</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-5"><strong>Paid</strong></div>
                                <div class="col-md-7">@Model.TotalPaid</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-5"><strong>Balance</strong></div>
                                <div class="col-md-7">@Model.Balance</div>
                            </div>
                        </li>
                        @if (Model.Balance > 0 && !application.IsUploaded && !Model.PaybillIsSelf)
                        {
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-12">

                                        <span class="ml-10">
                                            <a class="btn btn-primary btn-rounded" asp-action="SyncUnisolPayment"
                                               asp-route-id="@application.Id" asp-route-code="@application.Code">Sync Payments</a>
                                        </span>

                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                    <br />

                    @if (!isApplicant)
                    {
                        <div class="row">
                            <h4>Comments</h4>
                            <div class="col-md-12">
                                @if (application.ApplicationComments.Any())
                                {
                                    <div class="timeline-2">
                                        @foreach (var item in application.ApplicationComments)
                                        {
                                            <div class="time-item">
                                                <div class="item-info">
                                                    <div class="text-muted">@item.DateCreatedStr</div>
                                                    <p><strong><a href="#" class="text-info">@item.Status</a></strong></p>
                                                    <p>
                                                        @item.Content
                                                    </p>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }
                            </div>
                            <form method="post" autocomplete="off" class="form-horizontal form-material">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Comment</label>
                                        <input type="hidden" name="AppId" value="@application.Id" />
                                        <textarea required class="form-control"
                                                  rows="3" name="Comment" placeholder="Type to Compose">
                                        </textarea>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="submit" asp-action="EditComment" asp-route-decline="False" class="btn btn-primary btn-rounded">
                                            Post Comment
                                        </button>

                                    </div>
                                    <div class="col-md-6">
                                        @if (!hasAnyApproved && !application.Status.Equals(EntityStatus.Declined))
                                        {
                                            <button type="submit" asp-action="EditComment" asp-route-decline="True" class="btn btn-danger btn-rounded">
                                                Decline Application
                                            </button>
                                        }
                                    </div>
                                </div>

                            </form>
                        </div>
                    }
                    @if (!isApplicant && hasAnyApproved && !application.IsUploaded)
                    {
                        <div class="row">
                            @if (hasAllowed)
                            {
                                <div class="col-md-6">
                                    <a asp-route-id="@application.Id" asp-action="UploadSingleToUnisol" class="btn btn-rounded btn-primary">
                                        Push Application to Unisol
                                    </a>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-6">
                                    <span class="text-info"><i class="fa fa-exclamation-circle"></i> Application @application.Code is Not fully PAID</span>
                                </div>
                            }
                        </div>


                    }
                    <br /><br />
                    <div class="row">
                        <div class="offset-4">
                            @if (!isApplicant && application.IsUploaded)
                            {
                                <a asp-route-id="@application.Id" asp-action="UpdateDocumentsUnisol" class="btn btn-rounded btn-primary">
                                    Update Applicant Files
                                </a>

                            }
                        </div>
                    </div>



                </div>
                @if (!client.SimpleProfile)
                {
                    <div class="tab-pane p-4" id="about">
                        <div class="row justify-content-center">
                            <div class="col-md-12  profile-detail">
                                <div class="text-center">
                                    <i class="fa fa-hand-holding"></i>
                                    <h5>Next of Kin Details </h5>
                                    <div class="profile-border my-3"></div>

                                </div>
                                <div class="row mt-5">
                                    <div class="col-md-12">
                                        <div class="presonal-inform">
                                            <ul class="list-unstyled">
                                                <li><b>Name:</b>@application.KinName</li>
                                                <li><b>Phone:</b>@application.KinTel</li>
                                                <li><b>Email:</b>@application.KinEmail</li>
                                                <li><b>Relationship:</b>@application.KinRel</li>
                                                <li><b>Postal Address:</b> @application.KinAddress</li>
                                                <li><b>Notes:</b>@application.KinRemarks</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div><!--END ROW-->
                                @if (isApplicant)
                                {
                                    <div class="row text-center profile-block">
                                        <div class="col-12 align-self-center py-3 border-right">
                                            <a class="btn btn-rounded btn-outline-primary" asp-controller="ApplicationProfile" asp-action="NextOfKinDetails">Update Info</a>
                                        </div>
                                    </div>
                                }
                                <div class="text-center">
                                    <i class="fa fa-hand-holding"></i>
                                    <h5>Emergency Contact Details</h5>
                                    <div class="profile-border my-3"></div>
                                </div>
                                <div class="row mt-5">
                                    <div class="col-md-12">
                                        <div class="presonal-inform">
                                            <ul class="list-unstyled">
                                                <li><b>Name:</b>@application.EMName</li>
                                                <li><b>Phone:</b>@application.EMTel</li>
                                                <li><b>Email:</b>@application.EMEmail</li>
                                                <li><b>Relationship:</b>@application.EMRel</li>
                                                <li><b>Address:</b>@application.EMAddress</li>
                                                <li><b>Notes:</b>@application.EMRemarks</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div><!--END ROW-->
                                @if (isApplicant)
                                {
                                    <div class="row text-center profile-block">
                                        <div class="col-12 align-self-center py-3 border-right">
                                            <a class="btn btn-rounded btn-outline-primary" asp-controller="ApplicationProfile" asp-action="EmergencyContactDetails">Update Info</a>
                                        </div>
                                    </div>
                                }
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane" id="photo">

                        <div class="row">
                            <div class="col-lg-12 col-sm-12">

                                <div class="card m-b-30">
                                    <div class="card-header">
                                        @if (!canApprove)
                                        {
                                            <a class="btn btn-rounded btn-outline-primary" asp-action="ApplyProgrammes"
                                               asp-route-intId="@application.IntakeId" asp-route-grtId="@application.GradeTypeId" asp-route-appId="@application.Id">Update Programmes</a>
                                        }
                                    </div>
                                    <div class="card-body">
                                        <h5 class="header-title pb-3">Applied Programmes </h5>
                                        <div id="user-activities" class="tab-pane">
                                            <div class="timeline-2">
                                                @foreach (var programme in Model.Programmes)
                                                {
                                                    <div class="time-item">
                                                        <div class="item-info">
                                                            <div class="text-muted">@programme.Code</div>
                                                            <p><strong><a href="#" class="text-info">@programme.Name</a></strong> @programme.CertType </p>
                                                            <p>
                                                                Accepted:
                                                                @if (programme.IsApproved)
                                                                {
                                                                    <em> <i class="fa fa-check-circle"></i> YES </em>
                                                                }
                                                                else
                                                                {
                                                                    if (canApprove)
                                                                    {
                                                                        if (hasAllowed)
                                                                        {
                                                                            <span> <a class="badge badge-primary" asp-action="ApproveProgramme" asp-route-id="@programme.ProgrammeId" asp-route-appId="@application.Id">Accept</a> </span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <em>--NOT PAID---</em>
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        <em> NO </em>
                                                                    }
                                                                }
                                                            </p>
                                                        </div>
                                                    </div>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--end row-->
                        <br />

                        <div class="row">
                            <div class="col-lg-12 col-sm-12">

                                <div class="card m-b-30">
                                    <div class="card-header">
                                        @if (!canApprove)
                                        {
                                            <a class="btn btn-rounded btn-outline-primary" asp-action="ApplyDocuments" asp-route-appId="@application.Id">Update Documents</a>
                                        }
                                    </div>
                                    <div class="card-body">
                                        <h5 class="header-title pb-3">Attached Documents </h5>
                                        <div id="user-activities" class="tab-pane">
                                            <div class="timeline-2">
                                                @foreach (var document in application.ApplicationUploads)
                                                {
                                                    <div class="time-item">
                                                        <div class="item-info">
                                                            <div class="text-muted">@document.Name</div>
                                                            <p><strong><a href="#" class="text-info">@document.Description</a></strong> @document.DateCreatedStr </p>
                                                            <p>
                                                                <a class="badge badge-primary" asp-action="ViewUpload" asp-route-dId="@document.DocumentId" asp-route-appId="@application.Id">View Document</a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--end row-->
                    </div>
                    <div class="tab-pane" id="settings">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="card m-b-30">
                                    <div class="card-header">
                                        <div class="row text-right profile-block">
                                            <div class="col-12 align-self-right  border-right">
                                                @if (!canApprove && Model.UniStatus == "Approved")
                                                {
                                                    <a class="btn btn-rounded btn-outline-primary" asp-action="ApplyDeferment" asp-route-appId="@application.Id">Apply For Deferment</a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="header-title pb-3">Defer Applications</h5>
                                        <div id="user-activities" class="tab-pane">
                                            <div class="timeline-2">
                                                @foreach (var defer in Model.Deferments)
                                                {
                                                    <div class="time-item">
                                                        <div class="item-info">
                                                            <div class="text-muted">@defer.Count @defer.Unit (s)</div>
                                                            <p><strong><a href="#" class="text-info">@defer.ReasonString</a></strong> @defer.Approval </p>
                                                            <p>
                                                                @if (!canApprove && defer.Approval == "Pending")
                                                                {
                                                                    <a class="badge badge-info" asp-action="ApplyDeferment" asp-route-appId="@application.Id"
                                                                       asp-route-defId="@defer.Id">Edit</a>
                                                                }
                                                                @if (defer.Approval == "Approved")
                                                                {
                                                                    <a class="badge badge-primary" asp-action="DeferLetter" asp-route-appId="@application.Id"
                                                                       asp-route-defId="@defer.Id">Defer Letter</a>
                                                                }
                                                                @if (defer.Approval == "Cancelled")
                                                                {
                                                                    <a class="badge badge-primary" asp-action="CancelDeferLetter" asp-route-appId="@application.Id"
                                                                       asp-route-defId="@defer.Id">Cancellation Letter</a>
                                                                }
                                                            </p>
                                                        </div>
                                                    </div>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--end row-->
                    </div>
                }
            </div>
        </div>


    </div>
</div><!--end row-->
