﻿@model AbnApplicationPortal.Core.Models.ApplicationVm.ApplicationViewModel

@inject IClientSettingsService _clientService
@using AbnApplicationPortal.Shared.Models
@{
    ViewData["Title"] = "Application";
    Layout = "/Views/Shared/_Layout.cshtml";
    var application = Model.Application;
    var isApplicant = User.IsInRole(PrimaryRole.Applicant);
    var client = _clientService.Read().Data;
    var hasAllowed = client.AllowPartialPayments || Model.Balance <= 0;
    var balance = Model.Balance <= 0 ? 0 : Model.Balance;
}



<div class="page-head row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">

                <h4 class="  rounded p-2 text-primary"><i class="ti-eye text-primary"></i>@ViewData["Title"] &nbsp;[@application.StatusStr]</h4>
                <small><br /> @Model.Intake?.Name</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3 ml-auto">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="fa fa-check"></i> Accepted
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="col-lg-3 ml-auto">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <span class="text-danger "><i class="fa fa-danger"></i> Not fully paid</span>

            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    @if (Model.Balance > 0)
    {
        <span class="p-4 bg-red-200 text-red-800 rounded-full"><i class="fa fa-times-circle"></i> Not Fully Paid</span>
        @if (isApplicant)
        {
            <a asp-action="PayApplication" asp-route-id="@application.Id" class="inline-flex text-white bg-green-500 border-0 py-1 px-3 focus:outline-none hover:bg-green-600 rounded text-lg">
                Pay Via M-Pesa
            </a>
        }
    }
    else
    {
        <span class="p-4 bg-green-200 text-green-800 rounded-full"><i class="fa fa-check-circle"></i> Fully Paid</span>
    }
</div>
<div class="w-full my-4  border-gray-300 text-lg border-b-2">
    Personal Details
    @if (application.Status.Equals(EntityStatus.Pending) && Model.Intake.IsActive && isApplicant)
    {
        <span>
            &nbsp;<a class=" text-green-500 inline-flex items-center underline" asp-controller="ApplicationProfile" asp-route-appId="@application.Id" asp-action="PersonalDetails"> Update Profile</a>
        </span>
    }
</div>

<div class="row">
    <div class="col-lg-12 col-sm-12">
        <div id="accordion" class="accordion">
            <div class="card">
                <div class="card-header collapsed bg-light text-info" data-toggle="collapse" href="#collapseOne">
                    <i class="fa fa-check text-success"></i>
                    <a class="card-title text-info" style="font-weight: bold;">
                        Personal Details
                    </a>
                    @if (application.Status.Equals(EntityStatus.Pending) && Model.Intake.IsActive && isApplicant)
                    {
                        <span>
                            &nbsp;<a class=" text-green-500 inline-flex items-center underline" asp-controller="ApplicationProfile" asp-route-appId="@application.Id" asp-action="PersonalDetails"> Update Profile</a>
                        </span>
                    }

                </div>
                <div id="collapseOne" class="card-body collapse row" data-parent="#accordion">
                    <div class="col-lg-12">
                        <table class="table table-borderless " id="datatable">
                            <tr>
                                <td>Ref No.<br> <b>@application.Code</b></td>
                                <td>Names<br> <b>@application.Names</b></td>
                                <td>National Id<br> <b>@application.IdDocument</b></td>
                            </tr>
                            <tr>
                                <td>@client.IndexNoLabel<br> <b>@application.IndexNo</b></td>

                                @if (!client.IsSaga)
                                {
                                    <td>KCSE Year<br> <b>@application.KcseYear</b></td>
                                    <td>KCPE Index Number<br> <b>@application.KcpeIndexNo</b></td>
                                    <td>KCPE Year<br><b>@application.KcpeYear</b></td>
                                }
                            </tr>
                            <tr>
                                <td>Email Address<br> <b>@application.Email<</b></td>
                                <td>Phone Number<br> <b>@application.TelNo<</b></td>
                                <td>Nationality<br> <b>@application.Nationality</b></td>
                            </tr>
                            <tr>
                                <td>County<br> <b>@application.County</b></td>
                                <td>Sub County<br> <b>@application.SubCounty</b></td>
                                @if (!client.IsSaga)
                                {

                                    <td>Constituency<br> <b>@application.Constituency</b></td>
                                }
                            </tr>
                            <tr>
                                @if (!client.IsSaga)
                                {

                                    <td>Postal Address<br> <b>@application.HomeAddress</b></td>
                                }
                                <td>Grade Type<br> <b>@application.GradeType</b></td>
                                <td>Campus<br> <b>@application.Campus</b></td>
                            </tr>
                            <tr>
                                <td>Study Mode<br> <b>@application.StudyMode</b></td>
                                <td>Religion<br> <b>@application.Religion</b></td>
                                <td>Marital Status<br> <b>@application.Marital</b></td>
                            </tr>
                            <tr>
                                <td>Language<br> <b>>@application.Language</b></td>
                                <td>Disability Condition<br> <b>@application.Disability</b></td>
                                <td>Medical Information<br> <b>@application.Special</b></td>
                            </tr>
                            <tr>
                                <td>Co-curriculum Activitiese<br> <b>@application.Activity</b></td>
                                <td>Source<br> <b>@application.Source</b></td>

                            </tr>
                        </table>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header collapsed bg-light text-info" data-toggle="collapse" href="#collapseTo">
                    <i class="fa fa-check text-success"></i>
                    <a class="card-title text-info" style="font-weight: bold;">
                        Next of Kin
                    </a>
                </div>
                <div id="collapseTo" class="card-body collapse row" data-parent="#accordion">
                    <div class="col-lg-12">
                        <table class="table table-borderless">
                            <tr>
                                <td>Relation<br> <b>@application.KinRel</b></td>
                                <td>Name<br> <b>@application.KinName</b></td>
                                <td>Phone Number<br> <b>@application.KinTel</b></td>
                            </tr>
                            <tr>
                                <td>Email Address<br> <b>@application.KinEmail</b></td>
                                <td>Notes<br> <b>@application.KinRemarks</b></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header collapsed bg-light text-info" data-toggle="collapse" href="#collapseTwo">
                    <i class="fa fa-warning text-danger"></i>
                    <a class="card-title text-info" style="font-weight: bold;">
                        Emergency Contact
                    </a>
                </div>
                <div id="collapseTwo" class="card-body collapse row" data-parent="#accordion">
                    <div class="col-lg-12">
                        <table class="table table-borderless">
                            <tr>
                                <td>Relation<br> <b>@application.EMRel</b></td>
                                <td>Name<br> <b>@application.EMName</b></td>
                                <td>Phone Number<br> <b>@application.EMTel</b></td>
                            </tr>
                            <tr>
                                <td>Email Address<br> <b>@application.EMEmail/b></td>
                                <td>Notes<br> <b>@application.EMRemarks</b></td>
                            </tr>
                        </table>
                        @{
                            var canApprove = !isApplicant && !application.IsUploaded;
                            var hasAnyApproved = application.ApplicationProgrammes.Any(p => p.IsApproved);
                        }
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header collapsed bg-light text-info" data-toggle="collapse" href="#collapseThree">
                    <i class="fa fa-warning text-danger"></i>
                    <a class="card-title text-info" style="font-weight: bold;">
                        Applied Programmes

                    </a>
                </div>
                <div id="collapseThree" class="card-body collapse row" data-parent="#accordion">
                    <div class="col-lg-12">
                        @if (!canApprove)
                        {
                            <span class="ml-10">
                                <a class="btn btn-outline-info" asp-action="ApplyProgrammes"
                                   asp-route-intId="@application.IntakeId" asp-route-grtId="@application.GradeTypeId" asp-route-appId="@application.Id">Update Programmes</a>
                            </span>
                        }
                        <table class="table table-borderless">
                            <tr>
                                <td>CODE</td>
                                <td>NAME</td>
                                <td>TYPE</td>
                                <td>ACCEPTED</td>
                            </tr>

                            @foreach (var item in Model.Programmes)
                            {
                                <tr>
                                    <td> @item.Code</td>
                                    <td>@item.Name</td>
                                    <td>@item.GradeType - @item.CertType</td>
                                    @if (item.IsApproved)
                                    {
                                        <td> YES</td>
                                    }
                                    else
                                    {
                                        if (canApprove)
                                        {
                                            if (hasAllowed)
                                            {
                                                <span> <a class="text-blue-500" asp-action="ApproveProgramme" asp-route-id="@item.ProgrammeId" asp-route-appId="@application.Id">-- Accept --</a> </span>
                                            }
                                            else
                                            {
                                                <span>--NOT PAID---</span>
                                            }
                                        }
                                        else
                                        {
                                            <span> NO </span>
                                        }
                                    }
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header collapsed bg-light text-info" data-toggle="collapse" href="#collapseFour">
                    <i class="fa fa-warning text-danger"></i>
                    <a class="card-title text-info" style="font-weight: bold;">
                        Attached Documents

                    </a>
                </div>
                <div id="collapseFour" class="card-body collapse row" data-parent="#accordion">
                    <div class="col-lg-12">
                        {
                        <span class="">
                            <a class="btn btn-outline-info" asp-action="ApplyDocuments" asp-route-appId="@application.Id">Update Documents</a>
                        </span>
                        }
                        <table class="table table-borderless">
                            <tr>
                                <td>NAME</td>
                                <td>DESCRIPTION</td>
                                <td>VIEW DOCUMENT</td>
                            </tr>
                            @foreach (var item in application.ApplicationUploads)
                            {
                                <tr>
                                    <td> @item.Name</td>
                                    <td> @item.Description</td>
                                    <td>
                                        <span> <a asp-action="ViewUpload" asp-route-dId="@item.DocumentId" asp-route-appId="@application.Id">-- View Document --</a> </span>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header collapsed bg-light text-info" data-toggle="collapse" href="#collapseFor">
                    <i class="fa fa-warning text-danger"></i>
                    <a class="card-title text-info" style="font-weight: bold;">
                        Defer Applications
                    </a>
                </div>
                <div id="collapseFor" class="card-body collapse row" data-parent="#accordion">
                    <div class="col-lg-12">
                        <a href="Deferments.html">Apply for Deferment</a>
                        @if (!canApprove && application.Status == EntityStatus.Accepted)
                        {
                            <span class="">
                                <a class="btn btn-outline-info" asp-action="ApplyDeferment" asp-route-appId="@application.Id">Apply for deferment</a>
                            </span>
                        }
                        <table class="table table-borderless">
                            <tr>
                                <td>DEFER FOR</td>
                                <td>REASON</td>
                                <td>STATUS</td>
                                <td>Actions</td>
                            </tr>
                            @foreach (var item in Model.Deferments)
                            {
                                <tr>
                                    <td>  @item.Count @item.Unit (s)</td>
                                    <td> @item.ReasonString</td>
                                    <td>@item.Approval</td>
                                    <td>
                                        @if (!canApprove && item.Approval == "Pending")
                                        {
                                            <span>
                                                <a class="text-blue-500" asp-action="ApplyDeferment" asp-route-appId="@application.Id"
                                                   asp-route-defId="@item.Id">Edit</a>
                                            </span>
                                        }
                                        @if (item.Approval == "Approved")
                                        {
                                            <a class="text-blue-500" asp-action="DeferLetter" asp-route-appId="@application.Id"
                                               asp-route-defId="@item.Id">Defer Letter</a>
                                        }
                                        @if (item.Approval == "Cancelled")
                                        {
                                            <a class="text-blue-500" asp-action="CancelDeferLetter" asp-route-appId="@application.Id"
                                               asp-route-defId="@item.Id">Cancellation Letter</a>
                                        }
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header collapsed bg-light text-info" data-toggle="collapse" href="#collapseFive">
                    <i class="fa fa-warning text-danger"></i>
                    <a class="card-title text-info" style="font-weight: bold;">
                        Payments
                    </a>
                    @if (Model.Balance > 0 && !application.IsUploaded && !Model.PaybillIsSelf)
                    {
                        <span class="ml-10">
                            <a class=" text-green-500 inline-flex items-center underline" asp-action="SyncUnisolPayment" asp-route-id="@application.Id" asp-route-code="@application.Code">Sync Payments</a>
                        </span>
                    }
                </div>
                <div id="collapseFive" class="card-body collapse row" data-parent="#accordion">
                    <div class="col-lg-12">
                        <table class="table table-borderless">
                            <tr>
                                <td>Expected Amount</td>
                                <td>Paid Amount</td>
                                <td>Balance</td>

                            </tr>
                            <tr>
                                <td>@Model.TotalExpected</td>
                                <td>@Model.TotalPaid</td>
                                <td>@balance</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            @if (!isApplicant)
            {
                <div class="w-full">
                    <div class="w-full my-4  border-gray-300 text-lg border-b-2">Comments</div>
                    <div class="relative w-1/2 m-8">
                        <div class="border-r-2 border-gray-500 absolute h-full top-0" style="left: 15px"></div>
                        @if (application.ApplicationComments.Any())
                        {

                            <ul class="list-none m-0 p-0">
                                @foreach (var item in application.ApplicationComments)
                                {
                                    <li class="mb-2">
                                        <div class="flex items-center mb-1">
                                            <div class="bg-gray-500 rounded-full h-8 w-8"></div>
                                            <div class="flex-1 ml-4 font-medium">@item.DateCreatedStr - @item.Status</div>
                                        </div>
                                        <div class="ml-12">
                                            @item.Content
                                        </div>
                                    </li>
                                }
                            </ul>
                        }
                    </div>
                    @*<form method="post" autocomplete="off" class="flex flex-wrap">
                            <div class="p-2  w-full md:w-1/2">
                                <label>Comment</label>
                                <input type="hidden" name="AppId" value="@application.Id" />
                                <textarea required class="w-full rounded border border-gray-400 focus:outline-none focus:border-green-500 text-base px-4 py-2"
                                          rows="3" name="Comment" placeholder="Type to Compose"></textarea>
                            </div>
                            <div class="p-2 w-full  flex">
                                <button type="submit" asp-action="EditComment" asp-route-decline="False" class="flex mx-auto text-white bg-yellow-500 border-0 py-2 px-8 focus:outline-none hover:bg-yellow-600 rounded text-lg">
                                    Post Comment
                                </button>
                                @if (!hasAnyApproved && !application.Status.Equals(EntityStatus.Declined))
                                {
                                    <button type="submit" asp-action="EditComment" asp-route-decline="True" class="flex mx-auto text-white bg-red-500 border-0 py-2 px-8 focus:outline-none hover:bg-green-600 rounded text-lg">
                                        Decline Application
                                    </button>
                                }
                            </div>
                        </form>*@
                </div>
            }

            @if (!isApplicant && hasAnyApproved && !application.IsUploaded)
            {

                <div class="w-full my-4  border-gray-300 text-lg border-b-2">&nbsp;</div>
                @if (hasAllowed)
                {
                    <div class=" w-full md:w-1/3 items-center justify-center">
                        <a asp-route-id="@application.Id" asp-action="UploadSingleToUnisol" class="flex mx-auto text-white bg-green-500 border-0 py-2 px-8 focus:outline-none hover:bg-yellow-600 rounded text-lg">
                            Push Application to Unisol
                        </a>
                    </div>
                }
                else
                {
                    <div class=" w-full md:w-1/3 items-center justify-center">
                        <span class="flex mx-auto text-lg"><i class="fa fa-exclamation-circle"></i> Application @application.Code is Not fully PAID</span>
                    </div>
                }

            }
            @if (!isApplicant && application.IsUploaded)
            {
                @*<div class="card">
                        <div class="card-header collapsed bg-light text-info" data-toggle="collapse" href="#collapseSeven">
                            <i class="fa fa-warning text-danger"></i>
                            <a class="card-title text-info" style="font-weight: bold;">
                                Update files
                            </a>
                            <a asp-route-id="@application.Id" asp-action="UpdateDocumentsUnisol" class="flex mx-auto text-white bg-green-500 border-0 py-2 px-8 focus:outline-none hover:bg-yellow-600 rounded text-lg">
                                Update Applicant Files
                            </a>

                        </div>
                        <div id="collapseSeven" class="card-body collapse row" data-parent="#accordion">
                            <div class="col-lg-12">
                                <button type="submit" class="btn btn-info">Update Applicant files</button>
                            </div>
                        </div>
                    </div>*@
            }
            @*<div class="card">
                    <div class="card-header collapsed bg-light text-info" data-toggle="collapse" href="#collapseSix">
                        <i class="fa fa-warning text-danger"></i>
                        <a class="card-title text-info" style="font-weight: bold;">
                            Comments
                        </a>
                    </div>
                    <div id="collapseSix" class="card-body collapse row" data-parent="#accordion">
                        <div class="col-lg-12">
                            <div class="form-group row">
                                <label class="col-md-12 control-label">Message</label>
                                <div class="col-md-6">
                                    <textarea class="form-control" rows="5"></textarea>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-outline-info">Post comment</button>
                        </div>
                    </div>
                </div>*@

        </div>
    </div>
</div>

