﻿@model KcseCertificateViewModel
@{
    ViewData["Title"] = "View Document";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<section class="min-h-screen bg-green-600 text-gray-700 body-font">
    <div class="container w-full   px-5 py-8 mx-auto mb-2">
        <div class=" p-6 rounded-lg bg-white relative  ">
            <div class="flex justify-between mb-6">
                <div class="text-2xl font-bold">
                    @ViewData["Title"] - @Model.Description
                </div>
                <div></div>
            </div>
            <div class="w-full ">
                @if (!string.IsNullOrEmpty(Model.PathUrl))
                {
                    var url = Model.FullPathUrl;
                    <p>
                        <a class="text-green-500 inline-flex items-center underline" asp-action="Download" asp-route-id="@Model.Id">Download Document</a>
                    </p>
                    <object data="@url" type="@Model.ContentType" width="100%" height="500px">
                        alt : <a href="@url">click to view</a>
                    </object>
                }
                else
                {
                    <p> <i class=" fa fa-exclamation-triangle"></i> Document Path not Found</p>
                }
            </div>
        </div>
    </div>
</section>

