﻿@model AbnApplicationPortal.Core.Models.EnquiryVm.EnquiryDetailViewModel
@inject IDropDownService _dropDownService;
@{
    ViewData["Title"] = "Enquiry Details";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<section id="features" class="features mb-5">
    <div class="container mt-5 mb-5">
        <div class="main-row p-2 bg-white shadow-lg row">
            <div class="col-8 offset-2">
                <div class="row">
                    <div class="blog-title col-12">
                        <h3 class="font-weight-bold">@Model.Enquiry.Code</h3>
                    </div>
                    <div class="blog-date mb-2 col-12">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-4">Name</div>
                                    <div class="col-md-8">@Model.Enquiry.Name</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-4">Email</div>
                                    <div class="col-md-8">@Model.Enquiry.Email</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-4">Phone</div>
                                    <div class="col-md-8">@Model.Enquiry.Phone</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-4">Category</div>
                                    <div class="col-md-8">@Model.Enquiry.CategoryStr</div>
                                </div>
                            </li>
                            <li class="list-group-item">@Model.Enquiry.Message</li>
                        </ul>
                    </div>
                    <div class="blog-desc mb-2 col-12">
                        <div class="card-body table-responsive">
                            <div class="table-odd">
                                <table id="datatable" class="table table-borderless">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @{ var i = 0;}
                                        @foreach (var item in Model.EnquiryFeedBacks)
                                        {
                                            i++;
                                            <tr>
                                                <td>
                                                    <ul class="list-group list-group-flush">
                                                        <li class="list-group-item">
                                                            <span>From: @item.Personel On: @item.DateCreated.ToString()</span>
                                                            <span>@item.Message</span>
                                                        </li>
                                                    </ul>

                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="blog-read-more mb-2 text-center col-12">
                        <form asp-action="SaveFeedBack" asp-controller="Enquiry" method="post">
                            <h6>Feedback</h6>
                            <input type="hidden" id="Id" name="Id" value="@Model.Enquiry.Id"/>
                            <div class="form-group">
                                <textarea class="form-control" name="Message" id="Message" rows="5" data-rule="required" data-msg="Please write something" placeholder="Message"></textarea>
                                <div class="validate"></div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success btn-block" type="submit">Submit Feedback</button>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>