﻿@model List<AbnApplicationPortal.Core.Models.IntakeSettingsVm.EnquiryViewModel>
@{
    ViewData["Title"] = "Enquiries";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="page-head">
    <h4 class="mt-2 mb-2 bg-light col-2 rounded p-2">@ViewData["Title"]</h4>
</div>
<div class="data-table">
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="card m-b-30 pt-4">
                <div class="col-lg-3 m-3">

                </div>
                <div class="card-body table-responsive">
                    <div class="table-odd">
                        <table id="datatable" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Details</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td> @item.Code</td>
                                        <td> @item.Name</td>
                                        <td>@item.Email</td>
                                        <td> @item.Message.Substring(0, 15)</td>
                                        <td>
                                            <div class="row p-1">
                                                <a asp-action="EnquiryDetail" asp-route-id="@item.Id" class="text-primary"><i class="fa fa-eye"></i> View</a>
                                                &nbsp;
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
