﻿@model IntakeViewModel
@inject IDropDownService _dropDownService;

@{
    ViewData["Title"] = "Edit Intake";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="page-head">
    <h4 class="mt-2 mb-2 bg-light text-primary col-2 rounded p-2">@ViewData["Title"]</h4>
</div>

<div class="row">
    <div class="col-12">
        <div class="card m-b-30 ">
            <div class="card-body">
                <form class="form-horizontal form-material" method="post" autocomplete="off">
                    <input asp-for="Id" class="form-control" />
                    <input asp-for="IsEditMode" class="form-control" />
                    <div class="row">
                        <div class="form-group col-4">
                            <label asp-for="Code"></label>
                            <input asp-for="Code" type="text" class="form-control" placeholder="Code" />
                            <span asp-validation-for="Code" class="text-danger"></span>
                        </div>

                        <div class="form-group col-4">
                            <label asp-for="Name"></label>
                            <input asp-for="Name" type="text" class="form-control" placeholder="Name" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="form-group col-4">
                            <label asp-for="AcademicYear"></label>
                            <select asp-for="AcademicYear" class="form-control" id="">
                                <option value="">select academic year</option>
                                @foreach (var item in await _dropDownService.AcademicYears())
                                {
                                    <option value="@item.Names" title="@item.Names">@item.Names</option>
                                }
                            </select>
                            <span asp-validation-for="AcademicYear" class="text-danger"></span>
                        </div>

                        <div class="form-group col-4">
                            <label asp-for="StartDate"></label>
                            <input type="date" asp-for="StartDate" class="form-control" placeholder="Type something" />
                            <span asp-validation-for="StartDate" class="text-danger"></span>
                        </div>

                        <div class="form-group col-4">
                            <label asp-for="EndDate"></label>
                            <input type="date" asp-for="EndDate" class="form-control" placeholder="Type something" />
                        </div>
                        <div class="form-group col-4">
                            <label asp-for="Description"></label>
                            <div>
                                <textarea asp-for="Description" class="form-control" rows="1"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-4">
                            <input asp-for="Active" type="checkbox">
                            <span> Active</span>
                            <span asp-validation-for="Active" class="text-danger"></span>
                        </div>
                        <div class="col-12"></div>
                        <div class="col-2 offset-5">
                            <div class="form-group mb-0 ">
                                <div>
                                    <button type="submit" class="btn btn-primary btn-rounded waves-effect waves-light">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

