﻿@model IntakeSetupViewModel
@{
    ViewData["Title"] = "Edit Intake Setup";
    var cPage = ViewData["cPage"]?.ToString();
}



@if (Model.Success)
{

    <div class="page-head">
        <h4 class="mt-2 mb-2 text-info">Intake Setup</h4>
    </div>
    <div class="col-12">
        <div class="main-tabs">
            <div class="row">
                <div class="col-12">
                    <div class="card m-b-30">
                        <div class="row">
                            <div class="card-body">
                                <div class="card-title border-b mb-4 row">
                                    <div class="d-inline-block ml-1 mb-1 col-6">
                                        <h4>@Model.Intake.Name</h4>
                                        <em>@Model.Intake.StartDateStr - @Model.Intake.EndDateStr</em> <br>
                                        @Model.Intake.Description
                                    </div>
                                    <div class=" ml-auto">
                                        @if (Model.Intake.Active)
                                        {<span class="p-4 bg-green-200 text-green-800 rounded-full alert-success rounded text-success"><i class="fa fa-check-circle "></i> Active</span>}
                                        else
                                        { <span class="p-4 bg-red-200 text-red-800 rounded-full alert-danger text-danger rounded"><i class="fa fa-times-circle "></i> Inactive</span>}
                                    </div>
                                </div>
                                <div class="row">

                                    @if (Model.IntakeGradeTypes.Any())
                                    {
                                        <div class="col-3">
                                            <div class="tab-7 m-b-30">
                                                <ul class="nav flex-column">
                                                    @foreach (var grade in Model.IntakeGradeTypes)
                                                    {
                                                        <li class="nav-item">
                                                            <a href="#gt-@grade.GradeTypeId" class="nav-link" data-toggle="tab" aria-expanded="false">@grade.Name</a>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-9">
                                            <div class="tab-7 m-b-30">
                                                <div class="tab-content">
                                                    @foreach (var grade in Model.IntakeGradeTypes)
                                                    {
                                                        <div class="tab-pane row" id="gt-@grade.GradeTypeId">
                                                            @if (!(string.IsNullOrEmpty(grade.Notes)))
                                                            {
                                                                <span class="alert alert-danger ">@grade.Notes</span>
                                                            }

                                                            <form class="col-12 form-horizontal form-material" method="post" autocomplete="off" gr-id="@grade.GradeTypeId">
                                                                <div class="row mb-4">
                                                                    <div class=" col-4">
                                                                        <input asp-for="@grade.IntakeId" class="form-control" type="hidden" />
                                                                        <input asp-for="@grade.GradeTypeId" class="form-control" type="hidden" />
                                                                        <input asp-for="@grade.IsAdded" class="form-control" type="hidden" />
                                                                    </div>
                                                                </div>

                                                                <div class="portlet">
                                                                    <div class="portlet-heading bg-primary">
                                                                        <h3 class="portlet-title text-white">
                                                                            @grade.Name
                                                                        </h3>
                                                                        <div class="portlet-widgets">
                                                                            <a data-toggle="collapse" data-parent="#accordion1" href="#@grade.GradeTypeId-c"><i class="fa fa-minus"></i></a>
                                                                        </div>
                                                                        <div class="clearfix"></div>
                                                                    </div>
                                                                    <div id="@grade.GradeTypeId-c" class="panel-collapse collapse in show">
                                                                        <div class="portlet-body">
                                                                            <div class="row">
                                                                                <div class="col-lg-12 ">
                                                                                    <div class="row">
                                                                                        <div class="col-4">
                                                                                            <div class="form-group  ">
                                                                                                <label asp-for="@grade.ApplicationFee"></label>
                                                                                                <input asp-for="@grade.ApplicationFee" placeholder="Application Fee" class="form-control" />
                                                                                            </div>
                                                                                            <span asp-validation-for="@grade.ApplicationFee" class="text-danger"></span>
                                                                                        </div>
                                                                                        <div class="col-4">
                                                                                            <div class="form-group  ">
                                                                                                <label asp-for="@grade.MaxUnits"></label>
                                                                                                <input asp-for="@grade.MaxUnits" placeholder="Maximum Units" min="1" class="form-control" />
                                                                                                <span asp-validation-for="@grade.MaxUnits" class="text-danger"></span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-4">
                                                                                            <div class="form-group ">
                                                                                                <label asp-for="@grade.Notes"></label>
                                                                                                <input asp-for="@grade.Notes" placeholder="Notes" class="form-control" />
                                                                                                <span asp-validation-for="@grade.Notes" class="text-danger"></span>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-lg-12 border-b my-2">
                                                                                    <div class="row">
                                                                                        <div class="col-3">
                                                                                            <h5> Study Modes </h5>
                                                                                        </div>
                                                                                        <div class="col-9 row">
                                                                                            @{ var si = 0;
                                                                                            }
                                                                                            @foreach (var study in grade.ClassTypes)
                                                                                            {
                                                                                                <div class="col-6 ">
                                                                                                    <div class="form-group">
                                                                                                        <input type="hidden" asp-for="@grade.ClassTypes[@si].ClassTypeId" />
                                                                                                        <input type="hidden" asp-for="@grade.ClassTypes[@si].GradeTypeId" />
                                                                                                        <label class="cr-styled">
                                                                                                            <input asp-for="@grade.ClassTypes[@si].IsAdded" type="checkbox">
                                                                                                            <i class="fa"></i>
                                                                                                            @study.Name
                                                                                                        </label>
                                                                                                    </div>
                                                                                                </div>
                                                                                                si++;
                                                                                            }
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12 row">
                                                                                    <div class="col-3"><h5> Campuses </h5></div>
                                                                                    <div class="col-9">
                                                                                        @{ var ci = 0;}
                                                                                        @foreach (var campus in grade.Campuses)
                                                                                        {
                                                                                            <div class="col-6 m-0">
                                                                                                <div class="form-group">
                                                                                                    <input type="hidden" asp-for="@grade.Campuses[@ci].CampusId" />
                                                                                                    <input type="hidden" asp-for="@grade.Campuses[@ci].GradeTypeId" />
                                                                                                    <label class="cr-styled">
                                                                                                        <input type="checkbox" asp-for="@grade.Campuses[@ci].IsAdded">
                                                                                                        <i class="fa"></i>
                                                                                                        @campus.Name
                                                                                                    </label>
                                                                                                </div>
                                                                                            </div>
                                                                                            ci++;
                                                                                        }
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                                <div class="row">
                                                                    <div class="col-lg-12 col-sm-12">
                                                                        @if (grade.Programmes.Any())
                                                                        {
                                                                            <div class="table-responsive">
                                                                                <table id="datatable" class="table table-borderless">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th>
                                                                                                <input type="checkbox" class="check-all" gr-id="@grade.GradeTypeId">
                                                                                                <i class="fa"></i> Select All
                                                                                            </th>
                                                                                        </tr>
                                                                                    </thead>

                                                                                    <tbody>
                                                                                        @{ var pi = 0;}
                                                                                        @foreach (var programme in grade.Programmes)
                                                                                        {
                                                                                            <tr>
                                                                                                <td>
                                                                                                    <div class="portlet">
                                                                                                        <div class="portlet-heading bg-info">
                                                                                                            <h4 class="portlet-title text-white">
                                                                                                                @programme.Name
                                                                                                            </h4>
                                                                                                            <div class="portlet-widgets">
                                                                                                                <input type="hidden" asp-for="@grade.Programmes[@pi].ProgrammeId" />
                                                                                                                <input type="hidden" asp-for="@grade.Programmes[@pi].GradeTypeId" />
                                                                                                                <input type="checkbox" class="intake-pr-check-@grade.GradeTypeId" asp-for="@grade.Programmes[@pi].IsAdded">
                                                                                                                <i class="fa"></i>
                                                                                                                <span class="divider"></span>
                                                                                                                <a data-toggle="collapse" data-parent="#accordion1" href="#@programme.Code-p"><i class="fa fa-minus"></i></a>
                                                                                                            </div>
                                                                                                            <div class="clearfix"></div>
                                                                                                        </div>
                                                                                                        <div id="@programme.Code-p" class="panel-collapse collapse in show">
                                                                                                            <div class="portlet-body">
                                                                                                                @programme.Requirements
                                                                                                            </div>
                                                                                                            <i class="badge badge-secondary">@programme.Period</i>
                                                                                                            <i class="badge badge-primary">@programme.Code</i>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </td>
                                                                                            </tr>
                                                                                            pi++;
                                                                                        }
                                                                                    </tbody>
                                                                                </table>

                                                                            </div>

                                                                        }
                                                                        else
                                                                        {
                                                                            <p>
                                                                                No programmes found for this Grade.
                                                                            </p>
                                                                        }
                                                                        <div class="col-lg-4 offset-5">
                                                                            <button type="submit" class="btn btn-primary btn-rounded"><i class="fa fa-plus"></i>Add to Intake</button>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-12">
                                            <p>
                                                No grade types Found.
                                            </p>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>


}
else
{
    <p>
        Error getting Intake. @Model.Message
    </p>
}

