﻿@model IntakeSummaryViewModel
@{
    ViewData["Title"] = "Summary";
    var totalIntakes = Model.Active + Model.InActive;
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="page-head">
    <h3>@ViewData["Title"]</h3>
</div>

<div class="row">
    <div class="col-4 progress-icon m-b-30">
        <div class="widget-box bg-danger">
            <div class="row d-flex align-items-center ml-1">
                <div class="col-6 text-white">
                    <h2 class="m-0 counter">@totalIntakes</h2>
                    <p>Total intakes</p>
                </div>
                <div class="col-6">
                    <div class="text-right"><i class="mdi mdi-chart-pie"></i></div>
                </div>
            </div>
            <div class="progress mx-auto mt-2" style="width: 90%; height: 8px">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 64%" aria-valuenow="64" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
    <div class="col-4 progress-icon m-b-30">
        <div class="widget-box bg-white">
            <div class="row d-flex align-items-center ml-1">
                <div class="col-6">
                    <h2 class="m-0 counter">@Model.TotalApplicants</h2>
                    <p>Total applications</p>
                </div>
                <div class="col-6">
                    <div class="text-right"><i class="mdi mdi-account-multiple-plus"></i></div>
                </div>               
            </div>
            <div class="progress mx-auto mt-2" style="width: 90%; height: 8px">
                <div class="progress-bar bg-success" role="progressbar" style="width: 32%" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
    <div class="col-4 progress-icon m-b-30">
        <div class="widget-box bg-dark">
            <div class="row d-flex align-items-center ml-1">
                <div class="col-6 text-white">
                    <h2 class="m-0 counter">@Model.TodayApplicants</h2>
                    <p>Applications Today</p>
                </div>
                <div class="col-6">
                    <div class="text-right"><i class="mdi mdi-history"></i></div>
                </div>
            </div>
            <div class="progress mx-auto mt-2" style="width: 90%; height: 8px">
                <div class="progress-bar bg-info" role="progressbar" style="width: 57%" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
</div>
