﻿@model List<IntakeViewModel>
@{
    ViewData["Title"] = "Intakes";
    var cPage = ViewData["cPage"]?.ToString();
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="data-table">
        <div class="row">
            <div class="col-12 col-sm-12">
                <div class="card m-b-30 pt-4">
                    @if (User.IsInRole(PrimaryRole.Admin))
                    {
                        <div class="col-3 m-3">
                            <a asp-action="Edit" class="btn btn-info btn-rounded"><i class="fa fa-plus"></i> Add New</a>

                        </div>
                    }
                    <div class="card-body table-responsive">
                        <div class="table-odd">
                            <table id="datatable" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Code</th>
                                        <th>Name</th>
                                        <th>Academic year</th>
                                        <th>Start date</th>
                                        <th>End date</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @{ var i = 0;}
                                    @foreach (var item in Model)
                                    {
                                        i++;
                                        <tr>
                                            <td>@i</td>
                                            <td>@item.Code</td>
                                            <td>@item.Name</td>
                                            <td>@item.AcademicYear</td>
                                            <td>@item.StartDateStr</td>
                                            <td>@item.EndDateStr</td>
                                            <td>@item.StatusStr</td>
                                            <td>
                                                <div class="row p-1">
                                                    <a asp-action="Edit" asp-route-id="@item.Id" class="text-primary"><i class="fa fa-edit"></i> Edit</a>
                                                    <a asp-controller="IntakeApplications" asp-action="All" asp-route-intakeId="@item.Id" class="text-info mx-1"><i class="ti-star"></i> Applications</a>
                                                    <a asp-action="EditIntakeSetup" asp-route-id="@item.Id" class="text-dark"><i class="ti-settings"></i> Setup</a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>