﻿@model EducationDetailViewModel
@inject IDropDownService _dropDownService
@{
    ViewData["Title"] = "Education Background";
    var tl = Model.IsEditMode ? "Update" : "Submit";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="page-head">
    <h4 class="mt-2 mb-2 bg-light text-success col-2 rounded p-2">@ViewData["Title"] </h4>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card m-b-30">
            <div class="card-body">
                <div class="col-lg-12">
                    <form method="post" autocomplete="off" class="form-horizontal form-material">
                        <div class="row">
                            <input asp-for="IsEditMode" />
                            <input asp-for="Id" />
                            <input asp-for="ApplicationId" />
                            <div class="col-md-4">
                                <label asp-for="EducationLevelId"></label>
                                <select asp-for="EducationLevelId" class="form-control form-control-line">
                                    <option value="">--select level--</option>
                                    @foreach (var item in await _dropDownService.EducationLevels())
                                    {
                                        <option value="@item.Id" title="@item.Description">@item.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="EducationLevelId" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="Institution"></label>
                                <input asp-for="Institution" class="form-control form-control-line"
                                       placeholder="Institution">
                                <span asp-validation-for="Institution" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="Type"></label>
                                <div>
                                    <label class="inline-flex items-center">
                                        <input type="radio" class="form-radio" asp-for="Type" value="@EducationQualificationType.ACADEMIC">
                                        <span class="ml-2">@EducationQualificationType.ACADEMIC</span>
                                    </label>
                                </div>
                                <div>
                                    <label class="inline-flex items-center">
                                        <input type="radio" class="form-radio" asp-for="Type" value="@EducationQualificationType.PROFESSIONAL">
                                        <span class="ml-2">@EducationQualificationType.PROFESSIONAL</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="IndexNo"></label>
                                <input asp-for="IndexNo" class="form-control form-control-line"
                                       placeholder="Index No">
                                <span asp-validation-for="IndexNo" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="CourseStudied"></label>
                                <input asp-for="CourseStudied" class="form-control form-control-line"
                                       placeholder="Course">
                                <span asp-validation-for="CourseStudied" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="Grade"></label>
                                <input asp-for="Grade" class="form-control form-control-line"
                                       placeholder="Grade">
                                <span asp-validation-for="Grade" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="StartDate"></label>
                                <input asp-for="StartDate" class="form-control form-control-line"
                                       type="date" placeholder="Start Date">
                                <span asp-validation-for="StartDate" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="EndDate"></label>
                                <input asp-for="EndDate" class="form-control form-control-line"
                                       type="date" placeholder="End Date">
                                <span asp-validation-for="EndDate" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-12" style="text-align:right;">
                                <button class="btn btn-info btn-rounded">@tl</button>
                            </div>
                        </div>
                    </form>
                    <br />
                    <div class="data-table mt-4">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="card m-b-30 pt-4">
                                    <div class="card-body table-responsive">
                                        <div class="table-odd">
                                            <table id="datatable" class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Level</th>
                                                        <th>Institution</th>
                                                        <th>Course</th>
                                                        <th>Grade</th>
                                                        <th>Period</th>
                                                        <th>Type</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    @if (!Model.EducationExperiences.Any())
                                                    {
                                                        <tr>
                                                            <td colspan="7" rowspan="6"><i class="ti-file"></i> No Education Background</td>
                                                        </tr>
                                                    }

                                                    @foreach (var item in Model.EducationExperiences)
                                                    {
                                                        <tr>
                                                            <td>@item.EducationLevel</td>
                                                            <td>@item.Institution</td>
                                                            <td>@item.CourseStudied</td>
                                                            <td>@item.Grade</td>
                                                            <td>@item.StartDate.Year to @item.EndDate.Year</td>
                                                            <td>@item.QualificationType</td>
                                                            <td>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <a asp-action="EducationBackground" asp-route-appId="@ViewData["AppId"]" asp-route-id="@item.Id" class="text-primary pull-right"><i class="fa fa-edit"></i> Edit</a>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <form asp-action="DeleteEducationBackground">
                                                                            <input name="Id" value="@item.Id" type="hidden" />
                                                                            <button  onclick="return confirm('Are you sure you want to delete ?');" class="text-danger mx-1 border-0"> <i class="fa fa-trash"></i> Delete </button>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                                
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

