﻿@model EmergencyContactDetailViewModel
@inject IDropDownService _dropDownService;
@{
    ViewData["Title"] = "Emergency Contact";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="page-head">
    <h4 class="mt-2 mb-2 bg-light text-success col-2 rounded p-2">@ViewData["Title"] </h4>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card m-b-30">
            <div class="card-body">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="checkbox my-2">
                                <label class="cr-styled" for="SameAs">
                                    <input type="checkbox" value=@(Model.SameAsKin? "Yes":"No") id="SameAs" name="SameAs" onchange="prePopulate()" @(Model.SameAsKin? "checked":"")>
                                    <i class="fa"></i>
                                    My Next of Kin is my emergency contact.
                                </label>
                            </div>
                            <form method="get" asp-action="EmergencyContactDetails" style="display:none;">
                                <input type="hidden" name="appId" id="appId" value='@Model.ApplicationId' />
                                <input type="hidden" name="esameAsKin" id="esameAsKin" />
                                <button type="submit" id="btn_same_as_kin"></button>
                            </form>
                        </div>
                    </div>
                    <form method="post" autocomplete="off" class="form-horizontal form-material">
                        <div class="row">
                            <input asp-for="ApplicationId" />
                            <div class="col-md-4">
                                <label asp-for="Title"></label>
                                <select asp-for="Title" class="form-control form-control-line">
                                    <option value="">--select title--</option>
                                    @foreach (var item in await _dropDownService.UserTitles())
                                    {
                                        <option value="@item.Name" title="@item.Description">@item.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="SurName"></label>
                                <input asp-for="SurName" class="form-control form-control-line"
                                       placeholder="SurName">
                                <span asp-validation-for="SurName" class="text-danger"></span>
                            </div><div class="col-md-4">
                                <label asp-for="OtherNames"></label>
                                <input asp-for="OtherNames" class="auto-cap form-control form-control-line"
                                       placeholder="Other Names">
                                <span asp-validation-for="OtherNames" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="Gender"></label>
                                <select asp-for="Gender" class="form-control form-control-line">
                                    <option value="">--select gender--</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Other">Other</option>
                                </select>
                                <span asp-validation-for="Gender" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="RelationShipName"></label>
                                <select asp-for="RelationShipName" class="form-control form-control-line">
                                    <option value="">--select relationship--</option>
                                    @foreach (var item in await _dropDownService.RelationShips())
                                    {
                                        <option value="@item.Name" title="@item.Description">@item.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="RelationShipName" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="PhoneNumber"></label>
                                <input asp-for="PhoneNumber" class="numbers-only form-control form-control-line"
                                       placeholder="07XXXXXXXX">
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div><div class="col-md-4">
                                <label asp-for="EmailAddress"></label>
                                <input asp-for="EmailAddress" class="form-control form-control-line"
                                       placeholder="email@email.com">
                                <span asp-validation-for="EmailAddress" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="PostalAddress"></label>
                                <select asp-for="PostalAddress" class="form-control form-control-line">
                                    <option value="">--select address--</option>
                                    @foreach (var item in await _dropDownService.PostalCodes())
                                    {
                                        <option value="@item.Name-@item.Code" title="@item.Code">@item.Name-@item.Code</option>
                                    }
                                </select>
                                <span asp-validation-for="PostalAddress" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="AddressName"></label>
                                <input asp-for="AddressName" class="form-control form-control-line"
                                       placeholder="Postal Address">
                                <span asp-validation-for="AddressName" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="Town"></label>
                                <input asp-for="Town" class="form-control form-control-line"
                                       placeholder="Town">
                                <span asp-validation-for="Town" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="IdDocumentName"></label>
                                <select asp-for="IdDocumentName" class="form-control form-control-line">
                                    <option value="">--select document--</option>
                                    @foreach (var item in await _dropDownService.IdDocuments())
                                    {
                                        <option value="@item.Name" title="@item.Description">@item.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="IdDocumentName" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="IdDocumentNumber"></label>
                                <input asp-for="IdDocumentNumber" class="form-control form-control-line"
                                       placeholder="00000000">
                                <span asp-validation-for="IdDocumentNumber" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="Notes"></label>
                                <input asp-for="Notes" class="form-control form-control-line"
                                       placeholder="Comment">
                                <span asp-validation-for="Notes" class="text-danger"></span>
                            </div>
                            <input type="hidden" name="SameAsKin" id="SameAsKin" value="@(Model.SameAsKin?"true":"false")" />

                        </div>
                        <div class="row">
                            <div class="col-12" style="text-align:right;">
                                <button class="btn btn-info btn-rounded">Update Information</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function prePopulate() {
        var cb = document.getElementById('SameAs');
        var sb = document.getElementById('btn_same_as_kin');
        var sameAsInput = document.getElementById('esameAsKin');
        if (cb.checked) {
            sameAsInput.value = 'Yes';
            sb.click();
        } else {
            sameAsInput.value = null;
            sb.click();
        }
    }
</script>