﻿@model LevelViewModel
@inject IDropDownService _dropDownService;
@{
    ViewData["Title"] = "Level of Study";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="page-head">
    <h4 class="mt-2 mb-2 bg-light text-success col-2 rounded p-2">@ViewData["Title"] </h4>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card m-b-30">
            <div class="card-body">
                <div class="col-lg-12">
                    <form method="post" autocomplete="off" class="form-horizontal form-material">
                        <div class="flex flex-wrap -m-2">
                            <div class="col-md-4">
                                <label asp-for="ApplicationLevel"></label>
                                <select asp-for="ApplicationLevel" onchange="showSection()"
                                        class="form-control form-control-line">
                                    <option value="">--select Level--</option>
                                    <option value="Content Enhancement">Content Enhancement</option>
                                    <option value="Certificate">Certificate</option>
                                    <option value="Professional Certificate">Professional Certificate</option>
                                    <option value="Diploma">Diploma</option>
                                    <option value="Higher Diploma">Higher Diploma</option>
                                    <option value="Undergraduate">Bachelors Degree</option>
                                    <option value="Post-graduate Diploma">Post-graduate Diploma</option>
                                    <option value="Masters Degree">Masters Degree</option>
                                    <option value="Doctorate">Doctorate</option>
                                </select>
                                <span asp-validation-for="ApplicationLevel" class="text-danger"></span>
                            </div>
                        </div>
                        <div id="post_graduate_section" style=@(Model.ApplicationLevel != "Masters Degree" || Model.ApplicationLevel != "Post-graduate Diploma" || Model.ApplicationLevel != "Doctorate" ? "":"display:none")>
                            <div class="row">
                                <input asp-for="ApplicationId" type="hidden" />
                                <div class="col-md-4">
                                    <label asp-for="Financing"></label>
                                    <input asp-for="Financing" class="form-control form-control-line"
                                           placeholder="Financing">
                                    <span asp-validation-for="Financing" class="text-danger"></span>
                                </div>
                                <div class="col-md-4">
                                    <label asp-for="ResearchInsitute"></label>
                                    <input asp-for="ResearchInsitute" class="auto-cap form-control form-control-line"
                                           placeholder="Research Institute">
                                    <span asp-validation-for="ResearchInsitute" class="text-danger"></span>
                                </div>
                            </div>
                            @for (int i = 0; i < Model.Referees.Count; i++)
                            {
                                <h4>Referee </h4>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label asp-for="Referees[i].Title"></label>
                                        <select asp-for="Referees[i].Title" class="form-control form-control-line">
                                            <option value="">--select title--</option>
                                            @foreach (var item in await _dropDownService.UserTitles())
                                            {
                                                <option value="@item.Name" title="@item.Description">@item.Name</option>
                                            }
                                        </select>
                                        <span asp-validation-for="Referees[i].Title" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-3">
                                        <label asp-for="Referees[i].Name"></label>
                                        <input asp-for="Referees[i].Name" class="auto-cap form-control form-control-line"
                                               placeholder="Name">
                                        <span asp-validation-for="Referees[i].Name" class="text-danger"></span>

                                    </div>
                                    <div class="col-md-3">
                                        <label asp-for="Referees[i].Phone"></label>
                                        <input asp-for="Referees[i].Phone" class="auto-cap form-control form-control-line"
                                               placeholder="Phone">
                                        <span asp-validation-for="Referees[i].Phone" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-3">
                                        <label asp-for="Referees[i].Email"></label>
                                        <input asp-for="Referees[i].Email" class="auto-cap form-control form-control-line"
                                               placeholder="Email">
                                        <span asp-validation-for="Referees[i].Email" class="text-danger"></span>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="row">
                            <div class="col-12" style="text-align:right;">
                                <button class="btn btn-info btn-rounded">Update Information</button>
                            </div>

                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>


<script>
    var levelS = document.getElementById('ApplicationLevel');
    var postGraduateSection = document.getElementById('post_graduate_section');
    function showSection() {
        if (levelS.value == "" || levelS.value == "Undergraduate" || levelS.value == "Certificate" ||
            levelS.value == "Content Enhancement" || levelS.value == "Higher Diploma" || levelS.value == "Professional Certificate" || levelS.value == "Diploma") {
            postGraduateSection.style.display = "none";
        } else if (levelS.value == "Masters Degree" || levelS.value == "Post-graduate Diploma" || levelS.value == "Doctorate") {
            postGraduateSection.style.display = "block";
        }
    }

</script>
