﻿@model LocationViewModel
@inject IDropDownService _dropDownService;
@inject IClientSettingsService _clientSettings
@{
    ViewData["Title"] = "Location Details";
    var settings = _clientSettings.Read().Data;
    var subCounties = new List<SubCounty>();
    var counties = await _dropDownService.Counties();
    if (!string.IsNullOrEmpty(Model.CountyName))
    {
        var countySubs = counties.First(c => c.Name.Equals(Model.CountyName)).SubCounties;
        if (countySubs.Any())
        {
            subCounties = countySubs;
        }
    }
    Layout = "/Views/Shared/_Layout.cshtml";
}


<div class="page-head">
    <h4 class="mt-2 mb-2 bg-light text-success col-2 rounded p-2">@ViewData["Title"] </h4>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card m-b-30">
            <div class="card-body">
                <div class="col-lg-12">

                    <form method="post" class="form-horizontal form-material">
                        <div class="row">
                            <input asp-for="ApplicationId" />
                            <div class="col-md-4">
                                <label asp-for="CountyName"></label>
                                <select asp-for="CountyName" id="SelectCounty" class="form-control form-control-line">
                                    <option value="">--select county--</option>
                                    @foreach (var item in counties)
                                    {
                                        <option data-sub-counties="@Newtonsoft.Json.JsonConvert.SerializeObject(item.SubCounties)" value="@item.Name" title="@item.Code">@item.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="CountyName" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="SubCountyName"></label>
                                <select asp-for="SubCountyName" id="SelectSubCounty" class="form-control form-control-line">
                                    <option value="">--select sub county--</option>
                                    @foreach (var item in subCounties)
                                    {
                                        <option value="@item.Name" title="@item.Code">@item.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="SubCountyName" class="text-danger"></span>
                            </div>
                            @if (!settings.IsSaga)
                            {
                                <div class="col-md-4">
                                    <label asp-for="Constituency"></label>
                                    <input asp-for="Constituency" class="form-control form-control-line"
                                           placeholder="Constituency">
                                    <span asp-validation-for="Constituency" class="text-danger"></span>
                                </div>
                                <div class="col-md-4">
                                    <label asp-for="PostalAddress"></label>
                                    <select asp-for="PostalAddress" class="form-control form-control-line">
                                        <option value="">--select address--</option>
                                        @foreach (var item in await _dropDownService.PostalCodes())
                                        {
                                            <option value="@item.Name-@item.Code" title="@item.Code">@item.Name-@item.Code</option>
                                        }
                                    </select>
                                    <span asp-validation-for="PostalAddress" class="text-danger"></span>
                                </div>
                                <div class="col-md-4">
                                    <label asp-for="AddressName"></label>
                                    <input asp-for="AddressName" class="form-control form-control-line"
                                           placeholder="Postal Address">
                                    <span asp-validation-for="AddressName" class="text-danger"></span>
                                </div>
                                <div class="col-md-4">
                                    <label asp-for="Town"></label>
                                    <input asp-for="Town" class="form-control form-control-line"
                                           placeholder="Town">
                                    <span asp-validation-for="Town" class="text-danger"></span>
                                </div>
                            }
                        </div>
                        <div class="row">
                            <div class="col-12" style="text-align:right;">
                                <button class="btn btn-info btn-rounded">Update Information</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>