﻿@model PersonalDetailViewModel
@inject IDropDownService _dropDownService;
@inject IClientSettingsService _clientSettings
@{
    ViewData["Title"] = "Personal Details";
    var settings = _clientSettings.Read().Data;
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="page-head">
    <h4 class="mt-2 mb-2 bg-light text-success col-2 rounded p-2">@ViewData["Title"] </h4>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card m-b-30">
            <div class="card-body">
                <div class="col-lg-12">
                    <form class="form-horizontal form-material" method="post">
                        <input asp-for="ApplicationId" />
                        <div class="row">
                            <div class="col-md-4">
                                <label asp-for="Title"></label><span class="text-danger">*</span>
                                <select class="form-control form-control-line" asp-for="Title">
                                    <option value="">--select title--</option>
                                    @foreach (var item in await _dropDownService.UserTitles())
                                    {
                                        <option value="@item.Name" title="@item.Description">@item.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="col-md-4 form-group required">
                                <label asp-for="SurName"></label><span class="required text-danger">*</span>
                                <input asp-for="SurName" class="form-control form-control-line"
                                       placeholder="SurName">
                                <span asp-validation-for="SurName" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="OtherNames"></label><span class="text-danger">*</span>
                                <input asp-for="OtherNames" class="form-control form-control-line required" required="required"
                                       placeholder="Other Names">
                                <span asp-validation-for="OtherNames" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="Gender"></label><span class="text-danger">*</span>
                                <select asp-for="Gender" class="form-control form-control-line">
                                    <option value="">--select gender--</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Other">Other</option>
                                </select>
                                <span asp-validation-for="Gender" class="text-danger"></span>
                            </div>
                            @if (!settings.SimpleProfile)
                            {
                                @if (settings.IsSaga)
                                {
                                    <div class="col-md-4">
                                        <label asp-for="Ethnicity"></label>
                                        <select class="form-control form-control-line" asp-for="Ethnicity">
                                            <option value="">--select ethnicity--</option>
                                            @foreach (var item in await _dropDownService.Ethnicities())
                                            {
                                                <option value="@item.Names" title="@item.Names">@item.Names</option>
                                            }
                                        </select>
                                        @*<span asp-validation-for="Ethnicity" class="text-danger"></span>*@
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-4">
                                        <label asp-for="Ethnicity"></label>
                                        <select class="form-control form-control-line" asp-for="Ethnicity">
                                            <option value="">--select ethnicity--</option>
                                            @foreach (var item in await _dropDownService.Ethnicities())
                                            {
                                                <option value="@item.Names" title="@item.Names">@item.Names</option>
                                            }
                                        </select>
                                        <span asp-validation-for="Ethnicity" class="text-danger"></span>
                                    </div>

                                }
                            }
                            <div class="col-md-4">
                                <label asp-for="PrimaryPhoneNumber"></label><span class="text-danger">*</span>
                                <input asp-for="PrimaryPhoneNumber" class="numbers-only form-control form-control-line"
                                       placeholder="07XXXXXXXX">
                                <span asp-validation-for="PrimaryPhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="IdDocumentName"></label>
                                <select asp-for="IdDocumentName" class="form-control form-control-line">
                                    <option value="">--select document--</option>
                                    @foreach (var item in await _dropDownService.IdDocuments())
                                    {
                                        <option value="@item.Name" title="@item.Description">@item.Name</option>
                                    }
                                </select>
                                @*<span asp-validation-for="IdDocumentName" class="text-danger"></span>*@
                            </div>
                            <div class="col-md-4">
                                <label asp-for="IdDocumentNumber"></label>
                                <input asp-for="IdDocumentNumber" class="form-control form-control-line"
                                       placeholder="00000000">
                                @*<span asp-validation-for="IdDocumentNumber" class="text-danger"></span>*@
                            </div>
                            @if (settings.SimpleProfile)
                            {
                                <div class="col-md-4">
                                    <label asp-for="Institution"></label><span class="text-danger">*</span>
                                    <input asp-for="Institution" class="form-control form-control-line required" required="required"
                                           placeholder="Where you work">
                                    <span asp-validation-for="Institution" class="text-danger"></span>
                                </div>
                            }
                            @if (!settings.SimpleProfile)
                            {
                                @if (settings.IsSaga)
                                {

                                    <div class="col-md-4">
                                        <label asp-for="AlternatePhoneNumber"></label>
                                        <input asp-for="AlternatePhoneNumber" class="numbers-only form-control form-control-line"
                                               placeholder="07XXXXXXXX">
                                        @*<span asp-validation-for="AlternatePhoneNumber" class="text-danger"></span>*@
                                    </div>
                                    <div class="col-md-4">
                                        <label>@settings.IndexNoLabel</label>
                                        <input asp-for="IndexNo" class="form-control form-control-line"
                                               placeholder="123456/20">
                                        @*<span asp-validation-for="IndexNo" class="text-danger"></span>*@
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-4">
                                        <label asp-for="AlternatePhoneNumber"></label>
                                        <input asp-for="AlternatePhoneNumber" class="numbers-only form-control form-control-line"
                                               placeholder="07XXXXXXXX">
                                        <span asp-validation-for="AlternatePhoneNumber" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label>@settings.IndexNoLabel</label>
                                        <input asp-for="IndexNo" class="form-control form-control-line"
                                               placeholder="123456/20">
                                        <span asp-validation-for="IndexNo" class="text-danger"></span>
                                    </div>

                                }
                                @if (!settings.IsSaga)
                                {
                                    <div class="col-md-4">
                                        <label asp-for="KcseYear"></label>
                                        <input asp-for="KcseYear" class="form-control form-control-line numbers-only"
                                               placeholder="@DateTime.Now.Year">
                                        <span asp-validation-for="KcseYear" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="KcpeIndexNo"></label>
                                        <input asp-for="KcpeIndexNo" class="form-control form-control-line"
                                               placeholder="123456">
                                        <span asp-validation-for="KcpeIndexNo" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="KcpeYear"></label>
                                        <input asp-for="KcpeYear" class="form-control form-control-line numbers-only"
                                               placeholder="@DateTime.Now.AddYears(-4).Year">
                                        <span asp-validation-for="KcpeYear" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="KcseQualification"></label>
                                        <input asp-for="KcseQualification" class="form-control form-control-line "
                                               placeholder="A">
                                        <span asp-validation-for="KcseQualification" class="text-danger"></span>
                                    </div>
                                }

                                <div class="col-md-4">
                                    <label asp-for="DateOfBirth"></label><span class="text-danger">*</span>
                                    <input asp-for="DateOfBirth" class="form-control form-control-line"
                                           type="date">
                                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                                </div>
                                <div class="col-md-4">
                                    <label asp-for="NationalityName"></label>
                                    <select asp-for="NationalityName" class="form-control form-control-line">
                                        <option value="">--select nationality--</option>
                                        @foreach (var item in await _dropDownService.Nationalities())
                                        {
                                            <option value="@item.Name" title="@item.Description">@item.Name</option>
                                        }
                                    </select>
                                    @*<span asp-validation-for="NationalityName" class="text-danger"></span>*@
                                </div>
                                <div class="col-md-4">
                                    <label asp-for="ReligionName"></label>
                                    <select asp-for="ReligionName" class="form-control form-control-line">
                                        <option value="">--select religion--</option>
                                        @foreach (var item in await _dropDownService.Religions())
                                        {
                                            <option value="@item.Name" title="@item.Description">@item.Name</option>
                                        }
                                    </select>
                                    @*<span asp-validation-for="ReligionName" class="text-danger"></span>*@
                                </div>
                                <div class="col-md-4">
                                    <label asp-for="Language"></label>
                                    <input asp-for="Language" class="form-control form-control-line"
                                           placeholder="Swahili">
                                    @*<span asp-validation-for="Language" class="text-danger"></span>*@
                                </div>
                                <div class="col-md-4">
                                    <label asp-for="AlternateEmailAddress"></label>
                                    <input asp-for="AlternateEmailAddress" class="form-control form-control-line"
                                           placeholder="email@email.com">
                                    @*<span asp-validation-for="AlternateEmailAddress" class="text-danger"></span>*@
                                </div>
                                <div class="col-md-4">
                                    <label asp-for="MaritalStatusName"></label>
                                    <select asp-for="MaritalStatusName" class="form-control form-control-line">
                                        <option value="">--select marital status--</option>
                                        @foreach (var item in await _dropDownService.MaritalStatuses())
                                        {
                                            <option value="@item.Name" title="@item.Description">@item.Name</option>
                                        }
                                    </select>
                                    @*<span asp-validation-for="MaritalStatusName" class="text-danger"></span>*@
                                </div>
                                <div class="col-md-4">
                                    <label asp-for="DisabilityCondition"></label>
                                    <select asp-for="DisabilityCondition" class="form-control form-control-line">
                                        @foreach (var item in await _dropDownService.DisabilityConditions())
                                        {
                                            <option value="@item.Name" title="@item.Description">@item.Name</option>
                                        }
                                    </select>
                                    @*<span asp-validation-for="DisabilityCondition" class="text-danger"></span>*@
                                </div>
                                <div class="col-md-4">
                                    <label asp-for="Special"></label><span>(If applicable)</span>
                                    <input asp-for="Special" class="form-control form-control-line">
                                    @*<span asp-validation-for="Special" class="text-danger"></span>*@
                                </div>
                                <div class="col-md-4">
                                    <label asp-for="Activities"></label>
                                    <input asp-for="Activities" class="form-control form-control-line">
                                    @*<span asp-validation-for="Activities" class="text-danger"></span>*@
                                </div>
                            }
                        </div>
                            <div class="row">
                                <div class="col-12" style="text-align:right;">
                                    <button class="btn btn-info btn-rounded">Update Information</button>
                                </div>
                                
                            </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


