﻿@model ProfileDetailsSummaryViewModel
@inject IClientSettingsService _clientSettings
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "My Profile";
    var settings = _clientSettings.Read().Data;
    var user = await UserManager.GetUserAsync(User);
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="page-head"></div>
<div class="row">
    <div class="col-lg-4 col-sm-12">
        <div class="card m-b-30 border-0">

            <div class="card-body pro-img mx-auto text-center">
                @if (!string.IsNullOrEmpty(user.ImageUrl))
                {
                    <img src="~/@user.ImageUrl" alt="" class="rounded-circle mx-auto d-block">
                }
                else
                {
                    <h1>@user.Email.Substring(0, 1).ToUpper()</h1>
                }

            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4"><strong>Names</strong></div>
                        <div class="col-md-8">@Model.PersonalDetail.SurName @Model.PersonalDetail.OtherNames</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4"><strong>Gender</strong></div>
                        <div class="col-md-8">@Model.PersonalDetail.Gender</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4"><strong>Email</strong></div>
                        <div class="col-md-8">@Model.PersonalDetail.PrimaryEmailAddress</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4"><strong>Phone</strong></div>
                        <div class="col-md-8">@Model.PersonalDetail.PrimaryPhoneNumber</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4"><strong>@Model.PersonalDetail.IdDocumentName</strong></div>
                        <div class="col-md-8">@Model.PersonalDetail.IdDocumentNumber</div>
                    </div>
                </li>
                @if (!settings.SimpleProfile)
                {
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-4"><strong>Alt Phone</strong></div>
                            <div class="col-md-8">@Model.PersonalDetail.AlternatePhoneNumber</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-4"><strong>Ethnicity</strong></div>
                            <div class="col-md-8">@Model.PersonalDetail.Ethnicity</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-4"><strong>Alt Email</strong></div>
                            <div class="col-md-8">@Model.PersonalDetail.AlternateEmailAddress</div>
                        </div>
                    </li>
                }

            </ul>

            <div class="row text-center profile-block">
                <div class="col-12 align-self-center py-3 border-right">
                    <a class="btn btn-rounded btn-outline-primary" asp-action="PersonalDetails">Update Info</a>
                </div>
            </div>
        </div>
        @if (!settings.SimpleProfile)
        {
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="card m-b-30 contact">
                        <div class="card-body">
                            <h6 class="header-title pb-3">More Details</h6>
                            <ul class="list-group list-group-flush">

                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-4"><strong>Date Of Birth</strong></div>
                                        <div class="col-md-8">@Model.PersonalDetail.DateOfBirth</div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-4"><strong>Marital Status</strong></div>
                                        <div class="col-md-8">@Model.PersonalDetail.MaritalStatusName</div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-4"><strong>Nationality</strong></div>
                                        <div class="col-md-8">@Model.PersonalDetail.NationalityName</div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-4"><strong>Religion</strong></div>
                                        <div class="col-md-8">@Model.PersonalDetail.ReligionName</div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-4"><strong>Official Language(s)</strong></div>
                                        <div class="col-md-8">@Model.PersonalDetail.ReligionName</div>
                                    </div>
                                </li>
                            </ul>
                            <div class="row text-center profile-block">
                                <div class="col-12 align-self-center py-3 border-right">
                                    <a class="btn btn-rounded btn-outline-primary" asp-action="PersonalDetails">Update Info</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (!settings.SimpleProfile)
        {
            @if (!settings.IsSaga)
            {
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="card  m-b-30">
                            <div class="card-body">
                                <h6 class="header-title pb-3">KCPE/KCSE Information</h6>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-md-4"><strong>KCSE Index No.</strong></div>
                                            <div class="col-md-8">@Model.PersonalDetail.IndexNo</div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-md-4"><strong>KCSE Year</strong></div>
                                            <div class="col-md-8">@Model.PersonalDetail.KcseYear</div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-md-4"><strong>KCSE Qualification</strong></div>
                                            <div class="col-md-8">@Model.PersonalDetail.KcseQualification</div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-md-4"><strong>KCPE Index No</strong></div>
                                            <div class="col-md-8">@Model.PersonalDetail.KcpeIndexNo</div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-md-4"><strong>KCPE Year</strong></div>
                                            <div class="col-md-8">@Model.PersonalDetail.KcpeYear</div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="row text-center profile-block">
                                    <div class="col-12 align-self-center py-3 border-right">
                                        <a class="btn btn-rounded btn-outline-primary" asp-action="PersonalDetails">Update Info</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="card m-b-30 contact">
                        <div class="card-body">
                            <h6 class="header-title pb-3">Medical</h6>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-4"><strong>Disability Condition</strong></div>
                                        <div class="col-md-8">@Model.PersonalDetail.DisabilityCondition</div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-4"><strong>Medical Info</strong></div>
                                        <div class="col-md-8">@Model.PersonalDetail.Special</div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-4"><strong>Co-curriculum Activities</strong></div>
                                        <div class="col-md-8">@Model.PersonalDetail.Activities</div>
                                    </div>
                                </li>
                            </ul>
                            <div class="row text-center profile-block">
                                <div class="col-12 align-self-center py-3 border-right">
                                    <a class="btn btn-rounded btn-outline-primary" asp-action="PersonalDetails">Update Info</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="card m-b-30">
                    <div class="card-body">
                        <h6 class="header-title pb-3">Location</h6>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-5"><strong>County</strong></div>
                                    <div class="col-md-7">@Model.Location.CountyName</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-5"><strong>Sub-County</strong></div>
                                    <div class="col-md-7">@Model.Location.SubCountyName</div>
                                </div>
                            </li>
                            @if (!settings.SimpleProfile)
                            {
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-5"><strong>Constituency</strong></div>
                                        <div class="col-md-7">@Model.Location.Constituency</div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-5"><strong>Postal Code</strong></div>
                                        <div class="col-md-7">@Model.Location.PostalAddress</div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-5"><strong>Postal Address</strong></div>
                                        <div class="col-md-7">@Model.Location.AddressName</div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-5"><strong>Postal Address</strong></div>
                                        <div class="col-md-7">@Model.Location.Town</div>
                                    </div>
                                </li>
                            }
                        </ul>
                        <div class="row text-center profile-block">
                            <div class="col-12 align-self-center py-3 border-right">
                                <a class="btn btn-rounded btn-outline-primary" asp-action="LocationDetails">Update Info</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (!settings.SimpleProfile)
    {
        <div class="col-lg-8 col-sm-12">
            <div class="card-title tab-2">
                <ul class="nav nav-tabs nav-justified">
                    <li class="nav-item">
                        <a class="nav-link active" href="#about" data-toggle="tab" aria-expanded="false"><i class="ti-user mr-2"></i>About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#photo" data-toggle="tab" aria-expanded="false"><i class="ti-image mr-2"></i>Education/Work Experience</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#settings" data-toggle="tab" aria-expanded="false"><i class="ti-settings mr-2"></i>Level of Study</a>
                    </li>
                </ul>
                <div class="tab-content p-4 bg-white">
                    <div class="tab-pane home-text p-4" id="home-6">
                        <img src="assets/images/logo_sm.png" alt="">
                        <h1></h1>
                        <h4 class="text-muted"></h4>
                    </div>
                    <div class="tab-pane active p-4" id="about">
                        <div class="row justify-content-center">
                            <div class="col-md-12  profile-detail">
                                <div class="text-center">
                                    <i class="fa fa-hand-holding"></i>
                                    <h5>Next of Kin Details Details</h5>
                                    <div class="profile-border my-3"></div>

                                </div>
                                <div class="row mt-5">
                                    <div class="col-md-12">
                                        <div class="presonal-inform">
                                            <ul class="list-unstyled">
                                                <li><b>Name:</b>@Model.NextOfKin.Title @Model.NextOfKin.SurName @Model.NextOfKin.OtherNames</li>
                                                <li><b>Phone:</b>@Model.NextOfKin.PhoneNumber</li>
                                                <li><b>Email:</b>@Model.NextOfKin.EmailAddress</li>
                                                <li><b>Gender:</b>@Model.NextOfKin.Gender</li>
                                                <li><b>Relationship:</b>@Model.NextOfKin.RelationShipName</li>
                                                <li><b>Postal Code:</b> @Model.NextOfKin.PostalAddress</li>
                                                <li><b>Postal Address</b>@Model.NextOfKin.AddressName</li>
                                                <li><b>Town:</b>@Model.NextOfKin.Town</li>
                                                <li><b>@Model.NextOfKin.IdDocumentName:</b>@Model.NextOfKin.IdDocumentNumber</li>
                                                <li><b>Notes:</b>@Model.NextOfKin.Notes</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div><!--END ROW-->
                                <div class="row text-center profile-block">
                                    <div class="col-12 align-self-center py-3 border-right">
                                        <a class="btn btn-rounded btn-outline-primary" asp-action="NextOfKinDetails">Update Info</a>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <i class="fa fa-hand-holding"></i>
                                    <h5>Emergency Contact Details Details</h5>
                                    <div class="profile-border my-3"></div>

                                </div>
                                <div class="row mt-5">
                                    <div class="col-md-12">
                                        <div class="presonal-inform">
                                            <ul class="list-unstyled">
                                                <li><b>Name:</b>@Model.Emergency.Title @Model.Emergency.SurName @Model.Emergency.OtherNames</li>
                                                <li><b>Phone:</b>@Model.Emergency.PhoneNumber</li>
                                                <li><b>Email:</b>@Model.Emergency.EmailAddress</li>
                                                <li><b>Gender:</b>@Model.Emergency.Gender</li>
                                                <li><b>Relationship:</b>@Model.Emergency.RelationShipName</li>
                                                <li><b>Postal Code:</b> @Model.Emergency.PostalAddress</li>
                                                <li><b>Postal Address</b>@Model.Emergency.AddressName</li>
                                                <li><b>Town:</b>@Model.Emergency.Town</li>
                                                <li><b>@Model.Emergency.IdDocumentName:</b>@Model.Emergency.IdDocumentNumber</li>
                                                <li><b>Notes:</b>@Model.Emergency.Notes</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div><!--END ROW-->
                                <div class="row text-center profile-block">
                                    <div class="col-12 align-self-center py-3 border-right">
                                        <a class="btn btn-rounded btn-outline-primary" asp-action="EmergencyContactDetails">Update Info</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="photo">

                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="card m-b-30">
                                    <div class="card-header">
                                        <div class="row text-right profile-block">
                                            <div class="col-12 align-self-right  border-right">
                                                <a class="btn btn-rounded btn-outline-primary" asp-action="WorkBackground">Add Work Experience</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="header-title pb-3">Work Experience</h5>
                                        <div id="user-activities" class="tab-pane">
                                            <div class="timeline-2">
                                                @foreach (var work in Model.Work.WorkExperiences)
                                                {
                                                    <div class="time-item">
                                                        <div class="item-info">
                                                            <div class="text-muted">@work.DateCreated.Year to @work.EndDate.Year</div>
                                                            <p><strong><a href="#" class="text-info">@work.Employer</a></strong> @work.Designation </p>
                                                            <p><em>@work.AssignmentNature</em></p>
                                                        </div>
                                                    </div>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--end row-->
                        <br />

                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="card m-b-30">
                                    <div class="card-header">
                                        <div class="row text-right profile-block">
                                            <div class="col-12 align-self-right border-right">
                                                <a class="btn btn-rounded btn-outline-primary" asp-action="EducationBackground">Add Education</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="header-title pb-3">Education Background</h5>
                                        <div id="user-activities" class="tab-pane">
                                            <div class="timeline-2">
                                                @foreach (var education in Model.Education.EducationExperiences)
                                                {
                                                    <div class="time-item">
                                                        <div class="item-info">
                                                            <div class="text-muted">@education.StartDate to @education.EndDate</div>
                                                            <p><strong><a href="#" class="text-info">@education.Institution</a></strong> @education.CourseStudied <strong>@education.EducationLevel</strong> </p>
                                                            <p><em>@education.IndexNo</em> <strong>@education.Grade, </strong>@education.QualificationType </p>
                                                        </div>
                                                    </div>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--end row-->
                    </div>
                    <div class="tab-pane" id="settings">
                        <div class="row justify-content-center">
                            <div class="col-md-12  profile-detail">
                                <div class="text-center">
                                    <i class="fa fa-graduation-cap"></i>
                                    <h5>Level of Study</h5>
                                    <div class="profile-border my-3"></div>
                                    <p class="detail-text">@Model.Level.ApplicationLevel</p>
                                </div>
                                @if (Model.Level.ApplicationLevel == "Post-graduate Diploma" || Model.Level.ApplicationLevel == "Masters Degree" || Model.Level.ApplicationLevel == "Doctorate")
                                {
                                    @for (int i = 0; i < Model.Level.Referees.Count; i++)
                                    {
                                        <div class="row mt-5">
                                            <div class="col-md-12">
                                                <div class="presonal-inform">
                                                    <h3>Referee</h3>
                                                    <ul class="list-unstyled">
                                                        <li><b>Name:</b>@Model.Level.Referees[i].Title, @Model.Level.Referees[i].Name</li>
                                                        <li><b>Phone:</b>@Model.Level.Referees[i].Phone</li>
                                                        <li><b>Email:</b>@Model.Level.Referees[i].Email</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div><!--END ROW-->
                                    }
                                }

                                <div class="row text-center profile-block">
                                    <div class="col-12 align-self-center  border-right">
                                        <a class="btn btn-rounded btn-outline-primary" asp-action="LevelDetails">Update Information</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    }
</div><!--end row-->
