﻿@model ProfileDetailsSummaryViewModel
@inject IClientSettingsService _clientSettings
@{
    ViewData["Title"] = "Summary";
    var settings = _clientSettings.Read().Data;
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="page-head row">
    <div class="ml-3">
        <div class="card">
            <div class="card-body">
                <h4 class="  rounded p-2 text-primary">
                    Profile Summary
                    @if (Model.IsComplete)
                    {
                        <span class="badge badge-success"><i class="fa fa-check-circle"></i> Complete</span>
                    }
                    else
                    {
                        <span class="badge badge-danger "><i class="fa fa-times-circle"></i> InComplete</span>
                    }
                </h4>
            </div>
        </div>
    </div>

    <div class="col-lg-3 ml-auto">

    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-sm-12">
        <div id="accordion" class="accordion">
            <div class="card">
                <div class="card-header collapsed bg-light text-info" data-toggle="collapse" href="#collapseOne">
                    @if (Model.PersonalDetail.Success)
                    {
                        <i class="fa fa-check text-success"></i>

                    }
                    else
                    {<i class="fa fa-warning text-danger"></i>}
                    <a asp-action="PersonalDetails" class="card-title text-info" style="font-weight: bold;" data-toggle="tooltip" data-placement="right" title="Click on the link to update">
                        Personal Details
                    </a>
                </div>
                <div id="collapseOne" class="card-body collapse row" data-parent="#accordion">
                    <div class="col-lg-12">
                        <table class="table table-borderless ">
                            @if (!Model.PersonalDetail.Success)
                            {
                                <tr>
                                    <td>@Model.PersonalDetail.Message</td>
                                    <td><a asp-action="PersonalDetails" class="text-success alert-success btn">Click here to Add</a></td>
                                </tr>
                            }
                            else
                            {
                        <tr>
                            <td>Ref No.<br> <b>ABN00003</b></td>
                            <td>Title<br> <b>@Model.PersonalDetail.Title</b></td>
                            <td>Names<br> <b>@Model.PersonalDetail.SurName @Model.PersonalDetail.OtherNames</b></td>
                            <td>Ethnicity<br> <b>@Model.PersonalDetail.Ethnicity</b></td>
                            <td>Gender<br> <b>@Model.PersonalDetail.Gender</b></td>
                            <td>Index No<br> <b>@Model.PersonalDetail.IndexNo</b></td>
                            @if (!settings.IsSaga)
                            {
                                <td>National Id<br> <b>864635135</b></td>
                                <td>KCSE Index No.<br> <b>8454684</b></td>
                                <td>KCSE Year<br> <b>@Model.PersonalDetail.KcseYear</b></td>
                                <td>KCPE Index Number<br> <b>@Model.PersonalDetail.KcpeIndexNo</b></td>
                                <td>KCPE Year<br> <b>@Model.PersonalDetail.KcpeYear</b></td>
                                <td>Date of birth<br> <b>>@Model.PersonalDetail.DateOfBirthStr</b></td>
                                <td>Email Address<br> <b>@Model.PersonalDetail.PrimaryEmailAddress</b></td>
                                <td>Alternate Email Address<br> <b>@Model.PersonalDetail.AlternateEmailAddress</b></td>
                                <td>Phone Number<br> <b>@Model.PersonalDetail.PrimaryPhoneNumber</b></td>
                                <td>Alternate phone Number<br> <b>@Model.PersonalDetail.AlternatePhoneNumber</b></td>
                                <td>Id Document Name<br> <b>@Model.PersonalDetail.IdDocumentName</b></td>
                                <td>Id Document Number<br> <b>@Model.PersonalDetail.IdDocumentNumber</b></td>
                                <td>Nationality<br> <b>@Model.PersonalDetail.NationalityName</b></td>
                                <td>Religion<br> <b>@Model.PersonalDetail.ReligionName</b></td>
                                <td>Marital Status<br> <b>@Model.PersonalDetail.MaritalStatusName</b></td>
                                <td>Language<br> <b>@Model.PersonalDetail.Language</b></td>
                                <td>Disability Condition<br> <b>@Model.PersonalDetail.DisabilityCondition</b></td>
                                <td>Medical Information<br> <b>@Model.PersonalDetail.Special</b></td>
                                <td>Co-curriculum Activitiese<br> <b>@Model.PersonalDetail.Activities</b></td>
                            }
                            </tr>
                            }
                            </table>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header collapsed bg-light text-info" data-toggle="collapse" href="#collapseTo">
                    @if (Model.NextOfKin.Success)
                    {
                        <i class="fa fa-check text-success"></i>

                    }
                    else
                    {<i class="fa fa-warning text-danger"></i>}
                    <a asp-action="NextOfKinDetails" class="card-title text-info" style="font-weight: bold;" data-toggle="tooltip" data-placement="right" title="Click on the link to update">
                        Next of Kin
                    </a>
                </div>
                <div id="collapseTo" class="card-body collapse row" data-parent="#accordion">
                    <div class="col-lg-12">
                        <table class="table table-borderless">
                            @if (!Model.NextOfKin.Success)
                            {
                                <tr>
                                    <td>@Model.NextOfKin.Message</td>
                                    <td><a asp-action="NextOfKinDetails" class="text-success alert-success btn">Click here to Add</a></td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td>Title<br> <b>@Model.NextOfKin.Title</b></td>
                                    <td>Relation<br> <b>@Model.NextOfKin.RelationShipName</b></td>
                                    <td>Name<br> <b>@Model.NextOfKin.SurName @Model.NextOfKin.OtherNames</b></td>
                                    <td>Gender<br> <b>@Model.NextOfKin.Gender</b></td>
                                    <td>ID Document<br> <b>@Model.NextOfKin.IdDocumentName</b></td>
                                    <td>ID Document <br> <b>@Model.NextOfKin.IdDocumentNumber</b></td>
                                    <td>Email Address<br> <b>@Model.NextOfKin.EmailAddress</b></td>
                                    <td>Phone Number<br> <b>@Model.NextOfKin.PhoneNumber</b></td>
                                    <td>Postal address<br> <b>@Model.NextOfKin.PostalAddress</b></td>
                                    <td>Town<br> <b>@Model.NextOfKin.Town</b></td>
                                    <td>Notes<br> <b>@Model.NextOfKin.Notes</b></td>
                                </tr>
                            }
                            </table>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header collapsed bg-light text-info" data-toggle="collapse" href="#collapseTwo">
                    @if (Model.Emergency.Success)
                    {
                        <i class="fa fa-check text-success"></i>

                    }
                    else
                    {<i class="fa fa-warning text-danger"></i>}
                    <a class="card-title text-info" asp-action="EmergencyContactDetails" style="font-weight: bold;" data-toggle="tooltip" data-placement="right" title="Click on the link to update">
                        Emergency Contact
                    </a>
                </div>
                <div id="collapseTwo" class="card-body collapse row" data-parent="#accordion">
                    <div class="col-lg-12">
                        <table class="table table-borderless">
                            @if (!Model.Emergency.Success)
                            {
                                <tr>
                                    <td>@Model.Emergency.Message</td>
                                    <td><a asp-action="EmergencyContactDetails" class="alert-success text-success btn">Click here to Add</a></td>
                                </tr>
                            }
                            else
                            {   <tr>
                                    
                                    <td>Title<br> <b>@Model.Emergency.Title</b></td>
                                    <td>Relation<br> <b>@Model.Emergency.RelationShipName</b></td>
                                    <td>Name<br> <b>@Model.Emergency.SurName @Model.Emergency.OtherNames</b></td>
                                    <td>Gender<br> <b>@Model.Emergency.Gender</b></td>
                                    <td>Id Document<br> <b>@Model.Emergency.IdDocumentName</b></td>
                                    <td>Id Document Number<br> <b>@Model.Emergency.IdDocumentNumber</b></td>
                                    <td>Phone Number<br> <b>@Model.Emergency.PhoneNumber</b></td>
                                
                                    <td>Email Address<br> <b>>@Model.Emergency.EmailAddress</b></td>
                                    <td>Postal address<br> <b>@Model.Emergency.PostalAddress</b></td>
                                    <td>Town<br> <b>@Model.Emergency.Town</b></td>
                                    <td>Notes<br> <b>@Model.Emergency.Notes</b></td>
                                </tr>
                            }

                        </table>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header collapsed bg-light text-info" data-toggle="collapse" href="#collapseThree">
                    @if (Model.Location.Success)
                    {
                        <i class="fa fa-check text-success"></i>

                    }
                    else
                    {<i class="fa fa-warning text-danger"></i>}
                    <a class="card-title text-info" asp-action="LocationDetails" style="font-weight: bold;" data-toggle="tooltip" data-placement="right" title="Click on the link to update">
                        Location Information
                    </a>
                </div>
                <div id="collapseThree" class="card-body collapse row" data-parent="#accordion">
                    <div class="col-lg-12">
                        <table class="table table-borderless">
                            @if (!Model.Location.Success)
                            {
                                <tr>
                                    <td>@Model.Location.Message</td>
                                    <td><a asp-action="LocationDetails" class="text-success alert-success btn">Click here to Add</a></td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td>County<br> <b>@Model.Location.CountyName</b></td>
                                    <td>Sub-County<br> <b>@Model.Location.SubCountyName</b></td>
                                </tr>
                            }

                            @if (!settings.IsSaga)
                            {
                                <tr>
                                    <td>Constituency<br> <b>@Model.Location.Constituency</b></td>
                                    <td>Postal Address<br> <b>@Model.Location.PostalAddress</b></td>
                                    <td>Town<br> <b>@Model.Location.Town</b></td>
                                </tr>
                            }
                            </table>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header collapsed bg-light text-info" data-toggle="collapse" href="#collapseFour">
                    @if (Model.Education.Success)
                    {
                        <i class="fa fa-check text-success"></i>

                    }
                    else
                    {<i class="fa fa-warning text-danger"></i>}
                    <a class="card-title text-info" asp-action="EducationBackground" style="font-weight: bold;" data-toggle="tooltip" data-placement="right" title="Click on the link to update">
                        Education History
                    </a>
                </div>
                <div id="collapseFour" class="card-body collapse row" data-parent="#accordion">
                    <div class="col-lg-12">

                        <table class="table table-borderless">
                            @if (!Model.Education.Success)
                            {
                                <tr>
                                    <td>@Model.Education.Message</td>
                                    <td><a asp-action="EducationBackground" class="text-success alert-success btn">Click here to Add</a></td>
                                </tr>
                            }
                            else
                            {
                                <thead>
                                    <tr>
                                        <th>LEVEL</th>
                                        <th>INSTITUTION</th>
                                        <th>COURSE</th>
                                        <th>GRADE</th>
                                        <th>PERIOD</th>
                                    </tr>
                                </thead>
                                @if (!Model.Education.EducationExperiences.Any())
                                {
                                    <tr>
                                        <td colspan="5">
                                            No Education Background Added
                                        </td>
                                    </tr>
                                }
                                @foreach (var item in Model.Education.EducationExperiences)
                                    {
                                        <tr>
                                            <td>@item.EducationLevel</td>
                                            <td>@item.Institution</td>
                                            <td>@item.CourseStudied</td>
                                            <td>@item.Grade</td>
                                            <td>@item.StartDate.Year - @item.EndDate.Year</td>
                                        </tr>
                                    }
                                }
                            </table>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header collapsed bg-light text-info" data-toggle="collapse" href="#collapseFor">
                    @if (Model.Work.Success)
                    {
                        <i class="fa fa-check text-success"></i>

                    }
                    else
                    {<i class="fa fa-warning text-danger"></i>}
                    <a class="card-title text-info" asp-action="EducationBackground" style="font-weight: bold;" data-toggle="tooltip" data-placement="right" title="Click on the link to update">
                        Work Experience
                    </a>
                </div>
                <div id="collapseFor" class="card-body collapse row" data-parent="#accordion">
                    <div class="col-lg-12">

                        @if (!Model.Work.Success)
                        {
                            <div>
                                <p>@Model.Work.Message</p>
                                <p><a asp-action="EducationBackground" class="btn text-success alert-success">Click here to Add</a></p>
                            </div>
                        }
                        else
                        {
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <td>EMPLOYER</td>
                                <td>DESIGNATION</td>
                                <td>ASSIGNMENT NATURE</td>
                                <td>PERIOD</td>
                            </tr>
                        </thead>
                        
                        <tbody>
                            @if (!Model.Education.EducationExperiences.Any())
                            {
                                <tr>
                                    <td colspan="5">No Work Experience Added</td>
                                </tr>
                            }
                            @foreach (var item in Model.Work.WorkExperiences)
                            {
                                <tr>
                                    <td>@item.Employer</td>
                                    <td>@item.Designation</td>
                                    <td>@item.AssignmentNature</td>
                                    <td>@item.StartDate.Year - @item.EndDate.Year</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                        }
                        </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header collapsed bg-light text-info" data-toggle="collapse" href="#collapseFive">
                    @if (Model.Level.Success)
                    {
                        <i class="fa fa-check text-success"></i>

                    }
                    else
                    {<i class="fa fa-warning text-danger"></i>}
                    <a class="card-title text-info" asp-action="LevelDetails" style="font-weight: bold;" data-toggle="tooltip" data-placement="right" title="Click on the link to update">
                        Level Of Study
                    </a>
                </div>
                <div id="collapseFive" class="card-body collapse row" data-parent="#accordion">
                    <div class="col-lg-12">

                        @if (!Model.Emergency.Success)
                        {
                                <table class="table table-borderless">
                                    <tr>
                                        <td>@Model.Level.Message</td>
                                        <td><a asp-action="LevelDetails" class="text-success alert-success btn">Click here to Add</a></td>
                                    </tr>
                                </table>
                                }
                                else
                                {
                                <div class="row">
                                    <div class="col-4 mb-4">
                                        <div class="form-group">
                                            <label asp-for="Level.ApplicationLevel"></label><br>
                                            <strong>@Model.Level.ApplicationLevel</strong>
                                        </div>
                                    </div>
                                    @if (@Model.Level.ApplicationLevel == "Postgraduate")
                                    {
                                        <div class="col-4 mb-4">
                                            <div class="form-group">
                                                <label asp-for="Level.Financing"></label><br>
                                                <strong>@Model.Level.Financing</strong>
                                            </div>
                                        </div>
                                        <div class="col-4 mb-4">
                                            <div class="form-group">
                                                <label asp-for="Level.ResearchInsitute"></label><br>
                                                <strong>@Model.Level.ResearchInsitute</strong>
                                            </div>
                                        </div>

                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Referee Title</th>
                                                    <th>Referee Name</th>
                                                    <th>Referee Phone</th>
                                                    <th>Referee Email</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (!Model.Level.Referees.Any())
                                                {
                                                    <tr>
                                                        <td colspan="4">No Referees added</td>
                                                    </tr>
                                                }
                                                @foreach (var item in Model.Level.Referees)
                                                {
                                                    <tr>
                                                        <td>@item.Title</td>
                                                        <td>@item.Name</td>
                                                        <td>@item.Phone</td>
                                                        <td>@item.Email</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    }
                                </div>
                                }
                                <div class="p-4  text-danger rounded justify-center">
                                    <b class="blink_text uppercase my-auto">
                                        <i class="fa fa-exclamation-triangle"></i> DEAR @Model.PersonalDetail.Title @Model.PersonalDetail.SurName, KINDLY CONFIRM YOUR PROFILE DETAILS  BEFORE APPLYING FOR INTAKE
                                    </b>
                                </div>

                                <div class="row justify-between mb-12">
                                    <div class="p-2  w-full col-12">
                                        <input class="form-checkbox " type="checkbox" data-val-required="The Active field is required."
                                               id="confirm_cbx" name="confirm_cbx" onchange="confirm()" />
                                        <label class="ml-5" for="Active"><strong>I declare that the information given herein is true and accurate to the best of my knowledge and fully understand that any information found to be false would lead to automatic disqualification.</strong></label>
                                        <span class="text-danger field-validation-valid" data-valmsg-for="SameAs" data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                                <div class="row justify-center items-center">
                                    <div>
                                        <a asp-controller="IntakeApplications" asp-action="ActiveIntakes" style="display:none" id="go_intake" name="go_intake" class="flex mx-auto text-white bg-yellow-500 border-0 py-2 px-8 rounded ">Apply for Intake</a>
                                    </div>
                                </div>
                                <div id="collapseSeven" class="card-body collapse row" data-parent="#accordion">
                                    <div class="col-lg-12">
                                        <button type="submit" class="btn btn-info btn-rounded">Update Applicant files</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


<script>
    function confirm() {
        var cb = document.getElementById('confirm_cbx');
        var go_to_link = document.getElementById('go_intake');
        if (cb.checked) {
            go_to_link.style.display = "block";
        } else {
            go_to_link.style.display = "none";
        }
    }
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>