﻿@model WorkDetailViewModel
@{
    ViewData["Title"] = "Work Experience";
    var tl = Model.IsEditMode ? "Update" : "Add";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="page-head">
    <h4 class="mt-2 mb-2 bg-light text-success col-2 rounded p-2">@ViewData["Title"] </h4>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card m-b-30">
            <div class="card-body">
                <div class="col-lg-12">
                    <form method="post" class="form-horizontal form-material">
                        @Html.AntiForgeryToken()
                        <input asp-for="IsEditMode" hidden />
                        <input asp-for="Id" hidden />
                        <input asp-for="ApplicationId" hidden />
                        <div class="row">
                            <div class="col-12">
                                <div class="form-row">
                                    <div class="form-group col-4 ">
                                        <label asp-for="Employer">Employer</label>
                                        <input type="text" class="form-control" asp-for="Employer" placeholder="Employer">
                                        <span asp-validation-for="Employer" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-4">
                                        <label asp-for="Designation">Designation</label>
                                        <input type="text" class="form-control" asp-for="Designation" placeholder="Designation">
                                        <span asp-validation-for="Designation" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-4">
                                        <label asp-for="AssignmentNature">Nature of Assignment</label>
                                        <input type="text" class="form-control" asp-for="AssignmentNature" placeholder="Nature of Assignment">
                                        <span asp-validation-for="AssignmentNature" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-4">
                                        <label asp-for="StartDate">From</label>
                                        <input type="date" class="form-control" asp-for="StartDate" placeholder="date">
                                        <span asp-validation-for="StartDate" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-4">
                                        <label asp-for="EndDate">To</label>
                                        <input type="date" class="form-control" asp-for="EndDate" placeholder="date">
                                        <span asp-validation-for="EndDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12" style="text-align:right;">
                                        <button class="btn btn-info btn-rounded"><i class="fa fa-plus"></i> @tl</button>
                                    </div>

                                </div>
                                </div>
                            </div>
                    </form><br />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table id="datatable" class="table">
                                    <thead>
                                        <tr>
                                            <th>Employer</th>
                                            <th>Designation</th>
                                            <th>Nature Of Assignment</th>
                                            <th>Period</th>
                                            <th>Actions</th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                        @if (!Model.WorkExperiences.Any())
                                        {
                                            <tr>
                                                <td colspan="6">No Work Experience Added</td>
                                            </tr>
                                        }

                                        @foreach (var item in Model.WorkExperiences)
                                        {
                                            <tr>
                                                <td>@item.Employer</td>
                                                <td>@item.Designation</td>
                                                <td>@item.AssignmentNature</td>
                                                <td>@item.StartDate.Year - @item.EndDate.Year</td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-md-6 pull-right">
                                                            <a asp-action="WorkBackground" asp-route-appId="@ViewData["AppId"]" asp-route-id="@item.Id" class="pull-right"><i class="fa fa-edit"></i> Edit</a>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <form asp-action="DeleteWorkBackground">
                                                                <input name="Id" value="@item.Id" type="hidden" />
                                                                <button onclick="return confirm('Are you sure you want to delete ?');" class="text-danger border-0 "><i class="fa fa-trash"></i> Delete</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        
                    </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
