:root {
    --clr-primary: #15A8E3;
    --clr-gray: #37474f;
    --clr-gray-light: #b0bec5;
  } */
  
  .main-grid{
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .main-grid {
    color: var(--clr-gray);
    margin: 2rem;
  }
  
  .wrapper-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    justify-content: center;
  }
  
  .card-grid {
    overflow: hidden;
    box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
    background-color: white;
    text-align: center;
    border-radius: 1rem;
    position: relative;
    margin: 0.5rem;
  }

.banner-img {
    position: absolute;
    background-image: url(http://educationnewshub.co.ke/wp-content/uploads/2020/03/EUbbjjeXsAEyEhC.jpg);
    height: 10rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
  .profile-img {
    width: 8rem;
    clip-path: circle(60px at center);
    margin-top: 4.5rem;
  }
  
  .name-grid {
    font-weight: bold;
    font-size: 1rem;
  }
  
  .description {
    margin: 1rem 2rem;
    font-size: 0.9rem;
  }
 
  /* .btn{
    width: 100%;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    padding: 1rem;
    background-color: var(--clr-primary);
  }  */