* {
    box-sizing: border-box;
    font-size: 16px;
    vertical-align: middle;
}
/* ????IE?????????????????? */
::-ms-clear, ::-ms-reveal {
    display: none;
}

input {
    box-sizing: border-box;
}

    input:active, input:focus {
        outline: none;
        -moz-outline: none;
    }
    /* PC chrome??????????????? */
    input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner {
        border: none;
    }
/*?????firefox ?????????????? */

/* main style */
.inputShowPwd {
    position: relative;
    display: inline-block;
}

    .inputShowPwd > input {
        /*width: auto; 
	height: auto;*/ /*??input?????????width\height???input????/??*/
        /*line-height: 36px;*/ /*??input????????????height???input??????*/
        padding-right: 36px !important;
        padding-right: 36px;
        padding-left: 10px;
    }

    .inputShowPwd > .showEle {
        display: none;
        position: absolute;
        height: 24px;
        width: 24px;
        top: 50%;
        margin-top: -12px;
        right: 6px;
        background: url("~/assets/images/pwd.png") 50% 50% no-repeat;
        background-size: 24px 24px;
        z-index: 1;
        cursor: pointer;
    }

    .inputShowPwd > input[type="text"] {
        display: none;
    }
