/*
*Template Name: Syntra - Bootstrap 4 Admin Dashboard
*Author: Mannat-Themes
*Version : 1.0
*File: Main Css File
*/

/*
* ==============================
* 01.Body css
* 02.Bootstrap-custom
    -Page-custom
* 03.Typography
* 04.Tabs 
* 05.Modal
* 06.Icons
* 07.Bootstrap-UI
* 08.Progressbar
* 09.Carousel  
* 10.Grid   
* 11.Calender
* 12.Portlets
* 13.Widgets
     Charts
* 14.Nesteble
* 15.Forms
* 16.Form-editor
* 17.Tables
* 18.Mail
* 19.Google-map
* 20.Profile
* 21.Timeline
* 22.Login-Error
* 23.Footer-Content
* 24.Responsive
* ===============================
*/

/*---------------------
   1. body css
-----------------------*/
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Archivo+Black");
@import url("https://fonts.googleapis.com/css?family=Orbitron:900");

body {
	font-family: "Nunito Sans", sans-serif;
	color: #323232;
	font-size: 16px;
	line-height: 20px;
	overflow-x: hidden;
	background: #1e1e2d;
}

a {
	color: #3699ff;
	text-decoration: none;
}
a:hover {
	color: #555555;
	text-decoration: none;
}

p {
	font-size: 14px;
}
/* -------------------
  2.Bootstrap-custom
----------------------*/

/*--bg-color--*/

.bg-primary {
	background-color: #2e61f2 !important;
}

.bg-secondary {
	background-color: #a0a9b3 !important;
}

.bg-success {
	background-color: #4cb04e !important;
}

.bg-danger {
	background-color: #ff5450 !important;
}

.bg-warning {
	background-color: #fdc107 !important;
}

.bg-info {
	background-color: #00bcd2 !important;
}

.bg-dark {
	background-color: #333 !important;
}

/*custom*/

.bg-facebook {
	background-color: #3b579d;
}

.bg-twitter {
	background-color: #2caae1;
}

.bg-dribbble {
	background-color: #ea4c89;
}

.bg-google {
	background-color: #dc4a38;
}

.bg-range {
	background-color: #1a94a09e;
}

.bg-blue {
	background-color: #2b3d54;
}

/*-- Button---*/

.btn-primary {
	background-color: #2e61f2 !important;
	border-color: #2e61f2 !important;
	color: #fff;
}

.btn-secondary {
	color: #fff;
	background-color: #a0a9b3 !important;
	border-color: #a0a9b3 !important;
}

.btn-success {
	color: #fff;
	background-color: #4cb04e !important;
	border-color: #4cb04e !important;
}

.btn-danger {
	color: #fff;
	background-color: #ff5450 !important;
	border-color: #ff5450 !important;
}

.btn-warning {
	color: #111;
	background-color: #fdc107 !important;
	border-color: #fdc107 !important;
	color: #ffffff !important;
}

.btn-info {
	color: #fff;
	background-color: #00bcd2 !important;
	border-color: #00bcd2 !important;
}

.btn-dark {
	color: #fff;
	background-color: #424858 !important;
	border-color: #424858 !important;
}

.btn-light-blue {
	background-color: #81c5ec;
	color: #fff;
}

.btn-outline-secondary {
	border-color: #cecece;
}

.btn:focus .btn:active {
	outline: none;
	box-shadow: none;
}

.btn-tag a {
	display: inline;
}

.btn-rounded {
	border-radius: 1.25rem;
}

.icon-name i {
	padding-right: 5px;
}

.curcle-btn {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	padding-top: 8px;
}

/*---bs-dropdown--*/

.breadcrumb {
	background-color: transparent;
	margin-bottom: 15px;
	margin-top: 5px;
}

.dropdown-menu {
	padding: 4px 0;
	font-size: 15px;
	box-shadow: 0 2px 30px rgba(0, 0, 0, 0.08);
	border-color: #eff3f6;
}

.dropdown-item.active,
.dropdown-item:active {
	color: #0a1832;
	text-decoration: none;
	background-color: #eff3f6;
}

.dropdown-item {
	padding: 6px 1.5rem;
}

/*--color--*/

.primary {
	color: #2e61f2;
}

.secondary {
	color: #a0a9b3;
}

.success,
.widget-box .fa-line-chart {
	color: #4cb04e;
}

.danger,
.widget-box .fa-shopping-cart {
	color: #ff5450;
}

.warning,
.widget-box .fa-users {
	color: #fdc107;
}

.info,
.widget-box .fa-envelope {
	color: #00bcd2;
}

.dark {
	color: #333;
}

.light-dark {
	color: #6b6a6a;
	font-weight: 300;
}

.m-b-30 {
	margin-bottom: 30px;
}

.table td,
.table thead th,
.table-responsive-sm table th {
	border-bottom: 1px solid #e9ecef;
	border-top: none;
}

.btn-outline-dark {
	color: #959596;
	background-color: transparent;
	background-image: none;
	border-color: #9e9e9e;
}

.text-muted {
	color: #707070 !important;
}

.header-title {
	margin-bottom: 8px;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	font-size: 15px;
	font-weight: 700;
}

/*-------page custom-------*/

.section-title {
	margin-top: 0;
	font-size: 24px;
	font-weight: 500;
	color: #6f6f6f;
}

.page-head {
	padding: 20px 0px;
	position: relative;
}

.page-head h4 {
	font-size: 20px;
	font-weight: 700;
}

.page-head .sub-title {
	color: #a3a3a3;
	font-size: 14px;
}

.border-b {
	border-bottom: 1px solid #ddd !important;
}
.border-l {
	border-left: 1px solid #ddd;
}

/*------------------
    3.typography
-------------------*/

.card-title {
	color: #394263;
}

.parapraph p {
	word-spacing: 2px;
}

.heading-px span {
	float: right;
	font-size: 18px;
	color: #868e96;
}

.blockquote p {
	line-height: 1.5;
	font-size: 16px;
}

.blockquote img {
	width: 60px;
	height: 60px;
	float: left;
	margin-right: 20px;
}

.blockquote img.pull-right {
	float: right;
	margin-left: 20px;
}

.color-table .table tbody td p {
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 5px;
	padding-top: 5px;
	font-size: 16px;
}

.table th {
	font-size: 16px;
	font-weight: 700;
}

.icon-list li i {
	font-size: 16px;
	margin-right: 5px;
	color: #28a745;
}

/*--card--*/

.card .card-body .card-text {
	color: #888;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.5px;
}

/*-------------
    4.tabs
-------------*/

.nav-tabs .nav-link {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: #888;
	font-weight: 700;
}

.nav-tabs {
	border-bottom: 1px solid #2e61f2;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
	border-color: transparent;
}

.nav-tabs .nav-item.show .nav-link,
.right-bar .nav-tabs .active,
.nav-tabs .nav-link.active {
	color: #495057;
	background-color: #fff;
	border-color: #fff #fff #2e61f2;
}

.profile-link i {
	padding: 5px;
	font-size: 16px;
	color: #2e61f2;
}

.home-text {
	text-align: center;
	color: #2e61f2;
}

/*--tab-2--*/

.tab-2 .nav-tabs .nav-item.show .nav-link,
.tab-2 .nav-tabs .nav-link.active,
.tab-4 .nav-tabs .nav-link.active,
.tab-7 .flex-column .nav-link.active {
	color: #888;
	background-color: #fff;
	border-bottom-color: #fff;
}

.tab-right ul {
	float: right;
}

.tab-right .nav-tabs {
	border: none;
}

.tab-right {
	border-bottom: 1px solid #2e61f2;
}

.nav-justified i {
	margin-right: 5px;
	font-size: 18px;
}

.tab-5 i {
	font-size: 18px;
}

.tab-7 .flex-column {
	display: table-cell;
	min-width: 120px;
	vertical-align: top;
	background-color: #f3f4f5;
	text-align: center;
}

.tab-7 .tab-content {
	background: #ffffff;
	display: table-cell;
	margin-bottom: 30px;
	vertical-align: top;
	width: 100%;
}

.tab-7 .nav-link {
	color: #2e61f2;
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom: 1px solid #eee;
}

/*---------------
   5. Modals
-----------------*/

.card .modal-box .modal {
	position: relative;
	display: block;
	z-index: 1;
}

/*------------------
   6.icons
-------------------*/

.icon-list i {
	display: inline-block;
	width: 40px;
	margin: 0;
	font-size: 18px;
	text-align: center;
	vertical-align: middle;
	-webkit-transition: font-size 0.2s;
	transition: font-size 0.2s;
}

.icon-list div {
	line-height: 45px;
	white-space: inherit;
	cursor: pointer;
	color: #777;
}

.icon-list div:hover {
	background-color: #eee;
}

/*--------------------
    7.Bootstrap-UI
---------------------*/

.jumbotron .lead {
	line-height: 1.5;
}

.badge {
	padding: 5px 7px;
	font-size: 12px !important;
	font-weight: normal;
	color: #ffffff;
	border-radius: 12px;
}

/*----------------- 
    8.progress
------------------*/

/*--- Progress Vertical--- */

.progress-vertical {
	min-height: 250px;
	height: 250px;
	width: 10px;
	position: relative;
	display: inline-block;
	margin-bottom: 0;
	margin-right: 20px;
}

.progress-vertical .progress-bar {
	width: 100%;
}

.progress-vertical-bottom {
	min-height: 250px;
	height: 250px;
	position: relative;
	width: 10px;
	display: inline-block;
	margin-bottom: 0;
	margin-right: 20px;
}

.progress-vertical-bottom .progress-bar {
	width: 100%;
	position: absolute;
	bottom: 0;
}

.progress-vertical.progress-sm,
.progress-vertical-bottom.progress-sm {
	width: 5px !important;
}

.progress-vertical.progress-sm .progress-bar,
.progress-vertical-bottom.progress-sm .progress-bar {
	font-size: 8px;
	line-height: 5px;
}

.progress-vertical.progress-md,
.progress-vertical-bottom.progress-md {
	width: 15px !important;
}

.progress-vertical.progress-md .progress-bar,
.progress-vertical-bottom.progress-md .progress-bar {
	font-size: 10.8px;
	line-height: 14.4px;
}

.progress-vertical.progress-lg,
.progress-vertical-bottom.progress-lg {
	width: 20px !important;
}

.progress-vertical.progress-lg .progress-bar,
.progress-vertical-bottom.progress-lg .progress-bar {
	font-size: 12px;
	line-height: 20px;
}

/*--- skill---*/

.skill-chart {
	margin: 0px auto;
	color: #000;
}

.skill i {
	font-size: 30px;
	font-weight: 300px;
	vertical-align: middle;
	margin-right: 5px;
}

.circliful {
	position: relative;
}

.circle-text,
.circle-info,
.circle-text-half,
.circle-info-half {
	width: 100%;
	position: absolute;
	text-align: center;
	display: inline-block;
}

.circle-info,
.circle-info-half {
	color: #999;
}

.circliful .fa {
	margin: -10px 3px 0 3px;
	position: relative;
	bottom: 4px;
}

/*-------------------
    9.carousel
---------------------*/

#owl-demo .item {
	margin: 3px;
}

#owl-demo .item img {
	display: block;
	width: 100%;
	height: auto;
}

/*--FB-TWIT-Carousel--*/

.vertical .carousel-item-next.carousel-item-left,
.vertical .carousel-item-prev.carousel-item-right {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.vertical .carousel-item-next,
.vertical .active.carousel-item-right {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100% 0);
}

.vertical .carousel-item-prev,
.vertical .active.carousel-item-left {
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}

/*------------
   10. Grid
---------------*/

.grid-data-table {
	position: relative;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-collapse: collapse;
	white-space: nowrap;
	font-size: 13px;
	width: 100%;
}

.grid-data-table td {
	position: relative;
	vertical-align: middle;
	height: 48px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
}

.grid-data-table td:first-of-type,
.grid-data-table th:first-of-type {
	padding-left: 24px;
}

.grid-data-table th {
	position: relative;
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0;
	height: 48px;
	font-size: 14px;
}

.grid-data-table td,
.grid-data-table th {
	padding: 8px 18px 8px 18px;
}

.grid-data-table.grid-data-table-no-number td,
.grid-data-table.grid-data-table-no-number th {
	text-align: left;
}

.grid-data-table tbody tr:hover {
	background-color: rgba(0, 0, 0, 0.02);
}

.grid-data-table i {
	font-size: 20px;
	padding: 0px 3px;
}

.grid-col div {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 15px;
	background: #f5f5f5;
	border: 1px solid #e2e2e2;
}

.grid-col .nested-col.row {
	background-color: #f5f5f5;
	border-color: transparent;
}

/*--------------
    11.calender
---------------*/

.calendar {
	margin-bottom: 0px;
	float: left;
}

.fc-toolbar {
	margin-bottom: 5px;
}

.fc-toolbar h2 {
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 30px;
}

.fc-day {
	background: #fff;
}

.fc-toolbar .fc-state-active,
.fc-toolbar .ui-state-active,
.fc-toolbar button:focus,
.fc-toolbar button:hover,
.fc-toolbar .ui-state-hover {
	z-index: 0;
}

.fc-widget-header,
.fc-widget-content {
	border: 1px solid #d5d5d5;
}

.fc th.fc-widget-header {
	background: #ced4da;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 20px;
	padding: 10px 0px;
}

.fc-button {
	border: 1px solid #d5d5d5;
	background: #fff;
	color: #555;
	text-transform: capitalize;
}

.fc-text-arrow,
.fc-text-arrow {
	font-family: arial;
	font-size: 16px;
}

.fc-state-hover {
	background: #f5f5f5;
}

.fc-state-highlight,
.fc-cell-overlay {
	background: #f0f0f0;
}

.fc-unthemed .fc-today {
	background: #fff;
}

.fc-event {
	font-size: 13px;
	padding: 8px 5px;
	text-align: center;
	margin-bottom: 5px;
	background: #fff;
	border: none;
	border-radius: 2px;
	cursor: move;
	box-shadow: 0px 0px 34px rgba(0, 0, 0, 0.15);
}

.fc-event .bg-primary {
	background-color: #2e61f2;
}

#external-events .fc-event {
	background: #b98eb9;
}

.new-event-form {
	margin-bottom: 20px;
}

.fc-ltr .fc-basic-view .fc-day-number {
	padding: 5px 6px;
}

.cr-styled i {
	display: inline-block;
	height: 18px;
	width: 18px;
	cursor: pointer;
	vertical-align: middle;
	border: 2px solid #ccc;
	border-radius: 3px;
	text-align: center;
	padding-top: 1px;
	font-family: "FontAwesome";
	margin-top: -4px;
	margin-right: 3px;
	font-size: 12px;
}

.cr-styled {
	display: inline-block;
	margin: 0px 2px;
	line-height: 20px;
	font-weight: normal;
	cursor: pointer;
}

.cr-styled input {
	visibility: hidden;
	display: none;
}

.cr-styled input[type="checkbox"]:checked + i:before {
	content: "\f00c";
}

.cr-styled input:checked + i {
	border-color: #3eafa8;
	color: #3eafa8;
}

a:not([href]):not([tabindex]) {
	color: #454545;
	text-decoration: none;
}

a:not([href]):not([tabindex]):hover {
	text-decoration: none;
}

.form-control:focus {
	color: #495057;
	background-color: #fff;
	border-color: #ddd;
	outline: 0;
	box-shadow: none;
}

.fc-content .fc-title {
	color: #000;
}

/*-------------------
     12.Portlets 
--------------------*/

.portlet {
	margin-bottom: 20px;
	background: #fff;
	transition: all 0.4s;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	border: 1px solid rgba(0, 0, 0, 0.08);
}

.portlet .portlet-heading {
	padding: 20px 30px;
	line-height: 38px;
	min-height: 39px;
	border-radius: 3px;
	color: #fff;
}

.portlet .portlet-heading .portlet-title {
	float: left;
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 0;
	margin-top: 0;
}

.portlet .portlet-heading .portlet-widgets {
	position: relative;
	text-align: right;
	float: right;
	padding-left: 15px;
	display: inline-block;
	font-size: 15px;
	line-height: 0px;
}

.portlet .portlet-body {
	background: #fff;
	padding: 15px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.portlet .portlet-heading .portlet-widgets .divider {
	margin: 0 5px;
}

.portlet .portlet-heading.bg-purple a,
.portlet .portlet-heading.bg-info a,
.portlet .portlet-heading.bg-success a,
.portlet .portlet-heading.bg-primary a,
.portlet .portlet-heading.bg-danger a,
.portlet .portlet-heading.bg-warning a,
.portlet .portlet-heading.bg-inverse a,
.portlet .portlet-heading.bg-pink a {
	color: #fff;
}

.portlet .portlet-heading a {
	color: #999;
}

.portlet .bg-secondary .portlet-widgets a i,
.portlet .bg-gred1 .portlet-widgets a i,
.portlet .bg-gred2 .portlet-widgets a i {
	color: #fff;
}

.panel-disabled {
	position: absolute;
	left: 15px;
	right: 15px;
	top: 0;
	bottom: 15px;
	background: rgba(243, 242, 241, 0.5);
}

.loader-1 {
	-webkit-animation: loaderAnimate 1000ms linear infinite;
	-moz-animation: loaderAnimate 1000ms linear infinite;
	-o-animation: loaderAnimate 1000ms linear infinite;
	animation: loaderAnimate 1000ms linear infinite;
	clip: rect(0, 30px, 30px, 15px);
	height: 30px;
	width: 30px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -15px;
	margin-top: -15px;
}

lesshat-selector {
	-lh-property: 0;
}

@-webkit-keyframes loaderAnimate {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(220deg);
	}
}

@-moz-keyframes loaderAnimate {
	0% {
		-moz-transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(220deg);
	}
}

@-o-keyframes loaderAnimate {
	0% {
		-o-transform: rotate(0deg);
	}
	100% {
		-o-transform: rotate(220deg);
	}
}

@keyframes loaderAnimate {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(220deg);
		-moz-transform: rotate(220deg);
		-ms-transform: rotate(220deg);
		transform: rotate(220deg);
	}
}

lesshat-selector {
	-lh-property: 0;
}

@-webkit-keyframes loaderAnimate2 {
	0% {
		box-shadow: inset #555 0 0 0 8px;
		-webkit-transform: rotate(-140deg);
	}
	50% {
		box-shadow: inset #555 0 0 0 2px;
	}
	100% {
		box-shadow: inset #555 0 0 0 8px;
		-webkit-transform: rotate(140deg);
	}
}

@-moz-keyframes loaderAnimate2 {
	0% {
		box-shadow: inset #555 0 0 0 8px;
		-moz-transform: rotate(-140deg);
	}
	50% {
		box-shadow: inset #555 0 0 0 2px;
	}
	100% {
		box-shadow: inset #555 0 0 0 8px;
		-moz-transform: rotate(140deg);
	}
}

@-o-keyframes loaderAnimate2 {
	0% {
		box-shadow: inset #555 0 0 0 8px;
		-o-transform: rotate(-140deg);
	}
	50% {
		box-shadow: inset #555 0 0 0 2px;
	}
	100% {
		box-shadow: inset #555 0 0 0 8px;
		-o-transform: rotate(140deg);
	}
}

@keyframes loaderAnimate2 {
	0% {
		box-shadow: inset #555 0 0 0 8px;
		-webkit-transform: rotate(-140deg);
		-moz-transform: rotate(-140deg);
		-ms-transform: rotate(-140deg);
		transform: rotate(-140deg);
	}
	50% {
		box-shadow: inset #555 0 0 0 2px;
	}
	100% {
		box-shadow: inset #555 0 0 0 8px;
		-webkit-transform: rotate(140deg);
		-moz-transform: rotate(140deg);
		-ms-transform: rotate(140deg);
		transform: rotate(140deg);
	}
}

.loader-1:after {
	-webkit-animation: loaderAnimate2 1000ms ease-in-out infinite;
	-moz-animation: loaderAnimate2 1000ms ease-in-out infinite;
	-o-animation: loaderAnimate2 1000ms ease-in-out infinite;
	animation: loaderAnimate2 1000ms ease-in-out infinite;
	clip: rect(0, 30px, 30px, 15px);
	content: "";
	border-radius: 50%;
	height: 30px;
	width: 30px;
	position: absolute;
}

@keyframes loaderAnimate2 {
	0% {
		box-shadow: inset #2f353f 0 0 0 17px;
		transform: rotate(-140deg);
	}
	50% {
		box-shadow: inset #2f353f 0 0 0 2px;
	}
	100% {
		box-shadow: inset #2f353f 0 0 0 17px;
		transform: rotate(140deg);
	}
}

/*---------------------
        13.Charts
----------------------*/
/* Sparkline chart */
.jqstooltip {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	width: auto !important;
	height: auto !important;
	background-color: #313a46 !important;
	padding: 5px 10px !important;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	border-color: #313a46 !important;
}
.jqsfield {
	font-size: 12px !important;
	line-height: 18px !important;
}

/*---------------------
        13.WIDGETS
----------------------*/

.widget-box .widget-color-icon i {
	font-size: 50px;
	padding: 14px;
	background-color: #fff;
	border-radius: 5px;
	width: 80px;
	height: 80px;
}

.bg-gradient .counter {
	position: relative;
	bottom: -20px;
	color: #fff;
}

.bg-gradient .widget-box i {
	position: relative;
	top: -20px;
	font-size: 36px;
	color: #fff;
}

.progress-icon .widget-box i {
	color: #d2d2d2;
	font-size: 44px;
}

.carousel-icon i {
	font-size: 50px;
	width: 80px;
	height: 80px;
	background-color: transparent;
}

.carousel-inner p {
	line-height: 23px;
	letter-spacing: 1px;
}

#verticalCarousel {
	height: 150px;
}

.testi {
	background: rgba(0, 0, 0, 0.8);
	padding: 1rem;
	position: absolute;
	border: 3px solid #ff606073;
	right: 15%;
	bottom: 20px;
	left: 15%;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
	text-align: center;
}

.testi i {
	font-size: 20px;
	padding: 5px;
	color: #ff7f50;
}

.carousel-indicators .active {
	background-color: #fff;
}

.pro-img img {
	margin-top: -90px;
	position: relative;
	border: 4px solid #fff;
	border-radius: 50%;
	width: 130px;
	height: 130px;
}

.profile-block .profile-count {
	font-size: 30px;
	margin-bottom: 5px;
}

.profile-block .border-right {
	border-right: 1px solid #fff;
}

.profile-block {
	margin: initial;
}

.new-user ul li img {
	margin-right: 8px;
	width: 50px;
}

.media-body .btn {
	height: 24px;
	font-size: 10px;
	line-height: 1;
}

#boxscroll,
#boxscrol2 {
	height: 370px;
	width: auto;
	overflow: auto;
}

#boxscrol1 {
	height: 400px;
	width: auto;
	overflow: auto;
}

.canvas-holder ul li {
	margin-top: 10px;
	margin-bottom: 10px;
}

.canvas-holder i.fa-spin {
	font-size: 24px;
}

.bg-chart {
	background-color: #f9e7eb;
}

.widget-box {
	padding: 20px 10px;
	border-radius: 4px;
	position: relative;
	color: #b1b1b1;
	border: 1px solid rgba(0, 0, 0, 0.125);
}

.i-bg-grad i {
	border: 12px solid transparent;
	border-color: linear-gradient(315deg, #3acfd5 0%, #3a4ed5 100%);
	border-radius: 50%;
}

.widget-box i {
	font-size: 26px;
	padding: 15px 15px;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	color: #fff;
	text-align: center;
}

.widget-box .ti-eye,
.grad-progress-1,
.bg-gradient .bg-grad-1 {
	background: -webkit-linear-gradient(
		315deg,
		rgba(158, 15, 184, 0.7) -10%,
		rgba(5, 232, 255, 0.8) 180%
	);
}

.widget-box .ti-user,
.grad-progress-2,
.bg-gradient .bg-grad-2 {
	background: -webkit-linear-gradient(315deg, #66cccc -10%, #ffff66 180%);
}

.widget-box .ti-money,
.grad-progress-3,
.bg-gradient .bg-grad-3 {
	background: -webkit-linear-gradient(315deg, #ff6699 -10%, #ff9933 180%);
}

.widget-box .ti-wallet,
.grad-progress-4,
.bg-gradient .bg-grad-4 {
	background: -webkit-linear-gradient(315deg, #ffcc33 -10%, #ff6699 180%);
}

.widget-blog span i {
	padding: 3px;
}

.widget-blog a span i {
	color: #eb593d;
	margin-left: 5px;
}

.widget-blog .wa-icon span {
	font-size: 30px;
}

.widget-blog .wa-icon span sup {
	font-size: 16px;
}

/*----------------------
    14.Nesteble
-----------------------*/

.dd {
	max-width: 100%;
}

.dd-handle {
	height: 34px;
	margin: 5px 0;
	padding: 5px 12px;
	font-weight: 300;
}

.nestable-color .dd-handle {
	background-color: #f9e7eb;
}

.nestable-color-2 .dd-handle {
	background-color: #e7f9f5;
}

.nestable-color-3 .dd3-content {
	background-color: #fdf2da;
}

.dd-handle:hover {
	color: #6e8cd7;
	background: #fff;
}

.nestable-color .dd-handle:hover {
	color: #fff;
	background: #ffa7bb;
}

.nestable-color-2 .dd-handle:hover {
	color: #fff;
	background: #9adccd;
}

.nestable-color-3 .dd3-content:hover {
	color: #979898;
	background: #f9db9a;
}

.dd3-handle:before {
	top: 6px;
}

.dd3-handle:hover {
	background: #404040;
	border: 1px solid #404040;
}

.dd3-content {
	height: 35px;
	margin: 5px 0;
	padding: 6px 10px 5px 40px;
	color: #979898;
	font-weight: 300;
}

.nestable-color-3 .dd3-handle {
	background: #f9db9a;
	border: 1px solid #f9db9a;
}

.dd3-handle {
	margin: 0;
}

/*----------------------
    15.Forms
----------------------*/

.general-label label {
	font-weight: 500;
	color: #888;
}

.has-warning .form-control {
	border-color: #fdc107;
}

.form .checkbox label,
.form .form-check-inline label,
.form .radio label {
	font-weight: 300;
}

.btn-primary:focus {
	box-shadow: 0 0 0 0.2rem rgba(7, 156, 158, 0.35);
}

.btn-primary:not([disabled]):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
	color: #fff;
	box-shadow: 0 0 0 0.2rem rgba(7, 156, 158, 0.35);
}

.cr-styled input:checked + i {
	border-color: #2d3540;
	color: #2d3540;
}

.cr-styled input[type="radio"] + i {
	border-radius: 18px;
	font-size: 11px;
	line-height: 13px;
}

.cr-styled i {
	display: inline-block;
	height: 18px;
	width: 18px;
	cursor: pointer;
	vertical-align: middle;
	border: 2px solid #ccc;
	border-radius: 3px;
	text-align: center;
	padding-top: 1px;
	font-family: "FontAwesome";
	margin-top: -4px;
	margin-right: 3px;
	font-size: 12px;
}

.cr-styled input[type="radio"]:checked + i:before {
	content: "\f111";
}

.has-warning .form-control {
	border-color: #fdc107;
}

.has-danger .form-control {
	border-color: #ff5450;
}

.has-success .form-control {
	border-color: #4cb04e;
}

.has-warning .form-control-warning {
	background-image: url(../../assets/images/icon/warning.svg);
}

.has-success .form-control-success {
	background-image: url(../../assets/images/icon/success.svg);
}

.has-danger .form-control-danger {
	background-image: url(../../assets/images/icon/danger.svg);
}

.form-control-danger,
.form-control-success,
.form-control-warning {
	padding-right: 36px;
	background-repeat: no-repeat;
	background-position: center right 9px;
	-webkit-background-size: 18px 18px;
	background-size: 18px 18px;
}

.color-ped .form-control {
	color: #669999;
	min-height: 38px;
}

.contact-form .form-control,
.form-material .form-control {
	border: 0px;
	height: 45px;
	padding: 5px 10px;
	font-size: 16px;
	line-height: 1.42857143;
	color: #7d7d7d;
	background-color: transparent;
	background-image: none;
	border-bottom: 1px solid #ddd;
	box-shadow: none !important;
	outline: none !important;
	margin-bottom: 25px;
	border-radius: 0;
}

/*-----Advancecd-Form-----*/

.select2-container--default .select2-selection--single {
	border: 1px solid #d8d8d8;
	height: 38px;
}

.select2-container--default .select2-selection--single:focus {
	outline: none;
}

.select2-container--default
	.select2-selection--single
	.select2-selection__rendered {
	color: #444;
	line-height: 38px;
}

.select2-container--default
	.select2-selection--single
	.select2-selection__arrow {
	height: 38px;
	right: 8px;
}

.select2-container .select2-selection--multiple {
	min-height: 38px;
	border: 1px solid #d8d8d8;
}

.select2-container .select2-search--inline .select2-search__field {
	margin-top: 8px;
}

.select2-container--default
	.select2-selection--multiple
	.select2-selection__choice {
	margin-top: 7px;
}

.select2-container--default.select2-container--focus
	.select2-selection--multiple {
	border: solid 1px #d8d8d8;
	outline: 0;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
	width: 100%;
}

.timeline .timeline-body li a,
.bootstrap-select .dropdown-menu li a {
	display: block;
	padding: 7px 20px;
	line-height: 1.45;
	color: #929292;
}

.bootstrap-select .dropdown-menu li a:focus,
.bootstrap-select .dropdown-menu li a:hover {
	color: #888;
	background: #f2f4f8;
}

.bootstrap-select .show > .dropdown-menu {
	display: block;
}

.bootstrap-select .dropdown-toggle.bs-placeholder:hover {
	color: #ffffff;
}

.bootstrap-select.btn-group .dropdown-menu {
	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.bootstrap-select .dropdown-toggle:focus {
	outline: #d8d8d8 !important;
	outline: 0px !important;
	outline-offset: 0px;
}

.bootstrap-select-1 h6 {
	font-weight: 300;
}

/*-- Form-Validation --*/
.error {
	color: #ff0000;
}

.parsley-error {
	border-color: #ff0000;
}

.parsley-errors-list {
	display: none;
	margin: 0;
	padding: 0;
}

.parsley-errors-list.filled {
	display: block;
}

.parsley-errors-list > li {
	font-size: 12px;
	list-style: none;
	color: #ea553d;
	margin-top: 5px;
}

/* == Form Wizard ==*/
.form-wizard-wrapper label {
	text-align: right;
}

.wizard > .steps a,
.wizard > .steps a:active,
.wizard > .steps a:hover {
	margin: 3px;
	padding: 15px;
}

.wizard > .steps .current a,
.wizard > .steps .current a:active,
.wizard > .steps .current a:hover {
	background-color: #2e61f2;
	color: #ffffff;
}

.wizard > .steps .disabled a,
.wizard > .steps .disabled a:active,
.wizard > .steps .disabled a:hover,
.wizard > .steps .done a,
.wizard > .steps .done a:active,
.wizard > .steps .done a:hover {
	background-color: #e9f2fb;
	color: #2e61f2;
	font-weight: 700;
	font-size: 15px;
}

.wizard > .steps .current a .number,
.wizard > .steps .current a:active .number,
.wizard > .steps .current a:hover .number {
	border: 2px solid #fff;
}

.wizard > .steps .disabled a .number,
.wizard > .steps .disabled a:active .number,
.wizard > .steps .disabled a:hover .number,
.wizard > .steps .done a .number,
.wizard > .steps .done a:active .number,
.wizard > .steps .done a:hover .number {
	border-color: #2e61f2;
}

.wizard > .content {
	background-color: transparent;
	margin: 0 5px;
	border-radius: 0;
	min-height: 150px;
}

.wizard > .content > .body {
	width: 100%;
	height: 100%;
	padding: 15px 0 0;
	position: static;
}

.wizard > .steps .number {
	font-size: 16px;
	padding: 5px;
	border-radius: 50%;
	border: 2px solid #ffffff;
	width: 34px;
	display: inline-block;
	font-weight: 600;
	text-align: center;
	margin-right: 10px;
	background-color: rgba(103, 168, 228, 0.25);
}

.wizard > .actions .disabled a,
.wizard > .actions .disabled a:active,
.wizard > .actions .disabled a:hover {
	opacity: 0.65;
	background-color: #2e61f2;
	color: #ffffff;
	cursor: not-allowed;
}

.wizard > .actions a,
.wizard > .actions a:active,
.wizard > .actions a:hover {
	background-color: #2e61f2;
	border-radius: 4px;
	padding: 8px 15px;
}

@media (max-width: 768px) {
	.wizard > .steps > ul > li {
		width: 50%;
	}

	.form-wizard-wrapper label {
		text-align: left;
	}
}
@media (max-width: 520px) {
	.wizard > .steps > ul > li {
		width: 100%;
	}
}

/*--spinner--*/

.spinner-buttons.btn-group-vertical .btn {
	height: 20px;
	margin: -1px;
	padding-left: 8px;
	padding-right: 8px;
	width: 38px;
	line-height: 0;
}

.spinner-buttons.btn-group-vertical .btn i {
	margin-top: -3px;
	line-height: 10px;
}

.spinner-buttons.btn-group-vertical .btn:first-child {
	border-radius: 0 4px 0 0 !important;
	-webkit-border-radius: 0 4px 0 0 !important;
}

.spinner-buttons.btn-group-vertical .btn:last-child {
	border-radius: 0 0 4px !important;
	-webkit-border-radius: 0 0 4px !important;
}

#spinner1 .btn-light,
#spinner3 .btn-light {
	border: 1px solid #e9ecef;
	background-color: #fff;
}

#spinner2 .btn,
#spinner4 .btn {
	border-color: #81c5ec;
}

#spinner1 .btn-light:focus,
#spinner2 .btn-brown:focus,
#spinner3 .btn-light:focus,
#spinner4 .btn-pink:focus {
	outline: none;
	box-shadow: none;
}

.help-block {
	font-size: 12px;
}

.dtp-btn-cancel {
	margin-right: 5px;
}

.dtp-buttons .btn:hover {
	color: #fff;
}

/*----Multiple Select----*/

.search-input {
	margin-bottom: 10px;
}

.ms-selectable {
	outline: none !important;
	box-shadow: none;
}

.ms-container .ms-list.ms-focus {
	box-shadow: none;
}

.ms-container .ms-selectable li.ms-hover,
.ms-container .ms-selection li.ms-hover {
	background-color: #00bcd2;
}

/*--Color-Picker--*/

.addon-color-picker .btn {
	padding: 8px;
	line-height: 0;
	border-color: #bfbfbf;
}

.asColorPicker-clear {
	display: none;
	position: absolute;
	top: 8px;
	right: 10px;
	text-decoration: none;
}
.main-row {
	margin: 8%;
	background-color: white;
	box-shadow: 0 0 10px 10px rgba(0,0,0,0.05);
	border-radius: 0.5rem;
}

.blog-img > img {
	width: 100%;
	height: 100%;
	transform: translateY();
	object-fit: cover;
	border-radius: 0.5rem;
	box-shadow: 0 0 8px 3px rgba(0, 0,0, .3);
}

.blog-date span {
	color: #962c51;
}

.ul-cls {
	justify-content: center;
	display: flexbox;
	flex-direction: row;
}

	.ul-cls li {
		cursor: pointer;
	}

.blog-title > h2 {
	font-style: normal;
	font-weight: 400;
}

.blog desc > p {
	font-style: normal;
	line-height: 2;
}

.asColorPicker-trigger {
	position: absolute;
	top: 0;
	right: -35px;
	height: 38px;
	width: 37px;
	border: 0;
}

.asColorPicker-dropdown {
	max-width: 260px;
}

.asColorPicker-wrap {
	position: relative;
	display: inline-block;
	width: 90%;
}

.wizard > .content > .body ul {
	list-style: none !important;
}

.content-basic .content1 {
	width: 100%;
}

/*------------------
    16.Form-editor
-------------------*/

/*--- summernote--- */

.note-editor .note-toolbar {
	background-color: #f3f3f3;
	border-bottom: 1px solid #dfdfdf;
	margin: 0;
}

.note-editor {
	position: relative;
	border: 1px solid #dfdfdf;
}

.note-editor .note-statusbar {
	background-color: #fff;
}

.note-editor .note-statusbar .note-resizebar {
	height: 15px;
	border-top: 1px solid #dfdfdf;
	padding-top: 3px;
}

.note-popover .popover .popover-content,
.note-toolbar {
	padding: 5px 0 10px 5px;
}

.note-popover .popover .popover-content .dropdown-menu,
.note-toolbar .dropdown-menu {
	font-weight: 300;
	font-size: 14px;
}

/*--- Code Editer--- */

.code-edit-wrap {
	padding-top: 0px !important;
	margin-left: -30px;
	margin-bottom: -20px;
	margin-right: -30px;
}

.cm-s-ambiance .CodeMirror-linenumber {
	color: #999;
}

/*---x-edito---r*/

.editable-checklist label {
	display: block;
}

input[type="checkbox"]:after {
	content: "";
	display: block;
	width: 18px;
	height: 18px;
	margin-top: -2px;
	border: 2px solid #515f73;
	border-radius: 2px;
	-webkit-transition: 240ms;
	-o-transition: 240ms;
	transition: 240ms;
}

input[type="checkbox"]:checked:before {
	content: "";
	position: absolute;
	top: 0;
	left: 6px;
	display: table;
	width: 6px;
	height: 12px;
	border: 2px solid #ffffff;
	border-top-width: 0;
	border-left-width: 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

input[type="checkbox"] {
	position: relative;
	border: none;
	margin-bottom: -4px;
	-webkit-appearance: none;
	appearance: none;
	cursor: pointer;
}

input[type="checkbox"]:focus {
	outline: transparent;
}

input[type="checkbox"]:checked:after {
	background-color: #6699ff;
	border-color: #6699ff;
}

/*--file-upload--*/

.upload-dropify label {
	font-size: 14px;
	font-weight: 500;
	color: #888;
}

/*------------------------
    17.Tables
---------------------------*/

.basic-table,
.edit-table,
.data-table,
.responsive-table {
	color: #888;
}

.responsive-table th {
	font-size: 14px;
}

/* data-table*/

.pagination > li > a,
.pagination > li > span {
	color: #313a46;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
.page-item.active .page-link {
	background: #6699ff;
	border-color: #6699ff;
}

.table-odd tbody > tr:nth-of-type(odd) {
	background-color: #f9f9f9;
}

/*Responsive-table*/

.table-rep-plugin .btn-group.pull-right {
	float: right;
}

.table-rep-plugin .btn-toolbar {
	display: block;
}

/*----------------
    18.Mail 
 ----------------*/

.mails .mail-rateing {
	color: #9d9ea5;
	width: 1%;
}

.mails .mail-select {
	width: 1%;
}

.mails .label {
	margin-right: 10px;
}

.mail-list i {
	width: 20px;
	text-align: center;
}

.mail-inbox .list-group-item.active,
.mail-inbox .list-group-item:hover,
.mail-inbox .list-group-item:focus {
	color: #2e61f2;
	background-color: #2e61f240;
	border-color: #2e61f240;
}

.border-r {
	border-right: 1px solid #ddd;
}

.email-read .media .media-body h6 i {
	font-size: 10px;
}

/*-----------------------
   19. Google-map
--------------------------*/

.map {
	height: 350px;
}

.overlay {
	display: block;
	text-align: center;
	color: #fff;
	font-size: 24px;
	line-height: 40px;
	background: #2e61f2;
	border: solid 3px #2e61f2;
	border-radius: 4px;
	box-shadow: 2px 2px 10px #333;
	text-shadow: 1px 1px 1px #666;
	padding: 0 4px;
}

.overlay_arrow {
	left: 50%;
	margin-left: -16px;
	width: 0;
	height: 0;
	position: absolute;
}

.overlay_arrow.above {
	bottom: -15px;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-top: 16px solid #2e61f2;
}

.overlay_arrow.below {
	top: -15px;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-bottom: 16px solid #2e61f2;
}

.profile-block i {
	font-size: 24px;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	line-height: 2;
	background-color: #2b3d54;
	box-shadow: 0px 0px 10px 0.1px;
}

.contact ul li i {
	font-size: 18px;
	color: #00bcd2;
}

/*--------------
   20. profile
---------------*/

.profile-tab .nav-tabs .nav-link i {
	font-size: 18px;
	color: #00bcd2;
}

.presonal-inform {
	margin-top: 25px;
}

.presonal-inform ul li {
	width: 50%;
	float: left;
}

.presonal-inform li b {
	width: 108px;
	display: inline-block;
	text-transform: capitalize;
	color: #1f2124;
	font-size: 15px;
	font-weight: 500;
	color: #888;
}

.presonal-inform li {
	text-transform: capitalize;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 20px;
}

.about-text {
	line-height: 55px;
	margin-top: 26px;
}

.detail-text {
	margin: 0 auto;
	font-size: 16px;
	line-height: 30px;
}

.presonal-inform ul li {
	width: 50%;
	float: left;
	color: #00bcd2;
}

.profile-border {
	width: 10%;
	height: 3px;
	margin: 10px auto 15px;
	background-color: #00bcd2;
}

.skill h2 {
	font-weight: 700;
}

.progress-bar {
	line-height: 1rem;
	color: #fff;
	transition: width 0.3s ease;
}

.skill span {
	float: right;
}

.tab-pane .progress {
	height: 5px;
}

#about .profile-detail i {
	font-size: 20px;
	color: #00bcd2;
	margin-bottom: 14px;
}

.item-box {
	position: relative;
	overflow: hidden;
	display: block;
}

.item-box a {
	display: inline-block;
}

.item-box:hover .item-mask {
	opacity: 1;
	visibility: visible;
}

.item-box:hover .item-mask .item-caption {
	bottom: 30px;
	opacity: 1;
}

.item-box:hover .item-container {
	transform: scale(1.1);
	transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
	width: 100%;
}

.item-container {
	transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	width: 100%;
	transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
	-moz-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
	-webkit-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
	-o-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}

/*-----------------
     21.Timeline 
------------------*/

/* Timeline */

.timeline {
	position: relative;
	padding: 20px 0 20px;
	list-style: none;
	text-align: right;
	width: 70%;
}

.timeline:before {
	content: " ";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	width: 3px;
	margin-left: -1.5px;
	background-color: #eee;
}

.timeline > li {
	position: relative;
	margin-bottom: 20px;
}

.timeline > li:before,
.timeline > li:after {
	content: " ";
	display: table;
}

.timeline > li:after {
	clear: both;
}

.timeline > li:before,
.timeline > li:after {
	content: " ";
	display: table;
}

.timeline > li:after {
	clear: both;
}

.timeline > li > .card {
	float: left;
	position: relative;
	width: 46%;
	padding: 20px;
	background: #fdfdfd;
	border: 1px solid #e7e7e7;
	box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.15);
}

.timeline > li > .timeline-badge {
	z-index: 100;
	position: absolute;
	top: 16px;
	left: 50%;
	width: 50px;
	height: 50px;
	margin-left: -25px;
	text-align: center;
	font-size: 1.4em;
	line-height: 40px;
	color: #fff;
	border: 5px solid #fff;
	background-color: #999999;
}

.timeline > li.timeline-inverted > .card {
	float: right;
	text-align: left;
}

.timeline > li.timeline-inverted > .card:before {
	right: auto;
	left: -15px;
	border-right-width: 15px;
	border-left-width: 0;
}

.timeline > li.timeline-inverted > .card:after {
	right: auto;
	left: -14px;
	border-right-width: 14px;
	border-left-width: 0;
}

.timeline-badge.bg-secondary {
	border-radius: 50% 50% 50% 0%;
	box-shadow: 0 0 3px #a0a9b3;
}

.timeline-badge.bg-dark {
	border-radius: 50% 50% 0% 50%;
	box-shadow: 0 0 3px #333;
}

.timeline-badge.bg-success {
	border-radius: 50% 50% 0% 50%;
	box-shadow: 0 0 3px #4cb04e;
}

.timeline-badge.bg-warning {
	border-radius: 50% 50% 0% 50%;
	box-shadow: 0 0 3px #fdc107;
}

.timeline-badge.bg-danger {
	border-radius: 50% 50% 50% 0%;
	box-shadow: 0 0 3px #ff5450;
}

.timeline-badge.bg-info {
	border-radius: 50% 50% 50% 0%;
	box-shadow: 0 0 3px #00bcd2;
}

.timeline-badge {
}

.timeline-title {
	margin-top: 0;
	color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
	margin-bottom: 0;
}

.timeline-body > p + p {
	margin-top: 5px;
}

/* ----Timeline-2 ----*/

.timeline-2 {
	position: relative;
	border-left: 2px solid #00bcd2;
}

.time-item {
	position: relative;
	padding-bottom: 1px;
	border-color: #dee5e7;
}

.time-item:before,
.time-item-item:after {
	display: table;
	content: " ";
}

.timeline-2 .time-item:after,
.time-item:after {
	position: absolute;
	bottom: 0;
	left: 0;
	top: 5px;
	width: 14px;
	height: 14px;
	margin-left: -8px;
	background-color: #fff;
	border-color: #00bcd2;
	border-style: solid;
	border-width: 2px;
	border-radius: 3px;
	content: "";
}

.item-info {
	margin-left: 15px;
	margin-bottom: 15px;
}

.item-info p {
	margin-bottom: 10px !important;
}

.profile-desk h1 {
	color: #49586e;
	font-size: 24px;
	font-weight: bold;
	margin: 0 0 5px 0;
	text-transform: uppercase;
}

.profile-desk .designation {
	color: #49586e;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 30px;
	display: inline-block;
}

.profile-desk p {
	line-height: 25px;
	margin-bottom: 40px;
}

.p-follow-btn {
	background: #eff0f4;
	color: #a4a4a4;
}

ul.p-social-link {
	list-style-type: none;
}

ul.p-social-link li {
	display: inline-block;
}

ul.p-social-link li a {
	background: #eff0f4;
	color: #bfbfc1;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	display: inline-block;
	text-align: center;
}

.invoice .table thead th {
	font-size: 14px;
}

.invoice strong {
	font-weight: 500;
}

.invoice td {
	font-weight: 500;
}

.social-links li a {
	-webkit-border-radius: 50%;
	background: #eff0f4;
	border-radius: 50%;
	color: #7a7676;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	width: 30px;
}

.media-main .u-name {
	overflow: hidden;
	color: #000;
}

/*--------------------
    22.Login-Error
---------------------*/

.wrapper-page {
	display: table;
	height: 100vh;
	width: 100%;
}

.account-pages {
	display: table-cell;
	vertical-align: middle;
}

.account-box {
	position: relative;
	max-width: 460px;
	margin: 20px auto;
	border-radius: 5px;
	box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.15), 0 1px 0 0 rgba(0, 0, 0, 0.1);
}

.bg-login {
	background-image: url(../../assets/images/general/login.jpg);
	background-size: cover;
	background-position: center;
}

.bg-login-under {
	background-color: #000;
}

.alert-info {
	background-color: #7597b9;
	border-color: #7597b9;
	color: #fff;
}

.bg-error {
	background-image: url(../../assets/images/error/error.jpg);
	background-size: cover;
}

.error-text p {
	line-height: 24px;
}

.error-500 h2 {
	font-size: 170px;
	font-weight: 900;
	text-align: center;
	color: #868e96;
	text-shadow: 4px 4px 0 #000, 6px 6px 0 #ff5450;
}

.usetwentyfour {
	width: 25% !important;
}

/*clock*/

.superpose {
	color: #eee;
	height: 350px;
	width: 100%;
}
.superclock {
	position: relative;
	width: 300px;
	margin: auto;
}
.superclock1 {
	position: absolute;
	left: 10px;
	top: 10px;
}
.superclock2 {
	position: absolute;
	left: 60px;
	top: 60px;
}
.superclock3 {
	position: absolute;
	left: 110px;
	top: 110px;
}

/*---------------------
    23.footer content
-----------------------*/

.footer {
	background: #ffffff;
	padding: 15px 20px;
	color: #232425;
	font-size: 14px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
/*------------------------
    24.Responsive
-------------------------*/

@media (min-width: 1024px) {
	.body-content {
		min-height: 1600px;
	}
}

@media (max-width: 414px) {
	.btn-mb-5 .btn {
		margin-bottom: 5px;
	}
	.bs-pagination .pagination-lg {
		display: none;
	}
	.button-list .btn {
		margin-top: 5px;
	}
	.box {
		overflow-x: auto;
		width: 100%;
		display: block;
	}
	.sticky-header .body-content {
		padding: 00px 10px 00px 10px;
	}
	.nav {
		flex-wrap: nowrap;
	}
	.timeline {
		width: 100%;
		margin: 0px;
	}
}

@media (max-width: 768px) {
	.box {
		overflow-x: auto;
		width: 100%;
		display: block;
	}
	.sticky-header .body-content {
		padding: 0px;
	}
	.presonal-inform ul li {
		width: 100%;
	}
	.nav {
		flex-wrap: nowrap;
	}
}
.main-row{
	margin: 8%;
	background-color: white;
	box-shadow: 0 0 10px 10px rgba(0,0,0,0.05);
	border-radius:0.5rem ;

}
.blog-img > img{
	width: 100%;
	height:100%;
	transform: translateY();
	object-fit: cover;
	border-radius: 0.5rem;
	box-shadow: 0 0 8px 3px rgba(0, 0,0, .3);
}
.blog-date span{
	color: #962c51;
}
.ul-cls{
	justify-content:center ;
	display: flexbox;
	flex-direction: row;
}
.ul-cls li{
	cursor: pointer;
}
.blog-title > h2{
	font-style: normal;
	font-weight: 400;
}
.blog desc > p{
	font-style: normal;
	line-height: 2;
}
@media (max-width: 1024px) {
	.box {
		overflow-x: auto;
		width: 100%;
		display: block;
	}
}
.form-control:focus {
	border-color: #ff80ff;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset,
		0px 0px 8px rgba(255, 100, 255, 0.5);
}

 .accordion .card-header:after {
            font-family: 'FontAwesome';  
            content: "\f107";
            float: right; 
            }
            .accordion .card-header.collapsed:after {
                /* symbol for "collapsed" panels */
                content: "\f106"; 
            }