﻿@model IndexViewModel
@{
    ViewData["Title"] = "Profile";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <!-- aside -->
    <div class="col-lg-3 col-sm-12">
        <div class="card m-b-30 border-0">
            <div class="row text-center text-white profile-block" style="height: 100px;">

            </div>
          
            @if (!string.IsNullOrEmpty(Model.ProfilePhotoPath))
            {
                <div class="card-body pro-img mx-auto text-center">
                    <img src="~/@Model.ProfilePhotoPath" alt="" class="rounded-circle mx-auto d-block">
                </div>
            }
                <div class="text-center">
                    <h5>@Model.Names</h5>
                    <p class="text-muted">@if (User.IsInRole(PrimaryRole.Admin))
                    {
                        @PrimaryRole.Admin
                    }
                    @if (User.IsInRole(PrimaryRole.Applicant)) { 
                        @PrimaryRole.Applicant
                    }
                    @if (User.IsInRole(PrimaryRole.Student))
                    { 
                    @PrimaryRole.Student
                    }
                    @if(User.IsInRole(PrimaryRole.SuperAdmin))
                            {
                                @PrimaryRole.SuperAdmin
                            }
                    @if(User.IsInRole(PrimaryRole.Staff))
                    {
                        @PrimaryRole.Staff
                    }
                            </p>
                    <p class="text-muted p-2">
                     Created At: &nbsp;   @Model.CreatedAt
                    </p>
                    <div class="">
                        <img width="50" height="30" src="~/@Model.SignaturePhotoPath">
                    </div>
                    <a asp-controller="Home" asp-action="Login" class="btn btn-outline-info btn-rounded mb-3 mt-3">Log out</a>
                </div>
            </div>
    </div>
    <div class="col-lg-9 col-sm-12">
        <div class="card-title tab-2">
            <ul class="nav nav-tabs nav-justified">
                <li class="nav-item">
                    <a class="nav-link active text-primary" href="#profile" data-toggle="tab" aria-expanded="false"><i class="ti-user mr-2"></i>Profile</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-primary" href="#password" data-toggle="tab" aria-expanded="false"><i class="ti-lock mr-2"></i>Change password</a>
                </li>
            </ul>
            <div class="tab-content p-4 bg-white">
                <div class="tab-pane home-text p-4" id="home-6">
                    <img src="../assets/images/logo_sm.png" alt="">
                    <h1>Abno University</h1>
                    <h4 class="text-muted">Sociis natoque penatibus et magnis dis parturient montes.</h4>
                </div>
                <div class="tab-pane active p-4" id="profile">
                    <div class="row justify-content-center">
                        <div class="col-md-12  profile-detail">
                            <div class="text-center">
                                <i class="fa fa-user"></i>
                                <h5>@ViewData["Title"]</h5>
                                <div class="profile-border my-3"></div>
                            
                                <div class="row">
                                    @{ var txt = "Upload";}
                                    @if (!string.IsNullOrEmpty(Model.ProfilePhotoPath))
                                    {
                                        txt = "Update";
                                       
                                    }

                                    <form asp-action="UploadPicture" class="row form-horizontal form-material" enctype="multipart/form-data">
                                        <div class="form-group col-lg-6 col-sm-12 row ">
                                            <label asp-for="ProfilePhotoPath">Passport picture</label>
                                            <input type="file" asp-for="File" class="form-control" required placeholder="passport picture" />
                                            <span asp-validation-for="File" class="text-danger"></span>
                                        </div>
                                        <div class="col-4  mt-4 "><button href="" class="btn btn-success btn-rounded">  @txt Picture</button></div>
                                    </form>

                                    @{ var txtS = "Upload";}
                                    @if (!string.IsNullOrEmpty(Model.SignaturePhotoPath))
                                    {
                                        txt = "Update";
                                       

                                    }

                                    <form asp-action="UploadSignature" class="row form-horizontal form-material" enctype="multipart/form-data">

                                        <div class="form-group col-lg-6 col-sm-12 ">
                                            <label asp-for="SignaturePhotoPath">Signature picture</label>
                                            <input type="file" asp-for="File" class="form-control" required placeholder="passport picture" />
                                            <span asp-validation-for="File" class="text-danger"></span>
                                        </div>
                                        <div class="col-4  mt-4 "><button href="" class="btn btn-success btn-rounded">  @txtS Picture</button></div>
                                    </form>


                                    <form class="row form-horizontal form-material" method="post" asp-action="Index">

                                        <div class="form-group col-lg-6 col-sm-12 ">
                                            <label>Email address</label>
                                            <input type="email" asp-for="Email" class="form-control" required placeholder="email adress" />
                                        </div>

                                        <div class="form-group col-lg-6 col-sm-12 ">
                                            <label>Phone number</label>
                                            <input type="text" asp-for="PhoneNumber" class="form-control" required placeholder="07XXXXXXXX" />
                                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                        </div>


                                        <div class="form-group mb-0 ml-3">
                                            <div>
                                                <button type="submit" class="btn btn-primary btn-rounded waves-effect waves-light">
                                                    Submit
                                                </button>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                               
                            </div>



                        </div>
                    </div>
                </div>

                <!-- password tab -->
                <div class="tab-pane p-4" id="password">
                    <div class="row justify-content-center">
                        <div class="col-md-12  profile-detail">
                            <div class="text-center">
                                <i class="fa fa-lock"></i>
                                <h5>Change account password</h5>
                                <div class="profile-border my-3"></div>
                                <form class="form-horizontal form-material" asp-action="ChangePassword" method="post">
                                    <div class="row">
                                        <div class="form-group col-lg-6 col-sm-12 ">
                                            <label>Current Password</label>
                                            <input  asp-for="changePasswordViewModel.OldPassword"  type="password" class="form-control" required placeholder="" />
                                        </div>

                                        <div class="form-group col-lg-6 col-sm-12 ">
                                            <label>New Password</label>
                                            <input type="password"  asp-for="changePasswordViewModel.NewPassword" class="form-control" required placeholder="" />
                                        </div>

                                        <div class="form-group col-lg-6 col-sm-12 ">
                                            <label>Confirm Password</label>
                                            <input type="password"  asp-for="changePasswordViewModel.ConfirmPassword" class="form-control" required placeholder="" />
                                        </div>

                                        <div class="form-group col-lg-6 col-sm-12 ">
                                        </div>


                                        <div class=""></div>
                                        <div class="form-group mb-0 ml-3">
                                            <div>
                                                <button type="submit" class="btn btn-primary btn-rounded waves-effect waves-light">
                                                    Change Password
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="card m-b-30">
                    <div class="card-body">
                        <h5 class="header-title pb-3">Activities</h5>
                        <div id="user-activities" class="tab-pane">
                            <div class="timeline-2">
                                <div class="time-item">
                                    @if (!Model.Notifications.Any())
                                    {
                                        <div class="ml-6">
                                            <p>No Notifications found at the moment</p>
                                            <p>Check out later</p>
                                        </div>
                                    }
                                    else
                                    {

                                        @foreach (var item in Model.Notifications)
                                        {
                                            <div class="item-info">
                                                <div class="text-muted">@item.DateCreatedStr - @item.Title</div>
                                                <p><strong><a href="#" class="text-info">  @item.Message</strong></p>
                                            </div>
                                            }
                                        }
                                    </div>
                                  




                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--end row-->
    </div>
    </div>
