﻿@model AbnApplicationPortal.Core.Models.SettingsVm.EmailSettingsViewModel
@{
    ViewData["Title"] = "E-Mail Settings";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="page-head">
    <h4 class="mt-2 mb-2 bg-light col-2 rounded p-2">Email settings</h4>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card m-b-30">
            <div class="card-body">
                 
                <form class="form-horizontal form-material" method="post" >
                    <div class="row">
                        <div class="form-group col-lg-4 col-sm-12">
                            <label asp-for="SmtpServer">E-Mail Settings</label>
                            <input type="text" class="form-control  form-control-line" asp-for="SmtpServer" required placeholder="E-Mail Settings" />
                            <span asp-validation-for="SmtpServer" class="text-danger"></span>
                        </div>

                        <div class="form-group col-lg-4 col-sm-12">
                            <label asp-for="SmtpPort">Smtp Port</label>
                            <input type="text" asp-for="SmtpPort" class="form-control" required placeholder="587" />
                            <span asp-validation-for="SmtpPort" class="text-danger"></span>
                        </div>

                        <div class="form-group col-lg-4 col-sm-12">
                            <label asp-for="SmtpUsername">Smtp Username</label>
                            <input type="text" asp-for="SmtpUsername" class="form-control" required placeholder="abnnotifier@gmail.com" />
                            <span asp-validation-for="SmtpUsername" class="text-danger"></span>
                        </div>

                        <div class="form-group col-lg-4 col-sm-12">
                            <label asp-for="SmtpPassword">Smtp Password</label>
                            <input type="password" asp-for="SmtpPassword" class="form-control" required placeholder="Shalom123.#" />
                            <span asp-validation-for="SmtpPassword" class="text-danger"></span>
                        </div>

                        <div class="form-group col-lg-4 col-sm-12">
                            <label asp-for="SenderFromEmail">Sender from Email</label>
                            <input type="text" asp-for="SenderFromEmail" class="form-control" required placeholder="abnnotifier@gmail.com" />
                            <span asp-validation-for="SenderFromEmail" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4 col-sm-12">
                            <label asp-for="SenderFromName">Sender from Name</label>
                            <input type="text" asp-for="SenderFromName" class="form-control" required placeholder="Sender from name" />
                            <span asp-validation-for="SenderFromName" class="text-danger"></span>
                        </div>

                        <div class="col-lg-12">
                            <b>Socket Options:</b><br />
                            <div class="form-check-inline my-1">
                                <ul style="list-style-type: none;">

                                    @foreach (var item in Model.Options())
                                    {
                                        <li>

                                            <label class="cr-styled" for="@item.Id">
                                                <input type="radio" asp-for="SocketOptions" id="@item.Id" value="@item.Id">
                                                <i class="fa"></i>
                                                @item.Text
                                            </label>

                                        </li>
                                    }
                                </ul>
                            </div>

                                </div>
                        <div class="form-group mt-4 mb-0 col-lg-4 col-sm-12 offset-4">
                            <a class="btn btn-outline-primary btn-rounded waves-effect waves-light" asp-action="SendTestEmail" ><i class="fa fa-paper-plane"></i>
                                Send Test Email
                            </a>
                            <button type="submit" class="btn btn-primary btn-rounded waves-effect waves-light ml-3">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>