﻿@model AbnApplicationPortal.Core.Models.SettingsVm.ClientSettingsViewModel
@{
    ViewData["Title"] = "Instance Settings";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="page-head">
    <h4 class="mt-2 mb-2 bg-light col-2 rounded p-2">Instance settings</h4>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card m-b-30">
            <div class="card-body">

                <form class="form-horizontal form-material" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="form-group col-lg-4 col-sm-12">
                            <label asp-for="ClientName">Names</label>
                            <input type="text" asp-for="ClientName" class="form-control" required placeholder="Names" />
                            <span asp-validation-for="ClientName" class="text-danger"></span>
                        </div>

                        <div class="form-group col-lg-4 col-sm-12">
                            <label asp-for="AppName">Application name</label>
                            <input type="text" asp-for="AppName" class="form-control" required placeholder="Application name" />
                            <span asp-validation-for="AppName" class="text-danger"></span>
                        </div>

                        <div class="form-group col-lg-4 col-sm-12">
                            <label asp-for="File">Logo image</label> &nbsp; <span><img width="40" class="" src="~/@Model.LogoUrl" /></span>
                            <input type="file" asp-for="File" class="form-control" placeholder="Logo image" />
                        </div>

                        <div class="form-group col-lg-4 col-sm-12">
                            <label asp-for="AppVersion">Version</label>
                            <input type="text" asp-for="AppVersion" class="form-control" required placeholder="Version" />
                            <span asp-validation-for="AppVersion" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4 col-sm-12">
                            <label asp-for="ClientCode">Initials</label>
                            <input type="text" asp-for="ClientCode" class="form-control" required placeholder="Initials" />
                            <span asp-validation-for="ClientCode" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4 col-sm-12">
                            <label asp-for="TagLine">Tag line</label>
                            <input type="text" asp-for="TagLine" class="form-control" required placeholder="Tag line" />
                            <span asp-validation-for="TagLine" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4 col-sm-12">
                            <label asp-for="AppRefPrefix">Prefix</label>
                            <input type="text" asp-for="AppRefPrefix" class="form-control" required placeholder="Prefix" />
                            <span asp-validation-for="AppRefPrefix" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4 col-sm-12">
                            <label asp-for="ContactEmail">Contact email</label>
                            <input type="text" asp-for="ContactEmail" class="form-control" required placeholder="Contact email" />
                            <span asp-validation-for="ContactEmail" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4 col-sm-12">
                            <label asp-for="LFImage">Letter footer image</label>&nbsp; <span><img style="width: 100%" src="~/@Model.ImageUrl" /></span>
                            <input type="file" asp-for="LFImage" class="form-control" placeholder="Letter footer image" />
                            <span asp-validation-for="LFImage" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4 col-sm-12 color-ped">
                            <label asp-for="PrimaryColor">Primary color</label>
                            <input type="color" asp-for="PrimaryColor" height="40px" class="colorpicker form-control" required placeholder="Primary color" />
                            <span asp-validation-for="PrimaryColor" class="text-danger"></span>
                        </div>
                        <div class="form-group  col-lg-4 col-sm-12 color-ped">
                            <label asp-for="SecondaryColor">Secondary color  </label>
                            <input type="color" asp-for="SecondaryColor" height="40px" class="colorpicker form-control" />
                            <span asp-validation-for="SecondaryColor" class="text-danger"></span>
                        </div>
                        <div class="col-lg-4 mb-4 "></div>
                        <div class="col-lg-3">
                            <label>
                                <input type="checkbox" asp-for="HasUnisol">
                                <span> Has Unisol?</span>
                            </label>
                        </div>
                        <div class="col-lg-3">
                            <label>
                                <input type="checkbox" asp-for="SimpleProfile">
                                <span> Use a Simple Profile </span>
                            </label>
                        </div>
                        <div class="col-lg-3">
                            <label>
                                <input type="checkbox" asp-for="AllowPartialPayments">
                                <span> Allow partial payments?</span>
                            </label>
                        </div>
                        <div class="col-lg-3">
                            <label>
                                <input type="checkbox" asp-for="ViewSchoolOnly">
                                <span>  Staff view school only?</span>
                            </label>
                        </div>
                        <div class="col-lg-3">
                            <label>
                                <input type="checkbox" asp-for="IsSaga">
                                <span>Is a S.A.G.A institution?</span>
                            </label>
                        </div>

                        <div class="form-group mt-4 mb-0 col-lg-4 col-sm-12">
                            <div>
                                <button type="submit" class="btn btn-primary btn-rounded waves-effect waves-light">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>