﻿@model AbnApplicationPortal.Core.Models.SettingsVm.LayoutSettingViewModel
@{
    ViewData["Title"] = "Layout Settings";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="page-head">
    <h4 class="mt-2 mb-2 bg-light col-2 rounded p-2 text-success">Layout Settings</h4>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card m-b-30">
            <div class="card-body">

                <form class="form-horizontal form-material" enctype="multipart/form-data" method="post">
                    <div class="row">
                        <div class="form-group col-lg-4 col-sm-12">
                            <label asp-for="HomePage">Home page</label>
                            <div>
                                <textarea required class="form-control" asp-for="HomePage" rows="2"></textarea>
                                <span asp-validation-for="HomePage" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group col-lg-4 col-sm-12">
                            <label asp-for="CreateAccount">Create account</label>
                            <div>
                                <textarea required class="form-control" asp-for="CreateAccount" rows="2"></textarea>
                                <span asp-validation-for="CreateAccount" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group col-lg-4 col-sm-12">
                            <label asp-for="FindCourse">Find course</label>
                            <div>
                                <textarea required class="form-control" asp-for="FindCourse" rows="2"></textarea>
                                <span asp-validation-for="FindCourse" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group col-lg-4 col-sm-12">
                            <label asp-for="SubmitApplication">Submit Application</label>
                            <div>
                                <textarea required asp-for="SubmitApplication" class="form-control" rows="2"></textarea>
                                <span asp-validation-for="SubmitApplication" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group col-lg-4 col-sm-12">
                            <label asp-for="ContactUs">Contact Us</label>
                            <div>
                                <textarea required asp-for="ContactUs" class="form-control" rows="2"></textarea>
                                <span asp-validation-for="ContactUs" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group col-lg-4 col-sm-12">
                            <label asp-for="RecommendedCourses">Recommended courses</label>
                            <div>
                                <textarea required asp-for="RecommendedCourses" class="form-control" rows="2"></textarea>
                                <span asp-validation-for="RecommendedCourses" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-12">
                            <label asp-for="CurrentIntakeImage">Home Intake Image</label><span><img width="40" class="" src="~/@Model.CurrentIntakeImage" /></span>
                            <input type="file" asp-for="File" class="form-control" required placeholder="" />
                            <span asp-validation-for="CurrentIntakeImage" class="text-danger"></span>
                        </div> <div class="col-lg-8"></div>

                        <div class="form-group offset-5 mt-4 mb-0 col-lg-2 col-sm-12">
                            <button type="submit" class="btn btn-primary btn-block btn-rounded waves-effect waves-light">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>