﻿@model AbnApplicationPortal.Core.Models.SettingsVm.MpesaSettingsViewModel
@{
    ViewData["Title"] = "Mpesa Settings";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="page-head">
    <h4 class="mt-2 mb-2 bg-light col-2 rounded p-2 text-success">MPESA settings</h4>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card m-b-30">
            <div class="card-body">

                <form class="form-horizontal form-material" method="post" >
                    <div class="row">
                        <div class="form-group col-lg-4 col-sm-12">
                            <label asp-for="BusinessShortCode">Business short code</label>
                            <input type="text" asp-for="BusinessShortCode" class="form-control" required placeholder="" />
                            <span asp-validation-for="BusinessShortCode" class="text-danger"></span>
                        </div>

                        <div class="form-group col-lg-4 col-sm-12">
                            <label asp-for="AbnExpressUrl">ABN Express URL</label>
                            <input type="text" asp-for="AbnExpressUrl" class="form-control" required placeholder="" />
                            <span asp-validation-for="AbnExpressUrl" class="text-danger"></span>
                        </div>

                        <div class="form-group col-lg-4 col-sm-12">
                            <label asp-for="AbnClientId">ABN Client Key (if self-managed)</label>
                            <input type="text" asp-for="AbnClientId" class="form-control" required placeholder="" />
                            <span asp-validation-for="AbnClientId" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4 col-sm-12">
                            <label asp-for="CallBackURL">Call Back URL</label>
                            <input type="text" asp-for="CallBackURL" class="form-control" required placeholder="" />
                            <span asp-validation-for="CallBackURL" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4 col-sm-12">
                            <label asp-for="ConsumerKey">Consumer Key</label>
                            <input type="text" asp-for="ConsumerKey" class="form-control" required placeholder="" />
                            <span asp-validation-for="ConsumerKey" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4 col-sm-12">
                            <label asp-for="ConsumerSecret">Consumer Secret</label>
                            <input type="text" asp-for="ConsumerSecret" class="form-control" required placeholder="" />
                            <span asp-validation-for="ConsumerSecret" class="text-danger"></span>
                        </div>

                        <div class="form-group col-lg-4 col-sm-12">
                            <label asp-for="PassKey">Pass Key</label>
                            <input type="text" asp-for="PassKey" class="form-control" required placeholder="" />
                            <span asp-validation-for="PassKey" class="text-danger"></span>
                        </div>

                        <div class="form-group mt-4 mb-0 col-lg-2 col-sm-12">
                            <button type="submit" class="btn btn-primary btn-rounded btn-block waves-effect waves-light">
                                Submit
                            </button>
                        </div>

                    </div>
                </form>
                @if (!string.IsNullOrEmpty(Model.AbnClientId))
                {
                    <div class="col-lg-4 offset-1 col-sm-12">
                        <a asp-action="PustTestStk" class="btn btn-sm btn-rounded btn-secondary"><i class="fa fa-mobile"></i> Send Test STK Push</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>