﻿@model AbnApplicationPortal.Core.Models.SettingsVm.TestStkViewModel
@{
    ViewData["Title"] = "Test Stk";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="page-head">
    <h4 class="mt-2 mb-2 bg-light col-2 rounded p-2 text-success">@ViewData["Title"]</h4>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card m-b-30">
            <div class="card-body">
                <h3>@ViewData["Title"]</h3>
                <form method="post" autocomplete="off" class="form-horizontal form-material">
                    <div class="row">
                        <div class="form-group col-lg-4 col-sm-12">
                            <label asp-for="Phone"></label> (2547xxxxxxxx)
                            <input class="form-control"
                                   asp-for="Phone" placeholder="2547xxxxxxxx">
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4 col-sm-12">
                            <label asp-for="Amount"></label>
                            <input class="form-control"
                                   asp-for="Amount" placeholder="10">
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4 col-sm-12">
                            <button type="submit" class="btn btn-primary btn-rounded btn-block waves-effect waves-light">
                                Submit
                            </button>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>
