﻿@model AbnApplicationPortal.Core.Models.SettingsVm.SmsSettingsViewModel
@{
    ViewData["Title"] = "SMS Settings";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="page-head">
    <h4 class="mt-2 mb-2 bg-light col-2 rounded p-2 text-success">SMS settings</h4>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card m-b-30">
            <div class="card-body">

                <form class="form-horizontal form-material" action="Sms" method="post">
                    <div class="row">
                        <div class="form-group col-lg-4 col-sm-12">
                            <label asp-for="Username">Username</label>
                            <input type="text" asp-for="Username" class="form-control" required placeholder="ABNO" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>

                        <div class="form-group col-lg-4 col-sm-12">
                            <label asp-for="ApiKey">Api Key</label>
                            <input type="text" asp-for="ApiKey" class="form-control" required placeholder="ABNO" />
                            <span asp-validation-for="ApiKey" class="text-danger"></span>
                        </div>

                        <div class="form-group col-lg-4 col-sm-12">
                            <label asp-for="SenderId">Sender Id</label>
                            <input type="text" asp-for="SenderId" class="form-control" required placeholder="50e190d0197d8a26844464d503bff88767dba28fdaaf9" />
                            <span asp-validation-for="SenderId" class="text-danger"></span>
                        </div>


                        <div class="form-group mt-4 offset-4 mb-0 col-lg-3 col-sm-12">
                            <a type="submit" asp-action="SendTestSms" class="btn btn-outline-primary btn-rounded btn-block waves-effect waves-light"><i class="fa fa-paper-plane"></i>
                                Send Test SMS
                            </a>
                        </div>
                        <div class="form-group mt-4 mb-0 col-lg-2 col-sm-12">
                            <button type="submit" class="btn btn-primary btn-rounded btn-block waves-effect waves-light">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>