﻿@model AbnApplicationPortal.Core.Models.SettingsVm.SoapSettingViewModel
@{
    ViewData["Title"] = "SOAP Settings";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="page-head">
    <h4 class="mt-2 mb-2 bg-light col-2 rounded p-2 text-success">SOAP Settings</h4>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card m-b-30">
            <div class="card-body">

                <form class="form-horizontal form-material" method="post" >
                    <div class="row">
                        <div class="form-group col-lg-4 col-sm-12">
                            <label asp-for="UserName">Username</label>
                            <input type="text" asp-for="UserName" class="form-control" required placeholder="" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>

                        <div class="form-group col-lg-4 col-sm-12">
                            <label asp-for="Password">Password</label>
                            <input type="text" asp-for="Password" class="form-control" required placeholder="" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="form-group col-lg-4 col-sm-12">
                            <label asp-for="Url">Url</label>
                            <input type="text" asp-for="Url" class="form-control" required placeholder="" />
                            <span asp-validation-for="Url" class="text-danger"></span>
                        </div>


                        <div class="form-group offset-4 mt-4 mb-0 col-lg-3 col-sm-12">
                            <button asp-action="SendTestSoap" class="btn btn-outline-primary btn-block btn-rounded waves-effect waves-light"><i class="fa fa-paper-plane"></i>
                                Send test SOAP
                            </button>
                        </div>
                        <div class="form-group mt-4 mb-0 col-lg-2 col-sm-12">
                            <button type="submit" class="btn btn-primary btn-block btn-rounded waves-effect waves-light">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>