﻿@model List<AbnApplicationPortal.Core.Models.IntakeSettingsVm.ClassTypeViewModel>
@{
    ViewData["Title"] = "Class Types";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="page-head">
    <h4 class="mt-2 mb-2 bg-light col-2 rounded p-2">Study Modes</h4>
</div>
<div class="data-table">


    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="card m-b-30">
                <div class="card-body table-responsive">


                    <div class="">
                        <table id="datatable" class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Description</th>

                                </tr>
                            </thead>


                            <tbody>
                                @{ var i = 0;}
                                @foreach (var item in Model)
                                {
                                    i++;
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.Name</td>
                                        <td>@item.Description</td>

                                    </tr>
                                }

                                </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end row-->
</div>     