﻿@model List<AbnApplicationPortal.Core.Models.IntakeSettingsVm.DeferPeriodViewModel>
@{
    ViewData["Title"] = "Defer Periods";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="page-head">
    <h4 class="mt-2 mb-2">KCSE SUBJECTS</h4>
</div>
<div class="data-table">


    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="card m-b-30">
                <div class="card-body table-responsive">
                    <div class="btn btn-info btn-rounded mb-3 ml-3">
                        <a asp-action="EditDeferPeriod" class="text-white ">Add new</a>
                    </div>

                    <div class="">
                        <table id="datatable" class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Status</th>

                                </tr>
                            </thead>


                            <tbody>
                                @{ var i = 0;}
                                @foreach (var item in Model)
                                {
                                    i++;
                                    <tr>
                                        <td> @i</td>
                                        <td> @item.Name</td>
                                        <td> @item.StartDate.ToString("dddd, dd MMMM yyyy")</td>
                                        <td> @item.EndDate.Date.ToString("dddd, dd MMMM yyyy")</td>

                                        <td> @item.Active</td>

                                    </tr>
                                }

                                </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end row-->
</div>    