﻿@model List<AbnApplicationPortal.Core.Models.IntakeSettingsVm.DocumentViewModel>
@{
    ViewData["Title"] = "Documents";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="page-head">
    <h4 class="mt-2 mb-2 bg-light col-2 rounded p-2">@ViewData["Title"]</h4>
</div>
<div class="data-table">
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="card m-b-30 pt-4">
                <div class="col-lg-3 m-3">
                    <a asp-action="EditDocument" class="btn btn-info btn-rounded"><i class="fa fa-plus"></i> Add New</a>

                </div>
                <div class="card-body table-responsive">
                    <div class="table-odd">
                        <table id="datatable" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Category</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                                @{ var i = 0;}
                                @foreach (var item in Model)
                                {
                                    i++;
                                    <tr>
                                        <td> @i</td>
                                        <td> @item.Name</td>
                                        <td>@item.Description</td>
                                        <td> @item.Category</td>
                                        <td>
                                            <div class="row p-1">
                                                <a asp-action="EditDocument" asp-route-id="@item.Id" class="text-primary"><i class="fa fa-edit"></i> Edit</a>
                                                &nbsp;|&nbsp;
                                                <form asp-action="DeleteDocument">
                                                    <input name="Id" value="@item.Id" type="hidden" />
                                                    <button onclick="return confirm('Are you sure you want to delete ?');" class="text-red border-0 bg-white hover:text-red-900 mr-2"> Delete </button>
                                                </form>

                                            </div>
                                        </td>
                                    </tr>
                                }
                                </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>