﻿@model AbnApplicationPortal.Core.Models.IntakeSettingsVm.KcseSubjectViewModel
@{
    ViewData["Title"] = "Edit Subject";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="page-head">
    <!-- <h4 class="mt-2 mb-2 bg-light col-2 rounded p-2">Applicant</h4> -->
    <h4 class="mt-2 mb-2 bg-light col-2 rounded p-2">@ViewData["Title"]</h4>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card m-b-30">
            <div class="card-body">


                <form class="row form-horizontal form-material" method="post">
                    <input asp-for="Id" class="form-control" type="hidden" />
                    <input asp-for="IsEditMode" class="form-control" />
                    <div class="form-group col-lg-4 col-sm-12">
                        <label>Code</label>
                        <input type="number" asp-for="Code" class="form-control" required placeholder="Code" />
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-4 col-sm-12">
                        <label>Name</label>
                        <input type="text" asp-for="Name" class="form-control" required placeholder="Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group col-lg-4 col-sm-12">
                        <label>Abbreviation</label>
                        <input type="text" asp-for="Abbreviation" class="form-control" required placeholder="Abbreviation" />
                        <span asp-validation-for="Abbreviation" class="text-danger"></span>
                    </div>




                    <div class="form-group mb-0 col-lg-4 col-sm-12">
                        <div class="form-check-inline my-2 ">
                            <label class="cr-styled">
                                <input type="checkbox"  asp-for="IsCompulsory" >
                                <i class="fa"></i>
                                Is Compulsory ?
                            </label>
                            <label class="cr-styled">
                                <input type="checkbox"  asp-for="IsMeanGrade" >
                                <i class="fa"></i>
                                Is Mean Grade ?

                            </label>
                        </div>
                        <div>

                        </div>
                    </div>

                    <div class="col-12 row mb-4">
                        <div class="col-2 ml-auto ">
                            <button type="submit" class="btn btn-info waves-effect waves-light">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div> <!-- end col -->


</div> <!-- end row -->  