﻿@model AbnApplicationPortal.Core.Models.IntakeSettingsVm.DeferPeriodViewModel
@{
    ViewData["Title"] = "Edit Deferment Period";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="page-head">
    <h4 class="mt-2 mb-2 bg-light col-2 rounded p-2">@ViewData["Title"]</h4>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card m-b-30">
            <div class="card-body">

                <h4 class="mt-0 header-title">Edit Deferment Period</h4>
                <form class="row form-horizontal form-material" method="post">
                    <input asp-for="Id" class="form-control" />
                    <input asp-for="IsEditMode" class="form-control" />
                    <div class="form-group col-lg-4 col-sm-12">
                        <label>Name</label>
                        <input type="text" asp-for="Name" class="form-control" required placeholder="Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-4 col-sm-12">
                        <label>Period Start Date</label>
                        <input type="Date" class="form-control" asp-for="StartDate" placeholder="Start Date"  />
                        <span asp-validation-for="StartDate" class="text-danger"></span>

                    </div>

                    <div class="form-group col-lg-4 col-sm-12">
                        <label>Period End Date</label>
                        <input type="Date" class="form-control"asp-for="EndDate" placeholder="End Date"/>
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>




                    <div class="form-group mb-0 col-lg-3 col-sm-12">
                        <div class="form-check-inline my-2 ">
                            input asp-for="Active" class="form-checkbox h-5 w-5" />	<label class="ml-5" asp-for="Active"></label>
                            <span asp-validation-for="Active" class="text-danger"></span>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-info waves-effect waves-light">
                                Submit
                            </button>

                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div> <!-- end col -->


</div> <!-- end row -->  