﻿@model AbnApplicationPortal.Core.Models.IntakeSettingsVm.CategoryViewModel
@{
    ViewData["Title"] = "Edit Category";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="page-head">
    <h4 class="mt-2 mb-2 bg-light col-2 rounded p-2">@ViewData["Title"]</h4>
</div>
<div class="row">

    <div class="col-lg-12">
        <div class="card m-b-30">
            <div class="card-body">


                <form class="row form-horizontal form-material" method="post" autocomplete="off">
                    <input asp-for="Id" class="form-control" />
                    <input asp-for="IsEditMode" class="form-control" />

                    <div class="form-group col-lg-4 col-sm-12">
                        <label>Name</label>
                        <input type="text" class="form-control" asp-for="Name" placeholder="Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group col-lg-4 col-sm-12">
                        <label>Description</label>
                        <input type="text" class="form-control" asp-for="Description" placeholder="Description" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="form-group col-lg-4 col-sm-12">
                        <label>Required</label>
                        <select class="select2 form-control mb-3 custom-select" style="width: 100%; height:36px;" id="Owner" name="Owner">
                            <option value="">--select owner--</option>
                            <option value="Enquiry">Enquiries</option>
                            <option value="Appointment">Appointments</option>
                        </select>
                    </div>


                    <div class="form-group mb-0 col-lg-3 col-sm-12">
                        <div>
                            <button type="submit" class="btn btn-info waves-effect waves-light">
                                Submit
                            </button>
                            <a asp-action="Categories" class="btn btn-secondary waves-effect m-l-5">
                                Cancel
                            </a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div> <!-- end col -->


</div> <!-- end row -->  