﻿@model AbnApplicationPortal.Core.Models.IntakeSettingsVm.IntakeSettingsSummaryViewModel
@{
    ViewData["Title"] = "Summary";
    Layout= "/Views/Shared/_Layout.cshtml";
}
    <div class="page-head">
        <h4 class="mt-2 mb-2">@ViewData["Title"]</h4>
    </div>

    <div class="row">
        <div class="col-lg-3 col-sm-6 progress-icon m-b-30">
            <div class="widget-box bg-dark">
                <div class="row d-flex align-items-center ml-1">
                    <div class="col-6 text-white">
                        <h2 class="m-0 counter">@Model.Campuses</h2>
                        <p>Campuses</p>
                    </div>
                    <div class="col-6">
                        <div class="text-right"><i class="mdi mdi-city"></i></div>
                    </div>
                </div>
                <div class="progress mx-auto mt-2" style="width: 90%; height: 8px">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 64%" aria-valuenow="64" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 progress-icon m-b-30">
            <div class="widget-box bg-white">
                <div class="row d-flex align-items-center ml-1">
                    <div class="col-6">
                        <h2 class="m-0 counter">@Model.ClassTypes </h2>
                        <p>Study Modes</p>
                    </div>
                    <div class="col-6">
                        <div class="text-right"><i class="mdi mdi-view-day"></i></div>
                    </div>
                </div>
                <div class="progress mx-auto mt-2" style="width: 90%; height: 8px">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 32%" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-3 progress-icon m-b-30">
            <div class="widget-box bg-dark">
                <div class="row d-flex align-items-center ml-1">
                    <div class="col-6 text-white">
                        <h2 class="m-0 counter">@Model.GradeTypes</h2>
                        <p>Grade Types</p>
                    </div>
                    <div class="col-6">
                        <div class="text-right"><i class="mdi mdi-note-plus-outline"></i></div>
                    </div>
                </div>
                <div class="progress mx-auto mt-2" style="width: 90%; height: 8px">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 57%" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 progress-icon m-b-30">
            <div class="widget-box bg-white">
                <div class="row d-flex align-items-center ml-1">
                    <div class="col-6">
                        <h2 class="m-0 counter">@Model.Programmes </h2>
                        <p>Programmes</p>
                    </div>
                    <div class="col-6">
                        <div class="text-right"><i class="mdi mdi-responsive"></i></div>
                    </div>
                </div>
                <div class="progress mx-auto mt-2" style="width: 90%; height: 8px">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 81%" aria-valuenow="81" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-3 progress-icon m-b-30">
            <div class="widget-box bg-dark">
                <div class="row d-flex align-items-center ml-1">
                    <div class="col-6 text-white">
                        <h2 class="m-0 counter">@Model.Documents</h2>
                        <p>Documents</p>
                    </div>
                    <div class="col-6">
                        <div class="text-right"><i class="mdi mdi-calendar-blank"></i></div>
                    </div>
                </div>
                <div class="progress mx-auto mt-2" style="width: 90%; height: 8px">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 57%" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-3 progress-icon m-b-30">
            <div class="widget-box bg-white">
                <div class="row d-flex align-items-center ml-1">
                    <div class="col-6 text-dark">
                        <h2 class="m-0 counter">@Model.KcseSubjects</h2>
                        <p>KCSE Subjects</p>
                    </div>
                    <div class="col-6">
                        <div class="text-right"><i class="mdi mdi-library-books"></i></div>
                    </div>
                </div>
                <div class="progress mx-auto mt-2" style="width: 90%; height: 8px">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 57%" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>

