﻿@model List<AbnApplicationPortal.Core.Models.IntakeSettingsVm.ProgrammeViewModel>
@{
    ViewData["Title"] = "Programmes";
    Layout = "/Views/Shared/_Layout.cshtml";
}


<div class="page-head row">
    <h4 class="mt-2 ml-3 mb-2 text-success bg-white p-4 col-2">@ViewData["Title"]</h4>
</div>
<div class="data-table">


    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="card m-b-30">
                <div class="card-body table-responsive">



                    <div class="col-lg-12 col-sm-12 mt-4">


                        <table id="datatable" class="table table-borderless">
                            <thead>
                                <tr>
                                    <th>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                @{ var i = 0;}
                                @foreach (var item in Model)
                                {
                                    i++;

                                    <tr>

                                        <td>
                                            <div class="portlet" data-toggle="collapse" href="#@i">
                                                <div class="portlet-heading bg-info">
                                                    <h3 class="portlet-title text-white">
                                                        <span> @i</span>
                                                        <span class="mx-4"> @item.Code</span>
                                                        <span> @item.Name</span>

                                                    </h3>
                                                    <div class="portlet-widgets">

                                                        <a data-parent="#accordion1" class="" aria-expanded="true"><i class="fa fa-minus"></i></a>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>

                                            <div id="@i" class="panel-collapse in collapse" style="">
                                                <div class="portlet-body row">
                                                    <div class="col-6">
                                                        <ul class="list-group list-group-flush">
                                                            <li class="list-group-item"><span class="font-weight-bold">Grade Type</span> : @item.GradeType</li>
                                                            <li class="list-group-item"><span class="font-weight-bold">Period</span> : @item.Period</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-6 border-l">
                                                        <h5 class="font-weight-bold">Requirements</h5>
                                                        @item.Requirements
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>

                        </div>
                </div>
            </div>
        </div>
    </div><!--end row-->
</div>   