﻿@model List<AbnApplicationPortal.Core.Models.IntakeSettingsVm.KcseSubjectViewModel>
@{
    ViewData["Title"] = "Subjects";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="page-head">
    <h4 class="mt-2 mb-2">@ViewData["Title"]</h4>
</div>
<div class="data-table">


    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="card m-b-30">
                <div class="card-body table-responsive">
                    <div class="btn btn-info btn-rounded mb-3 ml-3">
                        <a asp-action="EditSubject" class="text-white ">Add new</a>
                    </div>

                    <div class="">
                        <table id="datatable" class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Abbreviation</th>
                                    <th>Compulsory</th>
                                    <th>Mean Grade</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>


                            <tbody>
                                @{ var i = 0;}
                                @foreach (var item in Model)
                                {
                                    i++;
                                    var mean = item.IsMeanGrade ? "YES" : "NO";
                                    var compulsory = item.IsCompulsory ? "YES" : "NO";
                                <tr>
                                    <td>@i</td>
                                    <td>@item.Code</td>
                                    <td>@item.Name</td>
                                    <td>@item.Abbreviation</td>

                                    <td>@compulsory</td>
                                    <td>@mean</td>
                                    <td>
                                        <div class="row p-1">
                                            <a asp-action="EditSubject" asp-route-id="@item.Id" class="text-primary"><i class="fa fa-edit"></i> Edit</a>

                                            <form asp-action="DeleteSubject">
                                                <input name="Id" value="@item.Id" type="hidden" />
                                                <a href="javascript:void(0)" onclick="return confirm('Are you sure you want to delete ?');" class="text-danger" ><i class="fa fa-trash ml-2"></i> Delete </a>
                                            </form>

                                        </div>
                                      
                                    </td>
                                </tr>
                                }

                                </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end row-->
</div>
<script>

</script>
