﻿@model PaginatedList<UserAccountViewModel>
@{
    ViewData["Title"] = "User Accounts";
    var cPage = ViewData["cPage"].ToString();
    Layout = "/Views/Shared/_Layout.cshtml";
}


<div class="page-head">
    <h4 class="mt-2 mb-2 bg-light col-2 rounded p-2">
        @if (cPage == "Staff")
        {
            <span>Staffs</span>
        }
        else if (cPage == "Admin")
        {
            <span>Administrators</span>
        }
        else if (cPage == "Applicant")
        {
            <span>Applicants</span>
        }
        else { 
            <span>@cPage</span>
        }
    </h4>
</div>
<div class="data-table">
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="card m-b-30 pt-4">
                <div class="col-lg-3 m-3">
                    @if (cPage == "Staff") { 
                        <a class="btn btn-info btn-rounded" asp-action="Create" asp-route-role="@PrimaryRole.Staff"><i class="fa fa-plus"></i> Add New</a>
                    }
                </div>
                <div class="card-body table-responsive">
                    <div class="table-odd">
                        <table id="datatable" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Confirmed</th>
                                    <th>Phone No</th>
                                    <th>Type</th>
                                    <th>Actions</th>

                                </tr>
                            </thead>

                            <tbody>
                                @{ var i = 0;
                                    var index = (Model.PageIndex <= 1) ? 0 : 10 * (Model.PageIndex - 1);
                                }
                                @foreach (var item in Model)
                                {
                                    i++;
                                    var ix = i + index;
                                    var conStatus = item.EmailConfirmed ? "YES" : "NO";
                                    <tr>
                                        <td>@ix</td>
                                        <td>@item.Names</td>
                                        <td>@item.EmailAddress</td>
                                        <td>@conStatus</td>
                                        <td>@item.PhoneNumber</td>
                                        <td>@item.PrimaryType</td>

                                        <td>
                                            <div class="row p-1">
                                                <a asp-action="Edit" asp-route-id="@item.Id" class="text-primary"><i class="fa fa-edit"></i> Edit</a>
                                                <a asp-action="ResetPassword" asp-route-id="@item.Id" class="text-danger mx-1"><i class="fa fa-trash"></i> Reset</a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>