﻿@model RegisterViewModel
@{
    ViewData["Title"] = "Add Account";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="page-head">
    <h4 class="mt-2 mb-2 bg-light col-2 rounded p-2">@ViewData["Title"]</h4>
</div>

<div class="row">
    <div class="col-lg-12 ">
        <div class="card m-b-30">
            <div class="card-body">

                <form class="form-horizontal form-material" method="post">
                    <div asp-validation-summary="All"></div>
                    <div class="row">
                        <div class="form-group col-lg-4 col-sm-12">
                            <label asp-for="Email">Email Address</label>
                            <input type="email" asp-for="Email" class="form-control" required placeholder="Email Address" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-group col-lg-4 col-sm-12">
                            <label asp-for="Password">Create Password</label>
                            <input type="Password" asp-for="Password" class="form-control" required placeholder="Create Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="form-group col-lg-4 col-sm-12">
                            <label asp-for="ConfirmPassword">Confirm password</label>
                            <input type="password" class="form-control" asp-for="ConfirmPassword" required placeholder="Confirm password" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>


                        <div class="form-group ">


                            <div class="col-md-12">

                                <label class="control-label" asp-for="Role">Roles:</label>
                                <div class="form-check-inline ">
                                    @if (User.IsInRole(PrimaryRole.SuperAdmin) || User.IsInRole(PrimaryRole.Admin))
                                    {
                                        <label class="cr-styled" for="example-radio4">
                                            <input type="radio" asp-for="Role" id="example-radio4" value="@PrimaryRole.Admin">
                                            <i class="fa"></i>
                                            @PrimaryRole.Admin
                                        </label>
                                    }
                                <label class="cr-styled" for="example-radio5">
                                    <input type="radio" id="example-radio5" asp-for="Role" value="@PrimaryRole.Staff">
                                    <i class="fa"></i>
                                    @PrimaryRole.Staff
                                </label>
                                    <span asp-validation-for="Role" class="text-danger"></span>
                                </div>
                                <!--  -->
                            </div>
                        </div>
                        <div class="form-group mt-4 mb-0 col-1 offset-3">
                            <button type="submit" class="btn btn-primary btn-rounded waves-effect waves-light">
                                Submit
                            </button>
                        </div> <!--end row-->

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>