﻿@model EditUserAccountViewModel
@{
    ViewData["Title"] = "Edit Account";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="page-head">
    <h4 class="mt-2 mb-2 bg-light col-2 rounded p-2">Edit Account</h4>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card m-b-30">
            <div class="card-body">

                <form class="form-horizontal form-material" method="post">
                    <div class="row">

                        <div class="form-group col-lg-4 col-sm-12">
                            <label asp-for="UserName">Name</label>
                            <input type="text" asp-for="UserName" class="form-control" required placeholder="User Name" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>


                        <div class="form-group col-lg-4 col-sm-12">
                            <label asp-for="EmailAddress">Email Address</label>
                            <input type="email" asp-for="EmailAddress" class="form-control" required placeholder="Email Address" />
                            <span asp-validation-for="EmailAddress" class="text-danger"></span>
                        </div>

                        <div class="form-group col-lg-4 col-sm-12">
                            <label asp-for="PhoneNumber">Phone Number</label>
                            <input type="number" asp-for="PhoneNumber" class="form-control" required placeholder="07xxxxxxxx" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>

                        <div class="form-group ">
                            <div class="col-md-12">

                                <label class="control-label" asp-for="Role">Roles:</label>
                                <div class="form-check-inline ">
                                    @if (User.IsInRole(PrimaryRole.SuperAdmin) || User.IsInRole(PrimaryRole.Admin))
                                    {
                                        <label class="cr-styled" for="example-radio4">
                                            <input type="radio" asp-for="Role" id="example-radio4" value="@PrimaryRole.Admin">
                                            <i class="fa"></i>
                                            @PrimaryRole.Admin
                                        </label>
                                    }
                                    @if (Model.Role.Equals(PrimaryRole.Staff) || User.IsInRole(PrimaryRole.Admin))
                                    {
                                        <label class="cr-styled" for="example-radio5">
                                            <input type="radio" id="example-radio5" asp-for="Role" value="@PrimaryRole.Staff">
                                            <i class="fa"></i>
                                            @PrimaryRole.Staff
                                        </label>
                                    }
                                    @if (Model.Role.Equals(PrimaryRole.Applicant))
                                    {
                                        <label class="cr-styled" for="example-radio6">
                                            <input type="radio" id="example-radio6" asp-for="Role" value="@PrimaryRole.Applicant">
                                            <i class="fa"></i>
                                            @PrimaryRole.Applicant
                                        </label>
                                    }
                                    <span asp-validation-for="Role" class="text-danger"></span>
                                </div>
                                <!--  -->
                            </div>
                            <div class="ml-3">

                                <div class="form-check-inline my-2">
                                    <label asp-for="EmailConfirmed" class="cr-styled">
                                        <input type="checkbox" asp-for="EmailConfirmed">
                                        <i class="fa"></i>
                                        Email Confirmed
                                    </label>
                                    <span asp-validation-for="EmailConfirmed" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group mt-4 mb-0 col-lg-4 col-sm-12 ml-3">
                                <button type="submit" class="btn btn-primary btn-rounded waves-effect waves-light">
                                    Submit
                                </button>
                            </div>
                        </div> <!--end row-->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
