﻿@model AccountCountViewModel
@{
    ViewData["Title"] = "Summary";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="page-head">
    <h4 class="mt-2 mb-2">Summary</h4>
</div>

<div class="row">
    <div class="col-lg-3 col-sm-6 progress-icon m-b-30">
        <div class="widget-box bg-dark">
            <div class="row d-flex align-items-center ml-1">
                <div class="col-6 text-white">
                    <h2 class="m-0 counter">@Model.AdminAccounts</h2>
                    <p>Admin Accounts</p>
                </div>
                <div class="col-6">
                    <div class="text-right">
                        <i class=" mdi mdi-account-star
                                            "></i>
                    </div>
                </div>
            </div>
            <div class="progress mx-auto mt-2" style="width: 90%; height: 8px">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 64%" aria-valuenow="64" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 progress-icon m-b-30">
        <div class="widget-box bg-white">
            <div class="row d-flex align-items-center ml-1">
                <div class="col-6">
                    <h2 class="m-0 counter">@Model.StaffAccounts</h2>
                    <p>Staff Accounts</p>
                </div>
                <div class="col-6">
                    <div class="text-right"><i class="mdi mdi-account-multiple-outline"></i></div>
                </div>
            </div>
            <div class="progress mx-auto mt-2" style="width: 90%; height: 8px">
                <div class="progress-bar bg-success" role="progressbar" style="width: 32%" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-3 progress-icon m-b-30">
        <div class="widget-box bg-dark">
            <div class="row d-flex align-items-center ml-1">
                <div class="col-6 text-white">
                    <h2 class="m-0 counter">@Model.ApplicantAccounts</h2>
                    <p>Applicants</p>
                </div>
                <div class="col-6">
                    <div class="text-right"><i class=" mdi mdi-account-card-details"></i></div>
                </div>
            </div>
            <div class="progress mx-auto mt-2" style="width: 90%; height: 8px">
                <div class="progress-bar bg-info" role="progressbar" style="width: 57%" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
</div>
