﻿@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
}

<div class="page-head">
    <h4 class="mt-2 mb-2 bg-light col-2 rounded p-2">Reset Account</h4>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card m-b-30">
            <div class="card-body">

                <form class="form-horizontal form-material" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input asp-for="Code" type="hidden" />
                    <div class="row">

                        <div class="form-group col-lg-4 col-sm-12">
                            <label asp-for="Email">Email</label>
                            <input type="email" asp-for="Email" class="form-control" required placeholder="User Name" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>


                        <div class="form-group col-lg-4 col-sm-12">
                            <label asp-for="Password">Password</label>
                            <input type="password" asp-for="Password" class="form-control" required placeholder="Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="form-group col-lg-4 col-sm-12">
                            <label asp-for="ConfirmPassword">Confirm Password</label>
                            <input type="password" asp-for="ConfirmPassword" class="form-control" required placeholder="Confirm password" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>


                        <div class="form-group mt-4 mb-0 col-1 offset-5">
                            <button type="submit" class="btn btn-primary btn-rounded waves-effect waves-light">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div> <!--end row-->


        </div>

       
    </div>
</div>