﻿@model KcseScoreDetailViewModel
@inject IDropDownService _dropDownService;
@{
    ViewData["Title"] = "KCSE/Equivalent Scores";
    var tl = Model.IsEditMode ? "Update" : "Add";

    var subjects = await _dropDownService.KcseSubjects();
    if (!Model.IsEditMode)
    {
        foreach (var item in Model.KcseScores)
        {
            var rm = subjects.FirstOrDefault(s => s.Id.Equals(item.SubjectId));
            if (rm != null)
            {
                subjects.Remove(rm);
            }
        }
    }
}
<div class="container-fluid">
    <div class="page-head">
        <h4 class="mt-2 mb-2 bg-light col-2 rounded p-2">
            KCSE/Equivalent Scores
        </h4>
    </div>
    <div class="row">

        <div class="col-12">
            <div class="card m-b-30">
                <div class="card-body">
                    <form class="form-horizontal form-material" method="post" autocomplete="off">
                        <input asp-for="IsEditMode" />
                        <input asp-for="Id" />
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="SubjectId"></label>
                                    <select asp-for="SubjectId" class="select2 form-control mb-3 custom-select" style="width: 100%; height:36px;">
                                        <option value="">--select Level--</option>
                                        @foreach (var item in subjects)
                                        {
                                            <option value="@item.Id.ToString()" title="@item.Code">@item.Name</option>
                                        }
                                    </select>
                                    <span asp-validation-for="SubjectId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="GradeId"></label>
                                    <select asp-for="GradeId" class="select2 form-control mb-3 custom-select" style="width: 100%; height:36px;">
                                        <option value="">--select Level--</option>
                                        @foreach (var item in await _dropDownService.KcseGrades())
                                        {
                                            <option value="@item.Id" title="@item.Code">@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Points</label>
                                    <input asp-for="Points" class="form-control" placeholder="0.00" />
                                    <span asp-validation-for="Points" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group mb- col-4 offset-5">
                            <a asp-action="Index" class="btn btn-danger btn-rounded waves-effect m-l-5"><i class="fa fa-times"></i>Cancel</a>

                            <button type="submit" class="btn btn-primary btn-rounded waves-effect waves-light">
                              <i class="fa fa-plus"></i>  @tl
                            </button>
                           
                            <div>

                            </div>
                        </div>
                    </form>
                    <div class="card-body table-responsive">
                        <div class="table-odd">
                            <table id="datatable" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Code</th>
                                        <th>Subject</th>
                                        <th>Grade</th>
                                        <th>Points</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @if (!Model.KcseScores.Any())
                                    {
                                        <tr>
                                            <td class="px-6 py-16 whitespace-no-wrap text-center  text-md text-gray-500" colspan="5" rowspan="6">
                                                You have not updated your KCSE scores
                                            </td>
                                        </tr>
                                    }
                                    @foreach (var item in Model.KcseScores)
                                    {
                                        <tr>
                                            <td>@item.SubjectCode</td>
                                            <td>@item.SubjectName</td>
                                            <td>@item.Grade</td>
                                            <td>@item.Points</td>
                                            <td>
                                                <div class="row p-1">
                                                    <a asp-action="Index" asp-route-id="@item.Id" class="text-primary"><i class="fa fa-edit"></i> Edit </a>
                                                    <a asp-action="Delete" class="text-danger"><i class="fa fa-trash"></i> Delete</a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end col -->


    </div> <!-- end row -->

</div><!--end container-->
