﻿@model KcseCertificateViewModel
@{
    ViewData["Title"] = "Upload";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="page-head">
        <div class="col-md-8">
            @if (!string.IsNullOrEmpty(Model.PathUrl))
            {
                var url = Model.FullPathUrl;
                <object data="@url" type="application/pdf" width="100%" height="500px">
                    alt : <a href="@url">click to view</a>
                </object>
            }
            else
            {
                <p> <i class=" fa fa-exclamation-triangle"></i> No document uploaded.</p>
            }

        </div>
    </div>
    <div class="row">

        <div class="col-12">
            <div class="card m-b-30">
                <div class="card-body">
                    @{ var txt = "Upload";}
                    @if (!string.IsNullOrEmpty(Model.FullPathUrl))
                    {
                        txt = "Update";
                    }
                    <br />
                    <form class="row" method="post" enctype="multipart/form-data">
                        <section class="mt-3 ">
                            <div class="form-group row">
                                <div class="form-group col-4 ">
                                    <label asp-for="PathUrl"></label>
                                    <input asp-for="File" class="form-control" required accept="application/pdf" />
                                </div>
                                <span asp-validation-for="File" class="text-danger"></span>
                                <div class="col-4  mt-4 "><button class="btn btn-primary" type="submit">@txt</button></div>
                            </div>
                        </section>

                    </form>

                </div>
            </div>
        </div> <!-- end col -->


    </div> <!-- end row -->

</div><!--end container-->