﻿@model PaginatedList<PaymentViewModel>
@{
    ViewData["Title"] = "Payments";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="page-head">
    <span class="mt-2 mb-2 bg-light col-2 rounded p-2 text-success" style="font-weight:bold; font-size:18px ">@ViewData["Title"]  </span> <span class="alert-info p-2">[@ViewData["Total"]]</span> 
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card m-b-30">
            <div class="card-body">

                <form  class="form-horizontal form-material" method="get" autocomplete="off">
                    <div class="row">
                        <div class="form-group col-lg-2 col-sm-12">
                            <label>Search</label>
                            <input type="text" name="SearchString" class="form-control" placeholder="Search .." value="@ViewData["CurrentFilter"]"  />
                        </div>

                        <div class="form-group col-lg-3 col-sm-12">
                            <label>Start Date</label>
                            <input type="date" name="StartDate" class="form-control" placeholder="Start Date" value="@ViewData["StartDate"]" />
                        </div>

                        <div class="form-group col-lg-3 col-sm-12">
                            <label>End Date</label>
                            <input type="date"  name="EndDate" class="form-control" placeholder="End Date" value="@ViewData["EndDate"]" />
                        </div>


                        <div class="form-group mt-4 mb-0 col-lg-2 col-sm-12">

                            <button type="submit" class="btn btn-primary btn-block btn-rounded waves-effect waves-light" >
                                <i class="fa fa-search"></i> Search
                            </button>

                        </div>

                        <div class="form-group mt-4 mb-0 col-lg-2 col-sm-12">



                            <button type="submit" class="btn btn-dark btn-block btn-rounded waves-effect waves-light" asp-action="Export">
                                <i class="fa fa-download"></i> Export Excel
                            </button>
                        </div>

                        <div class="col-lg-12">
                            <div class="data-table mt-4">
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12">
                                        <div class="card m-b-30 pt-4">
                                            <div class="card-body table-responsive">
                                                <div class="table-odd">
                                                    <table id="datatable" class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>PAYMENT REF #</th>
                                                                <th>APPLICATION #</th>
                                                                <th>REF NO.</th>
                                                                <th>MODE/PHONE NO.</th>
                                                                <th>AMOUNT</th>
                                                                <th>DATE</th>
                                                                <th>Status</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            @if (!Model.Any())
                                                            {
                                                                <tr>
                                                                    <td colspan="7" rowspan="6" ><i class="ti-file"></i> No payments made so far </td>
                                                                </tr>
                                                            }

                                                            @foreach (var item in Model)
                                                            {
                                                                var status = item.IsCompleted ? "COMPLETE" : "INCOMPLETE";
                                                                <tr>
                                                                    <td>@item.Reference</td>
                                                                    <td><a title="view application" class="underline text-blue-500" asp-controller="IntakeApplications" asp-action="ViewApplication" asp-route-id="@item.ApplicationId">@item.AppRef</a></td>
                                                                    <td>@item.MpesaReceiptNumber</td>
                                                                    <td>@item.PhoneNumber</td>
                                                                    <td>@item.Amount</td>
                                                                    <td>@item.DateStr</td>
                                                                    <td>@status</td>
                                                                </tr>
                                                            }
                                                            </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>