﻿@model ReturnData<List<PaymentViewModel>>
@{
    ViewData["Title"] = "My Payments";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="page-head">
    <h4 class="mt-2 mb-2 bg-light text-success col-2 rounded p-2">@ViewData["Title"] <i class="mdi mdi-cash text-info mdi-18px"></i></h4>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card m-b-30">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="datatable" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Payment ref#</th>
                                <th>Receipt No.</th>
                                <th>Phone/Mode No.</th>
                                <th>Amount</th>
                                <th>Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (!Model.Data.Any())
                            {
                                <tr>
                                    <td colspan="6" rowspan="6"> <i class="ti-file"></i> No Payment Data </td>
                                </tr>
                            }
                            @foreach (var item in Model.Data)
                            {
                                var status = item.IsCompleted ? "COMPLETE" : "INCOMPLETE";
                                <tr>
                                    <td>@item.AppRef</td>
                                    <td>@item.MpesaReceiptNumber</td>
                                    <td>@item.PhoneNumber</td>
                                    <td>@item.Amount</td>
                                    <td>@item.DateStr</td>
                                    <td>@status</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
