﻿@model List<Notification>
@{
    ViewData["Title"] = "Notifications";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="page-head">
    <h4 class="mt-2 mb-2 bg-light col-2 rounded p-2">Notifications</h4>
</div>

<div class="row">
    
    <div class="col-lg-12">
        <div class="card bg-white m-b-30">
            <div class="card-body">
                @if (!Model.Any())
                {
                    <div class="alert alert-info">No notifications available</div>
                }
                else
                {
                @foreach (var item in Model)
                {
            <h5 class="header-title mb-3">@item.DateCreatedStr - @item.Title</h5>
                    <div>
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            @item.Message
                            <button type="button" class="close btn btn-rounded" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                }

                }
            </div>
        </div>
    </div>
</div>
